<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<aside th:fragment="sidebar (active)" id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item" th:classappend="${active == 'dashboardpaciente' ? 'inactive':''}">
      <a class="nav-link" th:classappend="${active != 'dashboardpaciente' ? 'collapsed':''}" th:href="@{'/administrativo/dashboardpaciente'}">
        <i class="bi bi-grid"></i>
        <span>Pacientes</span>
      </a>
    </li><!-- End Dashboard -->

    <li class="nav-item" th:classappend="${active == 'dashboarddoctores' ? 'inactive':''}">
      <a class="nav-link" th:classappend="${active != 'dashboarddoctores' ? 'collapsed':''}" th:href="@{'/administrativo/dashboarddoctores'}">
        <i class="bi bi-grid"></i>
        <span>Doctores</span>
      </a>
    </li>

    <li class="nav-item" th:classappend="${active == 'nuevopaciente' ? 'active':''}">
      <a class="nav-link" th:classappend="${active != 'nuevopaciente' ? 'collapsed':''}" th:href="@{'/administrativo/nuevopaciente'}">
        <i class="bi bi-person-plus-fill"></i><span>Nuevo Paciente</span>
      </a>
    </li><!-- End Components Nav -->

    <li class="nav-item" th:classappend="${active == 'nuevopaciente' ? 'active':''}">
      <a class="nav-link" th:classappend="${active != 'nuevopaciente' ? 'collapsed':''}" th:href="@{'/administrativo/nuevopaciente'}">
        <i class="bi bi-person-plus-fill"></i><span>Editar Paciente</span>
      </a>
    </li>

    <li class="nav-item" th:classappend="${active == 'perfil' ? 'active':''}">
      <a class="nav-link" th:classappend="${active != 'perfil' ? 'collapsed':''}" th:href="@{'/administrativo/perfil'}">
        <i class="bi bi-person"></i><span>Perfil</span>
      </a>
    </li>

    <li class="nav-item" th:classappend="${active == 'mensajeria' ? 'active':''}">
      <a class="nav-link" th:classappend="${active != 'mensajeria' ? 'collapsed':''}" th:href="@{'/administrativo/mensajeria'}">
        <i class="bi bi-person-plus-fill"></i><span>Mensajeria</span>
      </a>
    </li>

    <li class="nav-item" th:classappend="${active == 'vermensajeria' ? 'active':''}">
      <a class="nav-link" th:classappend="${active != 'vermensajeria' ? 'collapsed':''}" th:href="@{'/administrativo/vermensajeria'}">
        <i class="bi bi-person-plus-fill"></i><span>Ver Mensajeria</span>
      </a>
    </li>

    <li class="nav-item" th:classappend="${active == 'respondermensajeria' ? 'active':''}">
      <a class="nav-link" th:classappend="${active != 'respondermensajeria' ? 'collapsed':''}" th:href="@{'/administrativo/respondermensajeria'}">
        <i class="bi bi-person-plus-fill"></i><span>Responder Mensaje</span>
      </a>
    </li>

    <li class="nav-item" th:classappend="${active == 'enviarmensajeria' ? 'active':''}">
      <a class="nav-link" th:classappend="${active != 'enviarmensajeria' ? 'collapsed':''}" th:href="@{'/administrativo/enviarmensajeria'}">
        <i class="bi bi-person-plus-fill"></i><span>Enviar Mensaje</span>
      </a>
    </li>

    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br>
    <br><br>
    <li class="nav-heading"> ----------------------------------------------- </li>


    <li class="nav-item" th:classappend="${active == 'cerrarSesion' ? 'active':''}">
      <a class="nav-link collapsed" type="button" data-bs-toggle="modal" data-bs-target="#verticalycentered">
        <i class="bi bi-box-arrow-in-right"></i>
        <span>Cerrar Sesión</span>
        <!-- Vertically centered Modal -->

      </a>
    </li>
  </ul>

</aside><!-- End Sidebar-->

<!-- Cerrar Sesion-->
<div class="modal fade" id="verticalycentered" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">¿Seguro que deseas Salir?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal"><a style="color: white" href="pages-login.html" >Salir</a></button>
        <button type="button" class="btn btn-secondary"><a style="color: white" th:href="@{'/administrativo'}" >Cancelar</a></button>
      </div>
    </div>
  </div>
</div><!-- End Vertically centered Modal-->
</body>
</html>