<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<aside th:fragment="sidebar (active)" id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item" th:classappend="${active == 'dashboard' ? 'active':''}">
      <a class="nav-link" th:classappend="${active != 'dashboard' ? 'collapsed':''}" th:href="@{'/administrativo/dashboard'}">
        <i class="bi bi-house"></i>
        <span>Dashboard</span>
      </a>
    </li>

    <li class="nav-item" th:classappend="${active == 'registrar' ? 'active':''}">
      <a class="nav-link" th:classappend="${active != 'registrar' ? 'collapsed':''}" th:href="@{'/administrativo/nuevopaciente'}">
        <i class="bi bi-card-checklist"></i><span>Registrar</span>
      </a>
    </li>

    <li class="nav-item" th:classappend="${active == 'perfil' ? 'active':''}">
      <a class="nav-link" th:classappend="${active != 'perfil' ? 'collapsed':''}" th:href="@{'/administrativo/perfil'}">
        <i class="bi bi-person"></i><span>Perfil</span>
      </a>
    </li>


    <li class="nav-heading"> ----------------------------------------------- </li>


    <li class="nav-item">
      <a class="nav-link collapsed" type="button" data-bs-toggle="modal" data-bs-target="#verticalycentered">
        <i class="bi bi-box-arrow-in-right"></i>
        <span>Cerrar Sesión</span>
        <!-- Vertically centered Modal -->
      </a>
    </li>
  </ul>

</aside><!-- End Sidebar-->

</body>
</html>