<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:insert="superadmin/fragments_spa/librerias_spa.html :: cabecera (titulo = 'configuraciones')">
    <style>
        /* Estilos para el modo claro */
        [data-modo="1"] {
            background-color: #ffffff;
            color: #000000;
        }

        /* Estilos para el modo oscuro */
        [data-modo="0"] {
            background-color: #222222;
            color: #ffffff;
        }
    </style>

</head>

<body>

<!-- ======= Header ======= -->
<header th:replace="superadmin/fragments_spa/header_spa.html :: header(num_not = '3', num_form = '2 ', por_canc = '1', nombre = |${session.usuario.nombres} ${session.usuario.apellidos} (${session.usuario.tipodeusuario.nombre.toUpperCase()})|, num_men = '3', id=${session.usuario.idusuario})">
</header>
<!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside th:replace="superadmin/fragments_spa/aside_spa.html :: sidebar (active = 'configuraciones')">
</aside>
<div th:replace="superadmin/fragments_spa/modalCerrarSesion.html::modal">

</div>
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Configuraciones UI</h1>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-20">

                <div class="card">
                    <div class="card-body">
                        <!-- Default Table -->
                        <h5 class="card-title">            </h5>


                        <form class="row g-3" method="post" th:action="@{'/superadmin/editarUI'}" >
                            <div class="col-12">
                                <label class="form-label" for="modo" style="color: #012970">Cambia la apariencia de la página</label>
                                <div class="col-12">
                                        <select class="form-select" name="tema" aria-label="Default select example" id="modo" onchange="cambiarModo()">
                                            <option selected>Elige</option>
                                            <option value="1">Claro</option>
                                            <option value="0">Oscuro</option>
                                        </select>
                                </div>
                            </div>

                            <div>
                                <label class="form-label" style="color: #012970">Personalizar Interfaz de Usuario</label>
                                <div class="row">
                                    <div class="col-10 d-flex align-items-center justify-content-start">
                                        <label class="col-form-label">Selecciona un usuario:</label>
                                        <select class="form-select" name="idRol" aria-label="Default select example" required>

                                            <option value="1">Superadmin</option>
                                            <option value="2">Administrador</option>
                                            <option value="3">Administrativo</option>
                                            <option value="4">Paciente</option>
                                            <option value="5">Doctor</option>
                                        </select>
                                    </div>
                                    <div class="col-2 d-flex align-items-center justify-content-start">
                                        <label class="col-form-label" style="margin-right: 5px;">Selecciona el color:  </label>
                                        <input type="color" name="color" class="form-control form-control-color" id="exampleColorInput" value="#4154f1" title="Choose your color" required>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <label class="form-label" style="color: #012970">Sube una imagen de fondo</label>
                                <div>
                                    <div class=" mb-3">
                                        <label class="col-sm-2 col-form-label">Subir Imagen</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" name="imagen" type="file" id="formFile">
                                        </div>
                                        <div>
                                            <label class="col-sm-2 col-form-label">Elige Sede</label>
                                            <select class="form-select" name="sede" aria-label="Default select example">
                                            <option selected>Elige</option>
                                            <option value="1">San Miguel</option>
                                            <option value="2">San Borja</option>
                                            <option value="3">Lince</option>

                                        </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary" style="color: white">Guardar Cambios</button>
                                <button type="reset" class="btn btn-secondary"><a style="color: white" th:href="@{'/superadmin/configuracion'}">Cancelar</a></button>
                            </div>

                        </form>
                        <!-- End Default Table Example -->

                    </div>

                </div>


            </div>

        </div>
    </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>Clīnica LA FE</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script>
    // Verificar si el modo está almacenado en el almacenamiento local (localStorage)
    // Si no se encuentra, establecer el modo predeterminado como '1' (claro)
    var modoActual = localStorage.getItem('modo');
    if (modoActual) {
        document.documentElement.setAttribute('data-modo', modoActual);
    } else {
        document.documentElement.setAttribute('data-modo', '1');
    }

    // Función para cambiar el modo
    function cambiarModo() {
        var modoSeleccionado = document.getElementById('modo').value;
        document.documentElement.setAttribute('data-modo', modoSeleccionado);

        // Almacenar el modo seleccionado en el almacenamiento local
        localStorage.setItem('modo', modoSeleccionado);
    }

    // Al cerrar la sesión, no hay necesidad de borrar el modo almacenado
    // para mantener la preferencia en la próxima sesión
</script>
<script th:src="@{'dark_web.js'}"></script>
<script th:src="@{'/assets/vendor/apexcharts/apexcharts.min.js'}"></script>
<script th:src="@{'/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'}"></script>
<script th:src="@{'/assets/vendor/chart.js/chart.min.js'}"></script>
<script th:src="@{'/assets/vendor/echarts/echarts.min.js'}"></script>
<script th:src="@{'/assets/vendor/quill/quill.min.js'}"></script>
<script th:src="@{'/assets/vendor/simple-datatables/simple-datatables.js'}"></script>
<script th:src="@{'/assets/vendor/tinymce/tinymce.min.js'}"></script>
<script th:src="@{'/assets/vendor/php-email-form/validate.js'}"></script>

<!-- Template Main JS File -->
<script th:src="@{'/assets/js/main.js'}"></script>

</body>

</html>