<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Registro Referido</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link th:href="@{/assets/img/favicon.png}" rel="icon">
  <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link th:href="@{'/assets/vendor/bootstrap/css/bootstrap.min.css'}" rel="stylesheet">
  <link th:href="@{'/assets/vendor/bootstrap-icons/bootstrap-icons.css'}" rel="stylesheet">
  <link th:href="@{'assets/vendor/boxicons/css/boxicons.min.css'}" rel="stylesheet">
  <link th:href="@{'/assets/vendor/quill/quill.snow.css'}" rel="stylesheet">
  <link th:href="@{'/assets/vendor/quill/quill.bubble.css'}" rel="stylesheet">
  <link th:href="@{'/assets/vendor/remixicon/remixicon.css'}" rel="stylesheet">
  <link th:href="@{'/assets/vendor/simple-datatables/style.css'}" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
  <script th:src="@{'/assets/js/app.js'}"></script>
  <script th:src="@{'/assets/js/main.js'}"></script>

  <!-- Template Main CSS File -->
  <link th:href="@{'/assets/css/style.css'}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.4.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <style>
    /* Estilos para el modal */
    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
      background-color: #fefefe;
      margin: 10% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
      max-width: 800px;
      max-height: 80vh;
      overflow-y: auto;
    }

    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
      cursor: pointer;
    }

    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  </style>
</head>

<body>


<main>

  <div class="container">
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-8 d-flex flex-column align-items-center justify-content-center">

            <div class="d-flex justify-content-center py-4">
              <a th:href="@{'/'}" class="logo d-flex align-items-center w-auto">
                <img th:src="@{'/assets/img/logo.png'}" alt="">
                <span class="d-none d-lg-block">Clínica LA FE</span>
              </a>
            </div><!-- End Logo -->

            <div class="col-sm-8 mb-8 mb-sm-0">

              <div class="card">

                <div class="card-body">

                  <h5 class="card-title text-center pb-0 fs-4">Formulario Referido</h5>
                  <p class="text-center small">Has sido invitado a registrarte, rellena tus datos que faltan</p>

                  <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>

                  <form method="post" th:action="@{/registroreferido}" th:object="${usuario}" class="mt-2">
                    <div class="row mb-3">
                      <label class="col-sm-12 col-form-label">Nombre</label>
                      <div class="col-sm-12">
                        <input type="text" id="nombres" class="form-control" th:field="*{nombres}" th:classappend="${(#fields.hasErrors('nombres')?'is-invalid':'')}" required>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('nombres')}" th:errors="*{nombres}" ></div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label class=" col-sm-12 col-form-label">Apellidos</label>
                      <div class="col-sm-12">
                        <input type="text" id="apellidos" class="form-control" th:field="*{apellidos}" th:classappend="${#fields.hasErrors('apellidos')?'is-invalid':''}" required>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('apellidos')}"
                             th:errors="*{apellidos}" ></div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label class="col-sm-12 col-form-label">DNI</label>
                      <div class="col-sm-12">
                        <input type="number" id="dni" class="form-control" th:field="*{dni}" th:classappend="${#fields.hasErrors('dni')?'is-invalid':''}" required>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('dni')}"
                             th:errors="*{dni}" ></div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label class="col-sm-12 col-form-label">Celular</label>
                      <div class="col-sm-12">
                        <input type="number" id="celular" class="form-control" th:field="*{celular}" th:classappend="${#fields.hasErrors('celular')?'is-invalid':''}" required>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('celular')}"
                             th:errors="*{celular}" ></div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label class="col-sm-12 col-form-label">Correo</label>
                      <div class="col-sm-12">
                        <input type="text" class="form-control" th:field="*{correo}" th:classappend="${#fields.hasErrors('correo')?'is-invalid':''}" required>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('correo')}"
                             th:errors="*{correo}" ></div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label class="col-sm-12 col-form-label">Genero</label>
                      <div class="col-sm-12">
                        <select name="genero" class="form-select" required>
                          <option th:value="Masculino">Masculino</option>
                          <option th:value="Femenino">Femenino</option>
                        </select>
                      </div>
                    </div>


                    <div class="row mb-3">
                      <label  class="col-sm-12 col-form-label">Sede</label>
                      <div class="col-sm-12">
                        <select  class="form-select" name="sede">
                          <option th:each="sede : ${listasedes}" th:text="${sede.getNombre()}"
                                  th:value="${sede.getIdsede()}"></option>
                        </select>
                      </div>
                    </div>


                    <div class="row mb-3">
                      <label  class="col-sm-12 col-form-label">Contraseña</label>
                      <div class="col-sm-12">
                        <input type="password"  class="form-control" id="input1" name="contrasena" required>
                        <div class="invalid-feedback">Por favor ingrese una contraseña</div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label  class="col-sm-12 col-form-label">Confirmar Contraseña</label>
                      <div class="col-sm-12">
                        <input type="password"  class="form-control" id="input2" required>
                        <div class="invalid-feedback">Ingrese de nuevo su contraseña</div>
                      </div>
                    </div>

                    <span class="d-block pb-3">Firma digital aqui</span>
                    <div class="signature mb-3" style="width: 100%; height: 200px;" >
                      <canvas id="signature-canvas"
                              style="border: 1px dashed red; width: 100%; height: 200px;"></canvas>
                      <div class="invalid-feedback">Por favor, complete la firma digital</div>
                    </div>

                    <div class="row mb-3">

                      <div class="col-12">
                        <center>
                          <input type="checkbox" id="terminos" name="terminos" required>

                          <p>Por favor, lea los siguientes <a style="font-weight: bolder; color: #4154F1 " id="openModal">Términos y Condiciones</a> antes de utilizar nuestros servicios.</p>

                        </center>


                      </div>



                    </div>

                    <!-- Modal -->
                    <div id="modal" class="modal">
                      <div class="modal-content">
                        <span class="close">&times;</span>
                        <h2>Términos y Condiciones de la Clínica La Fe</h2>
                        <p>Bienvenido(a) a nuestra Clínica. Antes de utilizar nuestros servicios, lea detenidamente los siguientes Términos y Condiciones, ya que establecen los derechos y responsabilidades tanto de usted como de nuestra clínica.</p>
                        <p>1. Aceptación de los Términos y Condiciones: Al acceder y utilizar los servicios de nuestra clínica, usted acepta cumplir con estos Términos y Condiciones en su totalidad. Si no está de acuerdo con alguno de los términos, le recomendamos que no utilice nuestros servicios.</p>
                        <p>2. Información Médica: Nuestra clínica proporciona servicios médicos profesionales. Toda la información médica proporcionada a través de nuestra clínica se ofrece únicamente con fines informativos y no pretende sustituir el consejo médico profesional. Consulte siempre a un médico calificado para obtener un diagnóstico o tratamiento adecuado.</p>
                        <p>3. Confidencialidad: Respetamos su privacidad y nos comprometemos a mantener la confidencialidad de su información médica. Sin embargo, en ciertos casos, podemos revelar su información personal de acuerdo con las leyes y regulaciones aplicables.</p>
                        <p>4. Responsabilidad: Nuestra clínica se esfuerza por brindar servicios de la más alta calidad. Sin embargo, no podemos hacernos responsables de cualquier daño, pérdida o lesión resultante del uso de nuestros servicios, a menos que sea causado por nuestra negligencia.</p>
                        <p>5. Reservas y Cancelaciones: Para programar una cita, le recomendamos que llame con anticipación para asegurarse de la disponibilidad. Si necesita cancelar o reprogramar su cita, le pedimos que nos avise con al menos 24 horas de antelación. Nos reservamos el derecho de cobrar una tarifa por cancelaciones tardías o citas perdidas.</p>
                        <p>6. Pago de los Servicios: Nuestra clínica cobra por los servicios médicos proporcionados. Los precios y métodos de pago se establecerán de acuerdo con nuestras políticas internas. Todos los pagos deben realizarse en el momento de recibir los servicios, a menos que se acuerde lo contrario.</p>
                        <p>7. Propiedad Intelectual: Todos los contenidos, materiales y derechos de propiedad intelectual asociados con nuestra clínica son propiedad exclusiva de la misma. No se permite la reproducción, distribución o uso no autorizado de dichos materiales sin nuestro consentimiento por escrito.</p>
                        <p>8. Modificaciones: Nos reservamos el derecho de modificar o actualizar estos Términos y Condiciones en cualquier momento. Cualquier cambio será efectivo tan pronto como se publique en nuestro sitio web. Le recomendamos que revise periódicamente estos términos para mantenerse informado.</p>
                        <p>9. Ley Aplicable: Estos Términos y Condiciones se regirán e interpretarán de acuerdo con las leyes del país en el que se encuentra nuestra clínica.</p>
                        <p>Al utilizar nuestros servicios, usted reconoce y acepta estos Términos y Condiciones en su totalidad. Si tiene alguna pregunta o inquietud, no dude en ponerse en contacto con nosotros. Agradecemos su confianza en nuestra clínica y esperamos brindarle una atención médica de calidad.</p>
                        <!-- Agrega el resto del texto de los Términos y Condiciones aquí -->

                        <p>Al utilizar nuestros servicios, usted reconoce y acepta estos Términos y Condiciones en su totalidad. Si tiene alguna pregunta o inquietud, no dude en ponerse en contacto con nosotros. Agradecemos su confianza en nuestra clínica y esperamos brindarle una atención médica de calidad.</p>

                      </div>
                    </div>

                    <div id="error-message" style="display: none"></div>

                    <input type="hidden" th:name="estadohabilitado" th:value="1">
                    <input type="hidden" th:name="direccion" th:value="no">
                    <input type="hidden" th:name="tipodeusuario.idtipodeusuario" th:value="4">


                    <br>

                    <div class="text-center">
                      <button type="submit" style="background-color: #4154F1; color: white" class="btn disabled" id="button_submit" >Guardar Cambios</button>

                    </div>
                    <div class="text-center mt-3">
                      <a style="font-weight: bolder; color: #4154F1 " th:href="@{/login}">Ir al inicio de sesión</a>
                    </div>


                  </form>


                </div>
              </div>
            </div>


          </div>
        </div>
      </div>

    </section>

  </div>
</main>


<a class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<script type="application/javascript" th:src="@{'validar.js'}">
</script>
<script>
  // Funciones para mostrar y ocultar el modal
  var modal = document.getElementById("modal");
  var openModal = document.getElementById("openModal");
  var closeModal = document.getElementsByClassName("close")[0];

  openModal.onclick = function() {
    modal.style.display = "block";
  }

  closeModal.onclick = function() {
    modal.style.display = "none";
  }

  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>


<script th:src="@{'/assets/vendor/apexcharts/apexcharts.min.js'}"></script>
<script th:src="@{'/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'}"></script>
<script th:src="@{'/assets/vendor/chart.js/chart.min.js'}"></script>
<script th:src="@{'/assets/vendor/echarts/echarts.min.js'}"></script>
<script th:src="@{'/assets/vendor/quill/quill.min.js'}"></script>
<script th:src="@{'/assets/vendor/simple-datatables/simple-datatables.js'}"></script>
<script th:src="@{'/assets/vendor/tinymce/tinymce.min.js'}"></script>
<script th:src="@{'/assets/vendor/php-email-form/validate.js'}"></script>

<!-- Template Main JS File -->
<script th:src="@{'/assets/js/main.js'}"></script>

</body>

</html>
