<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/librerias.html :: cabecera (titulo = 'index')">
</head>

<body>

<!-- ======= Header ======= -->
<header th:replace="fragments/header.html :: header(num_not = '3', num_form = '2 ', por_canc = '1', nombre = |${superadmin.usuario.nombres} ${superadmin.usuario.apllidos}|, num_men = '3')">
</header>
<!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside th:replace="fragments/aside.html :: sidebar (active = 'index')">
</aside>
<!-- End Sidebar-->

<div class="modal fade" id="verticalycentered" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">¿Seguro que deseas Salir?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal"><a style="color: white" th:href="@{'/superadmin/index'}" >Salir</button>
        <button type="button" class="btn btn-secondary"><a style="color: white" th:href="@{'/superadmin/index'}" >Cancelar</a></button>
      </div>
    </div>
  </div>
</div><!-- End Vertically centered Modal-->
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>

    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>


                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Pacientes Registrados </h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6>15</h6>
                      <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Sales Card -->

            <!-- Revenue Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Pacientes Sin Registrar <span>| This Month</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6>14</h6>
                      <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Revenue Card -->



            <!-- Usuarios Registrados -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">



                <div class="card-body">
                  <h5 class="card-title">Usuarios Registrados <span>| Hoy</span></h5>

                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombres</th>
                        <th scope="col">Rol</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Estado</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"><a href="#">#1</a></th>
                        <td>Brandon Jacob</td>
                        <td>Administrador</td>
                        <td><a th:href="@{'/superadmin/perfilUsuario'}">Editar</a></td>
                        <td><span class="badge bg-success">Activo</span></td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#">#2</a></th>
                        <td>Bridie Kessler</td>
                        <td>Administrativo</td>
                        <td><a th:href="@{'/superadmin/perfilUsuario'}">Editar</a></td>
                        <td><span class="badge bg-success">Activo</span></td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#">#3</a></th>
                        <td>Ashleigh Langosh</td>
                        <td>Paciente</td>
                        <td><a th:href="@{'/superadmin/perfilUsuario'}">Editar</a></td>
                        <td><span class="badge bg-success">Activo</span></td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#">#4</a></th>
                        <td>Angus Grady</td>
                        <td>Doctor</td>
                        <td><a th:href="@{'/superadmin/perfilUsuario'}">Editar</a></td>
                        <td><span class="badge bg-danger">Inactivo</span></td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#">#5</a></th>
                        <td>Raheem Lehner</td>
                        <td>Administrativo</td>
                        <td><a th:href="@{'/superadmin/perfilUsuario'}">Editar</a></td>
                        <td><span class="badge bg-success">Activo</span></td>
                      </tr>
                    </tbody>
                  </table>

                </div>

                <!-- Pagination with icons -->
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </ul>
                </nav><!-- End Pagination with icons -->

              </div>
            </div><!-- End Recent Sales -->



          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">



          <!-- News & Updates Traffic -->
          <div class="card">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>


            </div>

            <div class="card-body pb-0">
              <h5 class="card-title">Noticias y Actualizaciones <span>| Hoy</span></h5>

              <div class="news">
                <div class="post-item clearfix">
                  <img th:src="@{/assets/img/news-1.jpg}" alt="">
                  <h4><a href="#">Sede San Miguel se apertura tras COVID-19</a></h4>
                  <p>El pasado sábado 08 de abril se reaperturó la nueva sede en el distrito de San Miguel...</p>
                </div>

                <div class="post-item clearfix">
                  <img th:src="@{/assets/img/news-2.jpg}" alt="">
                  <h4><a href="#">Doctor Ramirez reconocimiento nacional</a></h4>
                  <p>El Dr. Ramirez recibió un reconocimiento en la Universidad Nacional Mayor de San Marcos..</p>
                </div>

                <div class="post-item clearfix">
                  <img th:src="@{/assets/img/news-3.jpg} ">
                  <h4><a href="#">Nuevas citas para Pediatría y Ginecología</a></h4>
                  <p>Nuestros médicos especialistas están abriendo citas virtuales y presenciales...</p>
                </div>


              </div><!-- End sidebar recent posts-->

            </div>
          </div><!-- End News & Updates -->

        </div><!-- End Right side columns -->

      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Clīnica LA FE</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{'/assets/vendor/apexcharts/apexcharts.min.js'}"></script>
<script th:src="@{'/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'}"></script>
<script th:src="@{'/assets/vendor/chart.js/chart.min.js'}"></script>
<script th:src="@{'/assets/vendor/echarts/echarts.min.js'}"></script>
<script th:src="@{'/assets/vendor/quill/quill.min.js'}"></script>
<script th:src="@{'/assets/vendor/simple-datatables/simple-datatables.js'}"></script>
<script th:src="@{'/assets/vendor/tinymce/tinymce.min.js'}"></script>
<script th:src="@{'/assets/vendor/php-email-form/validate.js'}"></script>

<!-- Template Main JS File -->
<script th:src="@{'/assets/js/main.js'}"></script>

</body>

</html>