<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{superadmin/fragments_spa/librerias_spa.html :: cabecera (titulo = 'editarform')}">
</head>

<body>

<!-- ======= Header ======= -->
<header th:replace="superadmin/fragments_spa/header_spa.html :: header(num_not = '3', num_form = '2 ', por_canc = '1', nombre = |${session.usuario.nombres} ${session.usuario.apellidos} (${session.usuario.tipodeusuario.nombre.toUpperCase()})|, num_men = '3', id=${session.usuario.idusuario})">
</header>
<!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside th:replace="~{superadmin/fragments_spa/aside_spa.html :: sidebar (active = 'editarform')}">
</aside>
<!-- End Sidebar-->
<div th:replace="superadmin/fragments_spa/modalCerrarSesion.html::modal">

</div>
<main id="main" class="main">

<!--    <div class="alert alert-success" role="alert" th:if="${msg != null}" th:text="${msg}">-->
<!--        A simple success alert—check it out!-->
<!--    </div>-->

    <div class="pagetitle">
        <h1>Nueva Plantilla</h1>

    </div><!-- End Page Title -->
    <section class="section">
        <div class="row">
            <div class="col-lg-12">


                <div class="container">


                    <form id="miFormulario">

                        <div class="row">
                            <center class="col">
                                <label for="roles">Seleccione un Tipo de Usuario:</label>
                                <select name="roles" id="roles" class="btn btn-secondary dropdown-toggle mb-3">
                                    <option value="">Seleccione un Tipo de Usuario</option>
                                    <th:block th:each="tipo_usuario : ${tipodeusuarioList}">
                                        <option th:value="${tipo_usuario.idtipodeusuario}" th:text="${tipo_usuario.nombre}"></option>
                                    </th:block>
                                </select>
                            </center>
                            <center class="col">
                                <label for="especialidades">Seleccione una Especialidad:</label>
                                <select name="especialidades" id="especialidades" class="btn btn-secondary dropdown-toggle mb-3">
                                    <option value="">Seleccione una Especialidad</option>
                                    <th:block th:each="especialidad : ${especialidadList}">
                                        <option th:value="${especialidad.idespecialidad}" th:text="${especialidad.nombre}"></option>
                                    </th:block>
                                </select>
                            </center>
                            <center class="col">
                                <label for="tipo_plantilla">Seleccione Tipo de Plantilla:</label>
                                <select name="tipo_plantilla" id="tipo_plantilla" class="btn btn-secondary dropdown-toggle mb-3">
                                    <option value="">Seleccione Tipo de Plantilla</option>
                                    <option value="formulario">Formulario</option>
                                    <option value="informe">Informe</option>
                                    <option value="cuestionario">Cuestionario</option>
                                </select>
                            </center>
                        </div>

                        <div id="inputs" class="mb-3">
                            <label for="nombrePlantilla">Nombre Plantilla:</label>
                            <input type="text" id="nombrePlantilla" name="nombrePlantilla" class="form-control"/>
                        </div>
                        <div class="mb-3">
                            <label for="tituloInput">Título del nuevo input:</label>
                            <input type="text" id="tituloInput" name="tituloInput" class="form-control"/>
                        </div>
                        <center><button class="btn btn-primary" id="botonAgregar" onclick="enviarFormulario()" style="color: white">Agregar input</button>
                        <button class="btn btn-dark" id="enviarConcat" onclick="envioStringConcat()" type="submit" style="color: white">Guardar Plantilla - Informe</button>

                        <!--                        onclick="envioStringConcat()"-->
                        <button type="button" class="btn btn-secondary"><a style="color: white" th:href="@{'/superadmin/listaform'}" >Cancelar</a></button></center>
<!--                        <button type="submit" onclick="envioStringConcat()" value="Enviar"></button>-->
                    </form>
                </div>

                <!-- Bootstrap JS -->
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>


    </section>




</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>Clinica LA FE</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{'/assets/vendor/apexcharts/apexcharts.min.js'}"></script>
    <script th:src="@{'/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'}"></script>
    <script th:src="@{'/assets/vendor/chart.js/chart.min.js'}"></script>
    <script th:src="@{'/assets/vendor/echarts/echarts.min.js'}"></script>
    <script th:src="@{'/assets/vendor/quill/quill.min.js'}"></script>
    <script th:src="@{'/assets/vendor/simple-datatables/simple-datatables.js'}"></script>
    <script th:src="@{'/assets/vendor/tinymce/tinymce.min.js'}"></script>
    <script th:src="@{'/assets/vendor/php-email-form/validate.js'}"></script>

    <!-- Template Main JS File -->
    <script th:src="@{'/assets/js/main.js'}"></script>
    <script>
        function enviarFormulario() {

            var formulario = document.getElementById("miFormulario");
            var inputs = formulario.getElementsByTagName("inputs");

            var inputs_v2 = document.querySelector("#inputs").getElementsByTagName("input");

            var numInputs = inputs_v2.length;
            //
            //
            //
            //

            console.log("Número total de inputs: " + numInputs);
            // document.getElementById("numInputs").value = numInputs;


        }
    </script>
    <script>
        const botonAgregar = document.getElementById("botonAgregar");
        botonAgregar.addEventListener("click", function (event) {
            event.preventDefault();
            const divInputs = document.getElementById("inputs");
            const tituloInput = document.getElementById("tituloInput").value;
            const nuevoInput = document.createElement("div");
            nuevoInput.innerHTML = `
    <label for="${tituloInput}">${tituloInput}:</label>
    <input type="text" id="${tituloInput}" name="${tituloInput}" class="form-control"/>
    <button class="btn btn-danger btn-sm remove-input" title="Remove input"><i class="bi bi-trash"></i></button>
<!--    <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>-->
  `;
            divInputs.appendChild(nuevoInput);
            const botonEliminar = nuevoInput.querySelector('.remove-input');
            botonEliminar.addEventListener('click', function() {
                divInputs.removeChild(nuevoInput);
            });
        });



    </script>
    <script>
        function envioStringConcat() {
            var inputs_v2 = document.querySelector("#inputs").getElementsByTagName("input");
            var nombreplantilla = document.getElementById("nombrePlantilla").value;
            var tipo_plantilla = document.getElementById("tipo_plantilla").value;
            const id_rol = document.getElementById("roles").value;
            const id_especialidad = document.getElementById("especialidades").value;
            const numInputs = inputs_v2.length;
            const nro_inputs = numInputs - 1;
            var datos = "";

            for (var i = 1; i < inputs_v2.length; i++) {
                var input = inputs_v2[i];
                var valor = input.name;
                datos = datos + "|" + valor;
            }
            console.log(datos);
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("POST", "/superadmin/crearPlantillaInforme", true);
            xmlhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xmlhttp.onreadystatechange = function() {
                console.log("Estado actual: " + xmlhttp.readyState);
                console.log("Código de estado HTTP: " + xmlhttp.status);
                console.log("datos " + datos);
                console.log("nombreplantilla " + nombreplantilla);
                console.log("id_rol " + id_rol);
                console.log("id_especialidad " + id_especialidad);
                console.log("nro_inputs " + nro_inputs);
                console.log("tipo_plantilla " + tipo_plantilla);

                if (xmlhttp.readyState == XMLHttpRequest.DONE) {
                    if (xmlhttp.status == 200) {
                        // Mostrar mensaje de éxito
                        alert("Plantilla registrada correctamente");

                        // Redireccionar a /superadmin/listaform
                        window.location.replace("/superadmin/listaform");
                    } else {
                        // Mostrar mensaje de error
                        alert("Ha ocurrido un error al registrar la plantilla");
                    }
                }
            };

            xmlhttp.send(
                "datos=" +
                datos +
                "&nombreplantilla=" +
                nombreplantilla +
                "&id_rol=" +
                id_rol +
                "&id_especialidad=" +
                id_especialidad +
                "&nro_inputs=" +
                nro_inputs +
                "&tipo_plantilla=" +
                tipo_plantilla
            );
        }
    </script>

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>ClinicaLAFE</span></strong>. Todos los derechos reservados
    </div>
    <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
        Diseñado por <a style="font-weight: bolder; color:#4154F1 ">Grupo 1</a>
    </div>
</footer><!-- End Footer -->



</body>

</html>