<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="superadmin/fragments_spa/librerias_spa.html :: cabecera (titulo = 'perfilusuario')">

</head>

<body>

<!-- ======= Header ======= -->
<header th:replace="superadmin/fragments_spa/header_spa.html :: header(num_not = '3', num_form = '2 ', por_canc = '1', nombre = |${session.usuario.nombres} ${session.usuario.apellidos} (${session.usuario.tipodeusuario.nombre.toUpperCase()})|, num_men = '3', id=${session.usuario.idusuario})">
</header>
<!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside th:replace="superadmin/fragments_spa/aside_spa.html :: sidebar (active = 'perfilusuario')">
</aside>
<!-- End Sidebar-->
<div th:replace="superadmin/fragments_spa/modalCerrarSesion.html::modal">

</div>
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Perfil Usuario</h1>

    </div><!-- End Page Title -->
    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">

                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                        <img th:src="@{${persona.foto}}" alt="Profile" class="rounded-circle">


                        <h2 th:text="${persona.nombres + ' ' + persona.apellidos}"></h2>
                        <h3 th:text="${persona.tipodeusuario.nombre}"></h3>
                        <div th:if="${psw3!=null}" th:text="${psw3}" class="alert alert-success" role="alert"></div>
                        <div th:if="${psw4!=null}" th:text="${psw4}" class="alert alert-danger" role="alert"></div>
                    </div>
                </div>

            </div>

            <div class="col-xl-8">

                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Vista Previa</button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Editar Perfil</button>
                            </li>

                            <!----
                            <li class="nav-item">
                              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Settings</button>
                            </li> ---->

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Cambiar Contraseña</button>
                            </li>

                        </ul>
                        <div class="tab-content pt-2">

                            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                <!----
                                <h5 class="card-title">About</h5>
                                <p class="small fst-italic">Sunt est soluta temporibus accusantium neque nam maiores cumque temporibus. Tempora libero non est unde veniam est qui dolor. Ut sunt iure rerum quae quisquam autem eveniet perspiciatis odit. Fuga sequi sed ea saepe at unde.</p>
                                --->

                                <h5 class="card-title">Detalles del Perfil</h5>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label" >Nombres</div>
                                    <div class="col-lg-9 col-md-8" th:text="${persona.nombres}"></div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Apellidos</div>
                                    <div class="col-lg-9 col-md-8" th:text="${persona.apellidos}"></div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Correo</div>
                                    <div class="col-lg-9 col-md-8" th:text="${persona.correo}"></div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">DNI</div>
                                    <div class="col-lg-9 col-md-8" th:text="${persona.dni}"></div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Edad</div>
                                    <div class="col-lg-9 col-md-8" th:text="${persona.edad}"></div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Celular</div>
                                    <div class="col-lg-9 col-md-8" th:text="${persona.celular}"></div>
                                </div>

                            </div>

                            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                                <!-- Profile Edit Form -->

                                <form method="post" th:action="@{'/superadmin/actualizarUser'}" th:object="${persona}" class="mt-2">

                                    <input name="idusuario" type="hidden" class="form-control" id="idusuario" th:value="${persona.idusuario}" th:field="${persona.idusuario}">


                                    <div class="row mb-3">
                                        <label for="nombre" class="col-md-4 col-lg-3 col-form-label">Nombre</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="fullName" type="text" class="form-control" id="nombre"  th:field="${persona.nombres}"
                                                   th:classappend="${#fields.hasErrors('nombres')?'is-invalid':''}" required>
                                            <div class="invalid-feedback" th:if="${#fields.hasErrors('nombres')}"
                                                 th:errors="*{nombres}" ></div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="apellido" class="col-md-4 col-lg-3 col-form-label">Apellidos</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="fullName" type="text" class="form-control" id="apellido"  th:field="${persona.apellidos}"
                                                   th:classappend="${#fields.hasErrors('apellidos')?'is-invalid':''}" required>
                                            <div class="invalid-feedback" th:if="${#fields.hasErrors('apellidos')}"
                                                 th:errors="*{apellidos}" ></div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Email" class="col-md-4 col-lg-3 col-form-label">Correo</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input readonly name="email" type="email" class="form-control" id="Email"  th:field="${persona.correo}"
                                                   th:classappend="${#fields.hasErrors('correo')?'is-invalid':''}">
                                            <div class="invalid-feedback" th:if="${#fields.hasErrors('correo')}"
                                                 th:errors="*{correo}" ></div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="dni" class="col-md-4 col-lg-3 col-form-label">DNI</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input readonly name="company" type="text" class="form-control" id="dni"  th:field="${persona.dni}"
                                                   th:classappend="${#fields.hasErrors('dni')?'is-invalid':''}">
                                            <div class="invalid-feedback" th:if="${#fields.hasErrors('dni')}"
                                                 th:errors="*{dni}" ></div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-md-4 col-lg-3 col-form-label">Fecha de Nacimiento</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="fechanacimiento" type="date" class="form-control" id="fechanacimiento" max="2023-07-18" th:field="*{fechanacimiento}" required>
                                            <div class="invalid-feedback" th:if="${#fields.hasErrors('fechanacimiento')}" th:errors="*{fechanacimiento}"></div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label  class="col-md-4 col-lg-3 col-form-label">Celular</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="phone" type="text" class="form-control" id="celular"  th:field="${persona.celular}"
                                                   th:classappend="${#fields.hasErrors('celular')?'is-invalid':''}" maxlength="9" required>
                                            <p id="mensaje"></p>
                                            <div class="invalid-feedback" th:if="${#fields.hasErrors('celular')}"
                                                 th:errors="*{celular}" ></div>
                                        </div>
                                    </div>


<!--                                    <div class="form-check form-switch">-->
<!--                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" th:checked='false' th:field="${usuario.estadohabilitado}" th:value="${usuario.estadohabilitado != null} ? ${usuario.estadohabilitado} : '0'" >-->
<!--                                        <label for="flexSwitchCheckDefault" class="form-check-label">Activo/Inactivo</label>-->
<!--                                    </div>-->

                                    <div class="row mb-3">
                                        <label  class="col-md-4 col-lg-3 col-form-label">Estado Habilitado</label>
                                        <select class="col-md-8 col-lg-9 form-control"  th:value="${persona.estadohabilitado}" th:field="${persona.estadohabilitado}">
                                            <option value="1">Activo</option>
                                            <option value="0">Inactivo</option>
<!--                                            <option th:each="option : ${options}"-->
<!--                                                    th:value="${option.value}"-->
<!--                                                    th:text="${option.label}"-->
<!--                                                    th:selected="${usuario.value == selectedOption}">-->
<!--                                            </option>-->
                                        </select>
                                    </div>



                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                                    </div>


                                </form><!-- End Profile Edit Form -->

                            </div>

                            <div class="tab-pane fade pt-3" id="profile-change-password">


                                <!-- Cambio de contraseña Form -->
                                <form method="post" th:action="@{'/superadmin/changepasswordusuarios'}" onsubmit="return validateForm()" >
                                    <input th:value="${persona.idusuario}" name="id" type="hidden">
                                    <div class="row mb-3">
                                        <label for="contrasena1" class="col-md-4 col-lg-3 col-form-label">Contraseña Actual</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="contrasena1" type="password" class="form-control" id="contrasena1" >
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="newPassword2" class="col-md-4 col-lg-3 col-form-label" >Nueva Contraseña</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="newpassword2" type="password" class="form-control" id="newPassword2" minlength="5">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="renewPassword3" class="col-md-4 col-lg-3 col-form-label">Confirmar nueva contraseña</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="renewpassword3" type="password" class="form-control" id="renewPassword3" minlength="5">
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-success">Cambiar Contraseña</button>
                                    </div>
                                    <div id="error-message" class="alert alert-danger mt-3" style="display: none;"></div>
                                </form><!-- End Change Password Form -->

                                <!-- Funcion para validar -->

                                <script>
                                    var inputTelefono = document.getElementById("celular");
                                    var mensaje = document.getElementById("mensaje");

                                    inputTelefono.addEventListener("input", function() {
                                        var telefono = inputTelefono.value;

                                        if (telefono.length > 9) {
                                            inputTelefono.value = telefono.slice(0, 9);
                                            mensaje.textContent = "Se ha alcanzado el límite de 9 dígitos.";
                                        } else {
                                            mensaje.textContent = "";
                                        }
                                    });
                                </script>
                                <script>
                                    function validateForm() {
                                        var password = document.getElementById("contrasena1").value;
                                        var newPassword = document.getElementById("newPassword2").value;
                                        var renewPassword = document.getElementById("renewPassword3").value;
                                        var nombre = document.getElementById("nombre").value;
                                        var apellido = document.getElementById("apellido").value;
                                        var celular = document.getElementById("celular").value;

                                        if (password === "" || newPassword === "" || renewPassword === "") {
                                            var errorMessage = document.getElementById("error-message");
                                            errorMessage.style.display = "block";
                                            errorMessage.innerHTML = "Debe completar todos los campos";
                                            return false;
                                        }
                                        if (password === newPassword ) {
                                            var errorMessage = document.getElementById("error-message");
                                            errorMessage.style.display = "block";
                                            errorMessage.innerHTML = "La nueva contraseña no puede ser igual a la anterior";
                                            return false;
                                        }
                                        if (renewPassword != newPassword ) {
                                            var errorMessage = document.getElementById("error-message");
                                            errorMessage.style.display = "block";
                                            errorMessage.innerHTML = "No coinciden las contraseñas";
                                            return false;
                                        }
                                        if(password.trim() === "" || newPassword.trim() === "" || renewPassword.trim() === ""){
                                            var errorMessage = document.getElementById("error-message");
                                            errorMessage.style.display = "block";
                                            errorMessage.innerHTML = "No se permiten espacios en blanco.";
                                            return false;
                                        }if(nombre.trim() === "" || apellido.trim() === "" || celular.trim() === ""){
                                            var errorMessage = document.getElementById("error-message");
                                            errorMessage.style.display = "block";
                                            errorMessage.innerHTML = "No se permiten espacios en blanco.";
                                            return false;
                                        }

                                        return true;
                                    }


                                </script>
                                <!-- FIN Funcion para validar -->

                            </div>

                        </div><!-- End Bordered Tabs -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>Clinica LA FE</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{'/assets/vendor/apexcharts/apexcharts.min.js'}"></script>
<script th:src="@{'/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'}"></script>
<script th:src="@{'/assets/vendor/chart.js/chart.min.js'}"></script>
<script th:src="@{'/assets/vendor/echarts/echarts.min.js'}"></script>
<script th:src="@{'/assets/vendor/quill/quill.min.js'}"></script>
<script th:src="@{'/assets/vendor/simple-datatables/simple-datatables.js'}"></script>
<script th:src="@{'/assets/vendor/tinymce/tinymce.min.js'}"></script>
<script th:src="@{'/assets/vendor/php-email-form/validate.js'}"></script>
<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>ClinicaLAFE</span></strong>. Todos los derechos reservados
    </div>
    <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
        Diseñado por <a style="font-weight: bolder; color:#4154F1 ">Grupo 1</a>
    </div>
</footer><!-- End Footer -->
<!-- Template Main JS File -->
<script th:src="@{'/assets/js/main.js'}"></script>

</body>

</html>