<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>
<header th:fragment="header(num_not, num_form, por_canc, nombre, num_men, id)" id="header" class="header fixed-top d-flex align-items-center" style="background-color:#ffd966">

  <div class="d-flex align-items-center justify-content-between">
    <i class="bi bi-list toggle-sidebar-btn"></i> &nbsp &nbsp

    <a th:href="@{'/paciente/'}" class="logo d-flex align-items-center">
      <img th:src="@{/assets/img/logo.png}" alt="">
      <span class="d-none d-lg-block" style="color: white">Clínica LA FE</span>
    </a>



  </div><!-- End Logo -->


  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">
      <div class="clock-container d-flex">
        <div class="clock" id="clock"></div>
      </div>
      <style>
        .clock-container {
          text-align: center;
        }
        .clock {
          font-family: "Comic Sans MS", sans-serif;
          font-size: 25px;
          color: white;
          min-width: 100px;
          padding: 0 20px;
        }
      </style>
      <script>
        function updateClock() {
          var now = new Date();
          var hours = now.getHours();
          var minutes = now.getMinutes();
          var seconds = now.getSeconds();

          // Add leading zeros if needed
          hours = (hours < 10) ? "0" + hours : hours;
          minutes = (minutes < 10) ? "0" + minutes : minutes;
          seconds = (seconds < 10) ? "0" + seconds : seconds;

          // Display the time in the clock element
          var clockElement = document.getElementById("clock");
          clockElement.textContent = hours + ":" + minutes + ":" + seconds;
        }

        // Update the clock every second
        setInterval(updateClock, 1000);
      </script>



      <li class="nav-item dropdown ">
        <a class="nav-link nav-icon" th:href="@{'/paciente/notificaciones'}" >
          <i class="bi bi-bell"></i> </a>
      </li>
      <li class="nav-item dropdown ">
        <a class="nav-link nav-icon" th:href="@{'/paciente/mensajes'}" >
          <i class="bi bi-chat-left-text"></i></a><!-- End Messages Icon -->
      </li>

      <li class="nav-item dropdown">
      <li class="nav-item dropdown">
      <li class="nav-item dropdown pe-3">
        <a class="nav-link nav-profile d-flex align-items-center pe-0" th:href="@{'/paciente/perfil'}">
          <span style="font-family: Nunito" th:text="${nombre}" class="d-none d-md-block  ps-2"></span>
        </a><!-- End Profile Iamge Icon -->

      </li><!-- End Profile Nav -->


        </ul>







  </nav><!-- End Icons Navigation -->
</header>

<!-- End Header -->
<br><br>
<h1>calendario</h1>

</body>
</html>