<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

</head>
<body>
<div th:fragment="modal">
    <div class="modal fade" id="verticalycentered" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">¿Seguro que deseas Salir?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-bs-dismiss="modal"><a style="color: white" th:href="@{'/paciente/'}" >Salir</a></button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><a style="color: white"  >Cancelar</a></button>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>