<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<aside th:fragment="sidebar (active)" id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item" th:classappend="${active == 'dashboard' ? 'inactive':''}">
      <a class="nav-link" th:classappend="${active != 'dashboard' ? 'collapsed':''}" th:href="@{'/doctor/dashboard'}">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard -->

    <li class="nav-item" th:classappend="${active == 'pacientesAtendidos' ? 'active':''}">
      <a class="nav-link collapsed"  th:classappend="${active != 'pacientesAtendidos' ? 'collapsed':''}"
         th:href="@{'/doctor/pacientesatendidos'+ '?id=' + ${doctor.iddoctor}}">
        <i class="bi bi-menu-button-wide"></i>
        <span>Pacientes Atendidos</span>
      </a>
    </li><!-- End Pacientes Atendidos -->

    <li class="nav-item" th:classappend="${active == 'calendario' ? 'active':''}">  <!-- cambia -->
      <a class="nav-link collapsed" th:classappend="${active != 'calendario' ? 'collapsed':''}"
         th:href="@{'/doctor/calendario'}" > <!--+ '?id=' + ${doctor.iddoctor}}"-->
        <i class="bi bi-calendar3"></i>
        <span>Calendario</span>
      </a>
    </li><!-- End Calendario -->

    <li class="nav-item" th:classappend="${active == 'perfil' ? 'active':''}">
      <a class="nav-link collapsed" th:classappend="${active != 'perfil' ? 'collapsed':''}"
         th:href="@{'/doctor/perfil'+ '?id=' + ${doctor.iddoctor}}"  >
        <i class="bi bi-person"></i>
        <span>Perfil</span>
      </a>
    </li><!-- End Perfil -->

    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br>
    <li class="nav-heading"> ----------------------------------------------- </li>

    <li class="nav-item" th:classappend="${active == 'configuracion' ? 'active':''}">
      <a class="nav-link collapsed" th:classappend="${active != 'configuracion' ? 'collapsed':''}"
         th:href="@{'/doctor/configuraciones' + '?id=' + ${doctor.iddoctor}}" >
        <i class="bi bi-gear"></i>
        <span>Configuracion</span>
      </a>
    </li><!-- End Configuracion -->

    <li class="nav-item" th:classappend="${active == 'cerrarSesion' ? 'active':''}">
      <a class="nav-link collapsed" type="button" data-bs-toggle="modal" data-bs-target="#cerrar">
        <i class="bi bi-box-arrow-in-right"></i>
        <span>Cerrar Sesión</span>
        <!-- Vertically centered Modal -->

      </a>
    </li>
  </ul>

</aside><!-- End Sidebar-->

<!-- Cerrar Sesion-->
<div class="modal fade" id="cerrar" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">¿Seguro que deseas Salir? doc</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer"> <!--data-bs-dismiss="modal"-->
        <form th:action="@{/logout}" method="post">
          <button type="submit" class="btn btn-danger">Cerrar sesion</button>
        </form>
        <button type="button" class="btn btn-secondary"><a style="color: white" th:href="@{'/doctor/**'}" >Cancelar</a></button>
      </div>
    </div>
  </div>
</div><!-- End Vertically centered Modal-->
</body>
</html>