<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

</head>
<body>
<div th:fragment="modal">
    <!-- Cerrar Sesion-->
    <div class="modal fade" id="cerrar" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">¿Seguro que deseas Salir?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer"> <!--data-bs-dismiss="modal"-->
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="btn btn-danger">Cerrar sesion</button>
                    </form>
                    <button type="button" class="btn btn-secondary"><a style="color: white" data-bs-dismiss="modal" >Cancelar</a></button>
                </div>
            </div>
        </div>
    </div><!-- End Vertically centered Modal--> End Vertically centered Modal-->
</div>


</body>
</html>