<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>
<header th:fragment="header(num_not, num_form, por_canc, nombre, num_men, sede)" id="header" class="header fixed-top d-flex align-items-center" style="background-color: #81c04d">


  <div class="d-flex align-items-center justify-content-between">
    <i class="bi bi-list toggle-sidebar-btn"></i> &nbsp &nbsp
    <a th:href="@{'/administrador'}" class="logo d-flex align-items-center" style="width: 200px;">
      <img th:src="@{/assets/img/logo.png}" alt="">
      <span class="d-none d-lg-block">Clínica LA FE</span>
    </a>
    <a>
      <span th:text="'(Sede'+ ' ' + ${sede} + ')'" class="d-none d-lg-block" style="color: #18335c"></span>
    </a>
  </div><!-- End Logo -->

  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">

      <li class="nav-item dropdown">
        <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
          <i class="bi bi-bell"></i>
          <span th:text="${num_not}" class="badge bg-primary badge-number"></span>
        </a><!-- End Notification Icon-->

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
          <li class="dropdown-header">
            <p th:text="|Tienes ${num_not} notificaciones |"> </p>
            <!--<a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">Ver todas</span></a>-->
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="notification-item">
            <i class="bi bi-exclamation-circle text-warning"></i>
            <div>
              <h4>Nuevo Paciente Añadido</h4>
              <p>Hace 30 min.</p>
            </div>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li class="notification-item">
            <i class="bi bi-check-circle text-success"></i>
            <div>
              <h4>Nuevo Doctor Añadido</h4>
              <p>Hace 2 hrs.</p>
            </div>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li class="notification-item">
            <i class="bi bi-info-circle text-primary"></i>
            <div>
              <h4>xxxxxxxxxx</h4>
              <p>xxxxxxxxxxx</p>
              <p>Hace 4 hrs.</p>
            </div>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li class="dropdown-footer">
            <a th:href="@{'/administrador/notificaciones'}">Mostrar todas las notificaciones</a>
          </li>
        </ul><!-- End Notification Dropdown Items -->
      </li><!-- End Notification Nav -->

      <li class="nav-item dropdown">

        <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
          <i class="bi bi-chat-left-text"></i>
          <span th:text="${num_men}" class="badge bg-success badge-number">2</span>
        </a><!-- End Messages Icon -->

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
          <li class="dropdown-header">
            <p th:text="|Tienes ${num_men} mensajes nuevos |"> </p>
            <!--<a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">Ver todo</span></a> -->
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li class="dropdown-footer">
            <a th:href="@{'/administrador/mensajes'}">Mostrar todos los mensajes</a>
          </li>
        </ul><!-- End Messages Dropdown Items -->
      </li><!-- End Messages Nav -->
      <li class="nav-item dropdown pe-3">


        <a class="nav-link nav-profile d-flex align-items-center pe-0" th:href="@{'/administrador/perfil'}" >
        <img th:src="@{/assets/img/messages-1.jpg}" alt="Profile" class="rounded-circle">
          <span th:text="|${nombre}|" class="d-none d-md-block ps-2"></span>

        </a><!-- End Profile Iamge Icon -->

      </li><!-- End Profile Nav -->

    </ul>
  </nav><!-- End Icons Navigation -->

</header>

<!-- End Header -->
<br><br>
<h1>calendario</h1>

</body>
</html>