<!DOCTYPE html>
<html lang='en'>

<head th:insert="fragments/administrador/librerias.html :: cabecera (titulo = 'Calendario')">
</head>

<body>
<header th:replace="fragments/administrador/header.html :: header(num_not = '3', num_form = '2 ', por_canc = '1',  nombre = ${session.usuario.nombres} + ' ' + ${session.usuario.apellidos} + ' ' + '(' + ${session.usuario.tipodeusuario.nombre.toUpperCase()} + ')', num_men = '2', sede = |${session.usuario.sede.nombre}|, id=${session.usuario.idusuario})">
</header>

<div class="container" style="margin-left: 310px">
    <aside th:replace="fragments/administrador/aside.html :: sidebar (active = 'dashboard')" class="aside">
    </aside>

    <div class="calendar-card">
        <div id='calendar' class="calendar-container"></div>
    </div>
</div>

<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var eventos = /*[[${eventos}]]*/ 'default';
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth'
        });

        eventos = /*[[${eventos}]]*/ 'default';

        calendar.addEventSource(eventos);
        calendar.render();
    });
</script>

</body>

</html>
