<!DOCTYPE html>
<html lang='en'>

<head th:insert="fragments/administrador/librerias.html :: cabecera (titulo = 'Calendario')">
</head>

<body>
<header th:replace="fragments/administrador/header.html :: header(num_not = '3', num_form = '2 ', por_canc = '1',  nombre = ${session.usuario.nombres} + ' ' + ${session.usuario.apellidos} + ' ' + '(' + ${session.usuario.tipodeusuario.nombre.toUpperCase()} + ')', num_men = '2', sede = |${session.usuario.sede.nombre}|, id=${session.usuario.idusuario})">
</header>

<div class="container" style="margin-left: 310px">
    <aside th:replace="fragments/administrador/aside.html :: sidebar (active = 'calendariogeneral')" class="aside">
    </aside>

    <div class="calendar-card">
        <div id='calendar' class="calendar-container"></div>
    </div>
</div>

<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var eventos = /*[[${eventos}]]*/ 'default';
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            locale: 'es',
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            dayHeaderFormat: {
                weekday: 'long',
                // Mostrar el nombre del día completo con la primera letra en mayúscula
            },
            dayCellContentDidMount: function(arg) {
                arg.el.style.color = 'black'; // Establecer el color de fuente de todos los elementos a negro
            },
            titleFormat: {
                year: 'numeric',
                month: 'short',
            },
            dayMaxEventRows: 4, // for all non-TimeGrid views
            views: {
                timeGrid: {
                    dayMaxEventRows: true // adjust to 6 only for timeGridWeek/timeGridDay
                }
            },
            buttonText: {
                today: 'Hoy',
                month: 'Mes',
                week: 'Semana',
                day: 'Día'
            },
            eventClick: function(info) {
                if (info.event.extendedProps.popoverContent) {
                    // Mostrar el popover con el contenido adicional
                    $(info.el).popover({
                        title: info.event.title,
                        content: info.event.extendedProps.popoverContent,
                        trigger: 'manual',
                        html: true,
                        placement: 'auto'
                    });
                    $(info.el).popover('show');
                }
            },
            moreLinkClick: 'popover' // Define la acción a realizar cuando se hace clic en "más"
        });

        calendar.addEventSource(eventos);
        calendar.render();
    });

</script>

</body>

</html>
