<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head th:insert="fragments/administrador/librerias.html :: cabecera (titulo = 'Calendario')">

</head>

<body>

<header th:replace="fragments/administrador/header.html :: header(num_not = '3', num_form = '2 ', por_canc = '1',  nombre = ${session.usuario.nombres} + ' ' + ${session.usuario.apellidos} + ' ' + '(' + ${session.usuario.tipodeusuario.nombre.toUpperCase()} + ')', num_men = '2', sede = |${session.usuario.sede.nombre}|, id=${session.usuario.idusuario})">
</header>

<aside th:replace="fragments/administrador/aside.html :: sidebar (active = 'calendariogeneral')">
</aside>

<div th:replace="fragments/administrador/modalCerrarSesion.html::modal">

</div>

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Calendario General</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a th:href="@{'/administrador/calendariogeneral'}">Calendario General</a></li>
            </ol>
        </nav>
        <p>Citas en la sede según especialidad</p>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
               <div class="col-lg-20">
                   <div class="card">
                       <div class="card-body">
                           <div id='calendar' class="calendar-container"></div>
                       </div>
                   </div>
               </div>
        </div>
    </section>
</main>
<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>ClinicaLAFE</span></strong>. Todos los derechos reservados
    </div>
    <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
        Diseñado por <a style="font-weight: bolder; color:#4154F1 ">Grupo 1</a>
    </div>
</footer><!-- End Footer -->


<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/vendor/chart.js/chart.min.js}"></script>
<script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
<script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
<script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{/assets/js/main.js}"></script>

<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var eventos = /*[[${eventos}]]*/ 'default';
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            locale: 'es',
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            dayHeaderFormat: {
                weekday: 'long',
                // Mostrar el nombre del día completo con la primera letra en mayúscula
            },
            dayCellContentDidMount: function(arg) {
                arg.el.style.color = 'black'; // Establecer el color de fuente de todos los elementos a negro
            },
            titleFormat: {
                year: 'numeric',
                month: 'short',
            },
            dayMaxEventRows: 4, // for all non-TimeGrid views
            views: {
                timeGrid: {
                    dayMaxEventRows: true // adjust to 6 only for timeGridWeek/timeGridDay
                }
            },
            buttonText: {
                today: 'Hoy',
                month: 'Mes',
                week: 'Semana',
                day: 'Día'
            },
            eventClick: function(info) {
                if (info.event.extendedProps.popoverContent) {
                    // Mostrar el popover con el contenido adicional
                    $(info.el).popover({
                        title: info.event.title,
                        content: info.event.extendedProps.popoverContent,
                        trigger: 'manual',
                        html: true,
                        placement: 'auto'
                    });
                    $(info.el).popover('show');
                }
            },
            moreLinkClick: 'popover' // Define la acción a realizar cuando se hace clic en "más"
        });

        calendar.addEventSource(eventos);
        calendar.render();
    });

</script>

</body>

</html>
