<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head th:insert="fragments/administrador/librerias.html :: cabecera (titulo = 'Dashboard')">

</head>
<body>

<!-- ======= Header ======= -->
<header th:replace="fragments/administrador/header.html :: header(num_not = '3', num_form = '2 ', por_canc = '1',  nombre = ${session.usuario.nombres} + ' ' + ${session.usuario.apellidos} + ' ' + '(' + ${session.usuario.tipodeusuario.nombre.toUpperCase()} + ')', num_men = '2', sede = |${session.usuario.sede.nombre}|, id=${session.usuario.idusuario})">
</header>
<!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside th:replace="fragments/administrador/aside.html :: sidebar (active = 'dashboard')">
</aside>
<!-- End Sidebar-->

<div th:replace="fragments/administrador/modalCerrarSesion.html::modal">

</div>
<!-- End Modal-->

<main id="main" class="main">


    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a th:href="@{'/administrador'}">Dashboard</a></li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-6">
                <div class="card recent-sales overflow-auto">
                    <div style="width: 100%" class="card-body">
                        <h5 class="card-title">
                            Pacientes
                            <a th:href="@{'/administrador/dashboardpaciente'}" class="btn btn-success btn-sm card-button">Ver Más</a>
                        </h5>

                        <!-- Default Table -->
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Estado</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="usuariop, info: ${listaUsuariosPacientes}">
                                <th scope="row" th:text="${info.index + 1}"></th>
                                <td th:text="${usuariop.usuario.nombres} + ' ' + ${usuariop.usuario.apellidos}"></td>
                                <td th:text="${usuariop.estadoPaciente.nombre}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- End Default Table Example -->
                    </div>
                </div>

                <style>
                    .card-button {
                        position: absolute;
                        top: 25px;
                        right: 20px;
                    }
                </style>


                <div class="card recent-sales overflow-auto">
                    <div style="width: 100%" class="card-body">
                        <h5 class="card-title">Doctores
                        <a th:href="@{'/administrador/dashboarddoctor'}" class="btn btn-success btn-sm card-button">Ver Más</a>
                        </h5>
                        <!-- Default Table -->
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Especialidad</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tbody>
                            <tr th:each="usuariod, info: ${listaUsuarioDoctores}">
                                <th scope="row" th:text="${info.index + 1}"></th>
                                <td th:text="${usuariod.usuario.nombres} + ' ' + ${usuariod.usuario.apellidos}"></td>
                                <td th:text="${#strings.capitalize(usuariod.especialidad.nombre)}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- End Default Table Example -->
                    </div>
                </div>







            </div>

            <div class="col-lg-6">

                    <div class="card recent-sales overflow-auto">
                        <div style="width: 100%" class="card-body">
                            <h5 class="card-title">Finanzas
                                <a th:href="@{'/administrador/dashboardfinanzas'}" class="btn btn-success btn-sm card-button">Ver Más</a>
                            </h5>



                            <!-- Column Chart -->
                            <div id="columnChart"></div>

                            <script>
                                function renderColumnChart(ingresos, egresos, meses) {
                                    const ganancias = egresos.map((egreso, index) => ingresos[index] - egreso);

                                    new ApexCharts(document.querySelector("#columnChart"), {
                                        series: [{
                                            name: 'Ingresos',
                                            data: ingresos
                                        }, {
                                            name: 'Egresos',
                                            data: egresos
                                        }, {
                                            name: 'Ganancias',
                                            data: ganancias
                                        }],
                                        chart: {
                                            type: 'bar',
                                            height: 350
                                        },
                                        plotOptions: {
                                            bar: {
                                                horizontal: false,
                                                columnWidth: '55%',
                                                endingShape: 'rounded'
                                            },
                                        },
                                        dataLabels: {
                                            enabled: false
                                        },
                                        stroke: {
                                            show: true,
                                            width: 2,
                                            colors: ['transparent']
                                        },
                                        xaxis: {
                                            categories: meses,
                                        },
                                        yaxis: {
                                            title: {
                                                text: 'S/. (soles)'
                                            }
                                        },
                                        fill: {
                                            opacity: 1
                                        },
                                        tooltip: {
                                            y: {
                                                formatter: function(val) {
                                                    return "S/." + val + " soles ";
                                                }
                                            }
                                        }
                                    }).render();
                                }

                                document.addEventListener("DOMContentLoaded", () => {
                                    const ingresos = [];
                                    const egresos = [];
                                    const meses = [];

                                    // Obtener los valores de la tabla
                                    const dataRows = document.querySelectorAll('.data-row');
                                    dataRows.forEach(row => {
                                        const mes = row.querySelector('td:nth-child(1)').innerText;
                                        const ingreso = parseFloat(row.querySelector('td:nth-child(2)').innerText);
                                        const egreso = parseFloat(row.querySelector('td:nth-child(3)').innerText);

                                        meses.push(mes);
                                        ingresos.push(ingreso);
                                        egresos.push(egreso);
                                    });

                                    // Llamar a la función del gráfico con los valores obtenidos
                                    renderColumnChart(ingresos, egresos, meses);
                                });
                            </script>

                            <!-- End Column Chart -->

                            <h5 class="card-title">Detalles del Gráfico</h5>
                            <!-- Table -->
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col" class="text-center">Mes</th>
                                    <th scope="col" class="text-center">Ingresos</th>
                                    <th scope="col" class="text-center">Egresos</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="ingresosegresos, info: ${listaIngresosEgresos}" class="data-row">
                                    <td th:text="${ingresosegresos.getnombre_mes()}" class="text-center"></td>
                                    <td th:text="${ingresosegresos.getpromedio_monto_paciente()}" class="text-center"></td>
                                    <td th:text="${ingresosegresos.getpromedio_monto_doctor()}" class="text-center"></td>
                                </tr>
                                </tbody>
                            </table>



                        </div>
                    </div>
            </div>
        </div>
    </section>









</main><!-- End #main -->

<!-- ======= Footer ======= -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/vendor/chart.js/chart.min.js}"></script>
<script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
<script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
<script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{/assets/js/main.js}"></script>

</body>

</html>