<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/administrador/librerias.html :: cabecera (titulo = 'Calendario General')">
</head>

<body>

<!-- ======= Header ======= -->
<header th:replace="fragments/administrador/header.html :: header(num_not = '3', num_form = '2 ', por_canc = '1',  nombre = ${session.usuario.nombres} + ' ' + ${session.usuario.apellidos} + ' ' + '(' + ${session.usuario.tipodeusuario.nombre.toUpperCase()} + ')', num_men = '2', sede = |${session.usuario.sede.nombre}|)">
</header>
<!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside th:replace="fragments/administrador/aside.html :: sidebar (active = 'formatos')">
</aside>
<!-- End Sidebar-->

<div th:replace="fragments/administrador/modalCerrarSesion.html::modal">

</div>
<!-- End Modal-->

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Formatos</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{'/administrador'}">Home</a></li>
                <li class="breadcrumb-item active">Formatos</li>
            </ol>
        </nav>
    </div>

    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-6">


            </div>
        </div>


        </div>
        </div>



        <div class="col-12">
            <div class="card recent-sales overflow-auto">
                <div class="card-body">
                    <h5 class="card-title">Lista de Formatos</h5>

                    <!-- Bordered Table -->
                    <table class="table table-borderless datatable">
                        <thead>

                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre Plantilla</th>
                            <th scope="col">Especialidad</th>
                            <th scope="col">Ver</th>
                            <!--                <th style="display:none">Column6</th>-->
                            <th scope="col" hidden>id del modelo</th>
                        </tr>

                        </thead>
                        <tbody>

                        <tr th:each="modelo, info : ${modeloEntityList}" th:id="'fila-' + ${modelo.id}">
                            <td th:text="${info.index + 1}" id="indice"></td>
                            <td th:text="${modelo.nombrePlantilla}" id="nbr_modelo"></td>
                            <td th:text="${modelo.especialidad.nombre}" id="nbr_especialidad"></td>
                            <td th:text="${modelo.tipodeusuario.nombre}" id="nbr_rol" hidden></td>

                            <td>
                                <a type="button" style="color: #0a53be" th:data-id="${modelo.id}"
                                        onclick="mostrarModal(this)"><i class="bi bi-eye-fill"></i></a>
                            </td>
                            <td th:text="${modelo.id}" id="id_modelo" hidden></td>


                        </tr>


                        </tbody>
                    </table>




                </div>
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Vista Formato</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input class="id_fila" id="id_fila" type="hidden">
                    <div class="mb-3">
                        <label for="nombre_plantilla" class="col-form-label">Nombre Plantilla:</label>
                        <input type="text" class="form-control" id="nombre_plantilla" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="id_de_modelo_plantilla" class="col-form-label" hidden>Id de Modelo Plantilla:</label>
                        <input type="text" class="form-control" id="id_de_modelo_plantilla" hidden>
                    </div>
                    <div id="contenedorDivs"></div>
                    <!--          <div class="mb-3">-->
                    <!--            <label for="especialidad_name" class="col-form-label">Especialidad:</label>-->
                    <!--            <input type="text" class="form-control" id="especialidad_name">-->
                    <!--          </div>-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>


    </div>






</main><!-- End #main -->


<!-- ======= Footer ======= -->


<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{'/assets/vendor/apexcharts/apexcharts.min.js'}"></script>
<script th:src="@{'/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'}"></script>
<script th:src="@{'/assets/vendor/chart.js/chart.min.js'}"></script>
<script th:src="@{'/assets/vendor/echarts/echarts.min.js'}"></script>
<script th:src="@{'/assets/vendor/quill/quill.min.js'}"></script>
<script th:src="@{'/assets/vendor/simple-datatables/simple-datatables.js'}"></script>
<script th:src="@{'/assets/vendor/tinymce/tinymce.min.js'}"></script>
<script th:src="@{'/assets/vendor/php-email-form/validate.js'}"></script>

<!-- Template Main JS File -->
<script th:src="@{'/assets/js/main.js'}"></script>



<script>
    const modal = document.getElementById("createModal");
    const span = document.getElementsByClassName("close")[0];
    const modalId = document.getElementById("modal-id");
    const modalNombre = document.getElementById("modal-nombre");

    // Función para mostrar el modal y los detalles del usuario seleccionado
    function mostrarModal(button) {
        const id = button.dataset.id;

        const nombrePlantilla = document.querySelector("#fila-" + id + " td:nth-child(2)").textContent;
        const id_de_modelo_plantilla = document.querySelector("#fila-" + id + " td:nth-child(6)").textContent;

        console.log(nombrePlantilla);

        const crearModal = bootstrap.Modal.getOrCreateInstance('#createModal');
        crearModal.show();

        document.getElementById("nombre_plantilla").value = nombrePlantilla;
        document.getElementById("id_de_modelo_plantilla").value = id_de_modelo_plantilla;

        console.log(id_de_modelo_plantilla);

        document.getElementById("id_fila").value = id;

        var xmlhttp = new XMLHttpRequest();
        var url = "/superadmin/listarTitulos?id_de_modelo_plantilla=" + encodeURIComponent(id_de_modelo_plantilla);
        xmlhttp.open("GET", url, true);
        xmlhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == XMLHttpRequest.DONE) {
                if (xmlhttp.status == 200) {
                    var response = xmlhttp.responseText;
                    var lista = JSON.parse(response);
                    var contenedor = document.getElementById("contenedorDivs");
                    contenedor.innerHTML = "";

                    for (var i = 0; i < lista.length; i++) {
                        var label = document.createElement("label");
                        label.classList.add("col-form-label");
                        label.textContent = "Pregunta " + (i+1);
                        contenedor.appendChild(label);

                        var input = document.createElement("input");
                        input.classList.add("form-control");
                        input.value = lista[i];
                        input.setAttribute("name", "elemento_" + i);
                        // Set the input field as non-editable
                        input.readOnly = true;
                        contenedor.appendChild(input);
                    }
                } else {
                    alert("Ha ocurrido un error al actualizar la plantilla");
                }
            }
        };

        xmlhttp.send();
    };
</script>


</body>

</html>