<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head th:insert="fragments/administrador/librerias.html :: cabecera (titulo = 'Historial Clinico')">

</head>

<body>

<!-- ======= Header ======= -->
<header th:replace="fragments/administrador/header.html :: header(num_not = '3', num_form = '2 ', por_canc = '1',  nombre = ${session.usuario.nombres} + ' ' + ${session.usuario.apellidos} + ' ' + '(' + ${session.usuario.tipodeusuario.nombre.toUpperCase()} + ')', num_men = '2', sede = |${session.usuario.sede.nombre}|, id=${session.usuario.idusuario})">
</header>
<!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside th:replace="fragments/administrador/aside.html :: sidebar (active = 'historialclinico')">
</aside>
<!-- End Sidebar-->


<!--Modal Cerrar Sesion-->
<div th:replace="fragments/administrador/modalCerrarSesion.html::modal">

</div>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{'/administrador'}">Dashboard</a></li>
                <li class="breadcrumb-item"><a th:href="@{'/administrador/dashboardpaciente'}">Pacientes</a></li>
                <li class="breadcrumb-item active">Historial Clínico</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section" id="historial-clinico">
        <div class="row">
            <div class="col-lg-20">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Historial Clínico</h5>

                        <!-- Default Table -->
                        <table class="table col-lg-20">
                            <thead>
                            <tr>
                                <th class="table" scope="row">Estado: <span th:text="${paciente.getEstadoPaciente().getNombre()}"></span></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Nombre: <span th:text="${paciente.getUsuario().getNombres() + '  ' + paciente.getUsuario().getApellidos()}"></span></td>
                            </tr>
                            <tr>
                                <th scope="row">Alergias</th>
                            </tr>
                            <tr>
                                <td><span th:text="${paciente.getAlergias()}"></span></td>
                            </tr>
                            <tr>
                                <th scope="row">Tratamiento</th>
                            </tr>
                            <tr>
                                <td>Tratamiento de <span th:text="${paciente.getCondicionenfermedad()}"></span></td>
                            </tr>
                            <tr>
                                <th scope="row">Cuestionarios</th>
                            </tr>
                            <tr th:each="lista, info: ${listaparapaciente}" th:id="'fila-' + ${lista.id}">
                                <td th:text="${lista.nombre_plantilla}" id="nombre_plantilla"></td>
                                <td th:text="${lista.id}" id="id_modelo" hidden></td>
                            </tr>
                            <tr>
                                <th scope="row">Consentimientos</th>
                            </tr>
                            <tr>
                                <td>Uso de datos personales: <span th:text="${paciente.getConsentimientos() == 1 ? 'Sí' : 'No'}"></span></td>
                                <td><i class="bi bi-person-lock"></i></td>
                            </tr>
                            <tr>
                                <th scope="row">Próximas Citas</th>
                            </tr>
                            <tr th:each="cita : ${citas}">
                                <td th:text="${cita.getFecha()} + '/' + ${cita.getHorainicio()} + '-' + ${cita.getHorafinal()} + '/' + ${cita.getEspecialidad().getNombre()}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Documentos anexados</th>
                            </tr>
                            <tr>
                                <td style="text-decoration: underline; cursor: pointer;" id="historial-clinico-pdf"><i class="bi bi-filetype-pdf"></i> PDF Historial Clínico</td>
                            </tr>
                            <script>

                                const generarPdf = () => {
                                    // Obtener la sección del historial clínico
                                    const historialClinico = document.querySelector('#historial-clinico');

                                    // Configurar opciones de PDF
                                    const pdfOptions = {
                                        margin: [0, 0, 0, 0],
                                        filename: 'historial-clinico.pdf',
                                        image: { type: 'jpeg', quality: 0.98 },
                                        html2canvas: { scale: 2 },
                                        jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
                                    };

                                    // Crear PDF a partir del contenido de la sección
                                    html2pdf().set(pdfOptions).from(historialClinico).save();
                                }

                                // Agregar controlador de eventos de clic al botón "PDF Historial Clínico"
                                const historialClinicoPdfBtn = document.querySelector('#historial-clinico-pdf');
                                historialClinicoPdfBtn.addEventListener('click', generarPdf);
                            </script>




                            </tbody>
                        </table>
                        <!-- End Default Table Example -->

                    </div>
                </div>
            </div>


        </div>
        </div>
        </div>
    </section>


    <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Vista Formato</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input class="id_fila" id="id_fila" type="hidden">
                    <div class="mb-3">
                        <label for="nombre_plan" class="col-form-label">Nombre Plantilla:</label>
                        <input type="text" class="form-control" id="nombre_plan" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="datosllenos" class="col-form-label" hidden>Id de Modelo Plantilla:</label>
                        <input type="text" class="form-control" id="datosllenos" hidden>
                    </div>
                    <div id="contenedorDivs"></div>
                    <!--          <div class="mb-3">-->
                    <!--            <label for="especialidad_name" class="col-form-label">Especialidad:</label>-->
                    <!--            <input type="text" class="form-control" id="especialidad_name">-->
                    <!--          </div>-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>


    </div>










</main><!-- End #main -->



<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/vendor/chart.js/chart.min.js}"></script>
<script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
<script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
<script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>



<!-- Template Main JS File -->
<script th:src="@{/assets/js/main.js}"></script>

<script>
    const modal = document.getElementById("createModal");
    const span = document.getElementsByClassName("close")[0];
    const modalId = document.getElementById("modal-id");
    const modalNombre = document.getElementById("modal-nombre");

    // Función para mostrar el modal y los detalles del usuario seleccionado
    function mostrarModal(button) {
        const id = button.dataset.id;

        const nombrePlantilla = document.querySelector("#fila-" + id + " td:nth-child(2)").textContent;
        const formulario = document.querySelector("#fila-" + id + " td:nth-child(6)").textContent;

        console.log(nombrePlantilla);

        const crearModal = bootstrap.Modal.getOrCreateInstance('#createModal');
        crearModal.show();

        document.getElementById("nombre_plantilla").value = nombrePlantilla;
        document.getElementById("datosllenos").value = formulario;

        console.log(formulario);

        document.getElementById("id_fila").value = id;

        var xmlhttp = new XMLHttpRequest();
        var url = "/superadmin/listarTitulos?id_de_modelo_plantilla=" + encodeURIComponent(id_de_modelo_plantilla);
        xmlhttp.open("GET", url, true);
        xmlhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == XMLHttpRequest.DONE) {
                if (xmlhttp.status == 200) {
                    var response = xmlhttp.responseText;
                    var lista = JSON.parse(response);
                    var contenedor = document.getElementById("contenedorDivs");
                    contenedor.innerHTML = "";

                    for (var i = 0; i < lista.length; i++) {
                        var label = document.createElement("label");
                        label.classList.add("col-form-label");
                        label.textContent = "Pregunta " + (i+1);
                        contenedor.appendChild(label);

                        var input = document.createElement("input");
                        input.classList.add("form-control");
                        input.value = lista[i];
                        input.setAttribute("name", "elemento_" + i);
                        // Set the input field as non-editable
                        input.readOnly = true;
                        contenedor.appendChild(input);
                    }
                } else {
                    alert("Ha ocurrido un error al actualizar la plantilla");
                }
            }
        };

        xmlhttp.send();
    };
</script>


</body>

</html>