<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head th:insert="fragments/administrador/librerias.html :: cabecera (titulo = 'Cuestionario')">
</head>

<body>

<!-- ======= Header ======= -->
<header th:replace="fragments/administrador/header.html :: header(num_not = '3', num_form = '2 ', por_canc = '1',  nombre = ${session.usuario.nombres} + ' ' + ${session.usuario.apellidos} + ' ' + '(' + ${session.usuario.tipodeusuario.nombre.toUpperCase()} + ')', num_men = '2', sede = |${session.usuario.sede.nombre}|, id=${session.usuario.idusuario})">
</header>
<!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside th:replace="fragments/administrador/aside.html :: sidebar (active = 'crearpaciente')">
</aside>
<!-- End Sidebar-->

<div th:replace="fragments/administrador/modalCerrarSesion.html::modal">

</div>
<!-- End Modal-->


<main id="main" class="main">

  <div class="pagetitle">
    <h1>Formulario de Neurología</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{'/administrador'}">Home</a></li>
        <li class="breadcrumb-item active">Nuevo Paciente</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-20">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Cuestionario de Neurología</h5>
            <h4 class="card-title">Paciente: Lorena Vela Sulca</h4>

            <form class="row g-3">
              <div class="form-group">
                <label form="inputDni">DNI</label>
                <input value="70897845" name="dni" type="dni" id="inputDni" class="form-control" th:readonly="true">
              </div>
              <div class="form-group">
                <label for="inputCorreo" class="form-label">Correo</label>
                <input value="lorena@gmail.com" name="correo" type="dni" id="inputCorreo" class="form-control" th:readonly="true">
              </div>
              <div class="form-group">
                <label for="inputGenero" class="form-label">Género</label>
                <input value="femenino" name="genero" type="dni" id="inputGenero" class="form-control" th:readonly="true">
              </div>
              <div class="form-group">
                <label for="inputCita" class="form-label">Información de la Cita</label>
                <input value="Cita en neurología por un dolor en la cabeza" name="dia" type="cita" id="inputCita" class="form-control" th:readonly="true">
              </div>
              <div class="form-group">
                <label for="inputDia" class="form-label">Día de la Cita (cuando contesto el cuestionario)</label>
                <input value="04/03/23" name="dia" type="dni" id="inputDia" class="form-control" th:readonly="true">
              </div>
              <div class="form-group">
                <label for="inputRespuesta" class="form-label">Del 1 al 10 ¿que tanto dolor siente?</label>
                <input value="7" name="dia" type="dni" id="inputRespuesta" class="form-control" th:readonly="true">
              </div>
              <div class="form-group">
                <label for="inputRespuesta2" class="form-label">¿El dolor es persistente?</label>
                <input value="Si" name="dia" type="dni" id="inputRespuesta2" class="form-control" th:readonly="true">
              </div>
              <div class="form-group">
                <label for="inputRespuesta3" class="form-label">¿Ha tomado algún medicamento? Escriba cual</label>
                <input value="Si" name="dia" type="dni" id="inputRespuesta3" class="form-control" th:readonly="true">
                <input value="Aspirina" name="dia" type="dni" id="inputRespuesta3_2" class="form-control" th:readonly="true">
              </div>
              <div class="form-group">
                <label for="inputRespuesta4" class="form-label">En general, describa su molestia</label>
                <textarea name="dia" type="dni" id="inputRespuesta4" class="form-control"th:readonly="true">Mi malestar comenzó hace 4 días, estaba barriendo mi casa y de pronto me comenzó a doler la cabeza como migraña, he tenido migraña pero casi siempre se me pasa rápido, ya son varios días en los que me sigo sintiendo mal, he faltado 2 días a mi trabajo y lo único que he hecho es dormir para no sentir dolor, el dolor comienza desde el cuello y sigue todo el cerebro, hay ratos en los que me siento mejor pero cuando hago muchas cosas o pienso en muchas cosas me comienza a doler otra vez.</textarea>
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-success" ><a style="color: white" th:href="@{'/administrador/historialclinico'+ '?id=' + ${usuario.idusuario}}">Volver</a></button>
              </div>
            </form><!-- Vertical Form -->

          </div>
        </div>
      </div>


    </div>
    </div>
    </div>
  </section>










</main><!-- End #main -->


<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/vendor/chart.js/chart.min.js}"></script>
<script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
<script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
<script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{/assets/js/main.js}"></script>

</body>

</html>
