<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head th:insert="fragments/administrativo/librerias.html :: cabecera (titulo = 'Perfil')">

</head>

<body>

<!-- ======= Header ======= -->
<header th:replace="fragments/administrativo/header.html :: header(num_not = '3', num_form = '2 ', por_canc = '1',  nombre = ${session.usuario.nombres} + ' ' + ${session.usuario.apellidos} + ' ' + '(' + ${session.usuario.tipodeusuario.nombre.toUpperCase()} + ')', num_men = '2', especialidad = |${session.usuario.especialidad.nombre}|)">
</header>
<!-- End Header -->
<!-- ======= Sidebar ======= -->
<aside th:replace="fragments/administrativo/aside.html :: sidebar (active = 'configuraciones')">
</aside>

<!-- End Sidebar-->
<div th:replace="fragments/administrativo/modalCerrarSesion.html::modal">

</div>
<!-- End Modal-->

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Configuraciones</h1>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-20">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Configuraciones UI</h5>

                        <!-- Default Table -->
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col-sm-lg-2">Modo</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Cambia la apariencia de la página</td>
                                <td><div class="row mb-lg-2">
                                    <div class="col-sm-10">
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>Elige</option>
                                            <option value="1">Claro</option>
                                            <option value="2">Oscuro</option>
                                        </select>
                                    </div>
                                </div>
                                </td>
                            </tr>
                            <thead>
                            <tr>
                                <th scope="col">Colores</th>
                            </tr>
                            </thead>
                            <tr>
                                <td>Personalizar Interfaz de Usuario</td>
                                <td><div class="row">
                                    <label for="inputColor" class="col-form-label">Color Picker</label>
                                    <div class="col-sm-10">
                                        <input type="color" class="form-control form-control-color" id="exampleColorInput" value="#4154f1" title="Choose your color">
                                    </div>
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Elige rol</option>
                                        <option value="1">Doctor</option>
                                        <option value="2">Paciente</option>
                                        <option value="3">Administrador</option>
                                        <option value="4">Administrativo</option>
                                    </select>
                                </div></td>
                            </tr>
                            <thead>
                            <tr>
                                <th scope="col">Imágenes</th>
                            </tr>
                            </thead>
                            <tr>
                                <td>Sube una imagen de fondo</td>
                                <td>
                                    <div class=" mb-3">
                                        <label for="inputNumber" class="col-sm-2 col-form-label">Subir Imagen</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" type="file" id="formFile">
                                        </div>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>Elige sede</option>
                                            <option value="1">San Miguel</option>
                                            <option value="2">San Borja</option>
                                            <option value="3">Lince</option>

                                        </select>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- End Default Table Example -->
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Configuraciones UX</h5>

                        <!-- Default Table -->
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Notificaciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Elige el tiempo previo a una cita para que al doctor le llega una notificaciones</td>
                                <td><div class="row sm-2">
                                    <div class="col-sm-10">
                                        <input type="time" class="form-control">
                                    </div>
                                </div></td>
                            </tr>

                            <tr>
                                <td>Elige el tiempo previo a una cita para que al paciente le llega una notificaciones</td>
                                <td><div class="row sm-2">
                                    <div class="col-sm-10">
                                        <input type="time" class="form-control">
                                    </div>
                                </div></td>
                            </tr>
                            <thead>
                            <tr>
                                <th scope="col">Notificaciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Mantener Sesión iniciada</td>
                                <td><div class="row sm-2">
                                    <div class="col-sm-10">
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>Elige</option>
                                            <option value="1">Si</option>
                                            <option value="2">No</option>
                                        </select>
                                    </div>
                                </div></td>
                            </tr>

                            </tbody>

                            <tbody>
                            <tr>
                                <td>Doctor permiso para editar</td>
                                <td><div class="row sm-2">
                                    <div class="col-sm-10">
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>Elige</option>
                                            <option value="1">Si</option>
                                            <option value="2">No</option>
                                        </select>
                                    </div>
                                </div></td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>
    </section>

</main><!-- End #main -->


<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{'/assets/vendor/apexcharts/apexcharts.min.js'}"></script>
<script th:src="@{'/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'}"></script>
<script th:src="@{'/assets/vendor/chart.js/chart.min.js'}"></script>
<script th:src="@{'/assets/vendor/echarts/echarts.min.js'}"></script>
<script th:src="@{'/assets/vendor/quill/quill.min.js'}"></script>
<script th:src="@{'/assets/vendor/simple-datatables/simple-datatables.js'}"></script>
<script th:src="@{'/assets/vendor/tinymce/tinymce.min.js'}"></script>
<script th:src="@{'/assets/vendor/php-email-form/validate.js'}"></script>

<!-- Template Main JS File -->
<script th:src="@{'/assets/js/main.js'}"></script>

</body>

</html>