<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head th:insert="fragments/administrativo/librerias.html :: cabecera (titulo = 'Formulario Registro')">

</head>

<body>

<!-- ======= Header ======= -->
<header th:replace="fragments/administrativo/header.html :: header(num_not = '3', num_form = '2 ', por_canc = '1',  nombre = ${session.usuario.nombres} + ' ' + ${session.usuario.apellidos} + ' ' + '(' + ${session.usuario.tipodeusuario.nombre.toUpperCase()} + ')', num_men = '2', especialidad = |${session.usuario.especialidad.nombre}|)">
</header>
<!-- End Header -->
<!-- ======= Sidebar ======= -->
<aside th:replace="fragments/administrativo/aside.html :: sidebar (active = 'registrar')">
</aside>

<!-- End Sidebar-->
<div th:replace="fragments/administrativo/modalCerrarSesion.html::modal">

</div>
<!-- End Modal-->


<main id="main" class="main">

  <div class="pagetitle">
    <h1>Formulario de Registro</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{'/administrativo/nuevopaciente'}">Nuevo Paciente</a></li>
        <li class="breadcrumb-item active">Formulario de Registro</li>
      </ol>
    </nav>
  </div>

  <section class="section">
    <div class="row">
      <div class="col-lg-20">

        <div class="card">
          <section id="actualizacion">

            <!-- Aquí puedes agregar el formulario de actualización -->
          </section>
          <div class="card-body">
            <h5 class="card-title">Formulario</h5>
            <div id="mensaje" class="alert alert-success" style="display: none;"></div>

            <div id="mensaje_incorrecto" class="alert alert-danger" style="display: none;"></div>
            <div th:if="${ms1!=null}" th:text="${ms1}" class="alert alert-success" role="alert"></div>
            <div th:if="${ms2!=null}" th:text="${ms2}" class="alert alert-danger" role="alert"></div>
            <div th:if="${ms3!=null}" th:text="${ms3}" class="alert alert-danger" role="alert"></div>

            <form class="row g-3" onsubmit="return validateFormAdminsitrativo()">
              <div class="col-12">
                <label for="nombres" class="form-label">Nombre completo del paciente (EN MAYÚSCULAS)</label>
                <div class="col-12">
                  <input name="nombres" type="text" class="form-control" id="nombres" required>
                </div>
              </div>
              <div class="col-12">
                <label for="dni" class="form-label">DNI</label>
                <div class="col-12">
                  <input name="dni" type="text" class="form-control" id="dni" required>
                </div>
              </div>
<!--              <div class="col-12">-->
<!--                <label for="correo" class="form-label">Correo</label>-->
<!--                <div class="col-12">-->
<!--                  <input name="correo" type="text" class="form-control" id="correo" required>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="text-center">-->
<!--                <button type="submit" class="btn btn-warning" style="background-color:rgb(231,154,110)" ><a style="color: white">Enviar Formulario</a></button>-->
<!--                <button type="reset" class="btn btn-secondary"><a style="color: white" th:href="@{'/administrativo/nuevopaciente'}">Cancelar</a></button>-->
<!--              </div>-->

              <div id="error-message" class="alert alert-danger mt-3" style="display: none;"></div>
            </form>

            <br><br><br><br><br>
            <div class="text-center">
              <a type="button" class="btn btn-danger" onclick="enviarSolicitud()">Validar Reniec</a>
              <a type="button" class="btn btn-secondary" th:href="@{'/administrativo/nuevopaciente'}">Cancelar</a>
            </div>


            <form  method="post" th:action="@{'/administrativo/enviarcorreoadministrativo1'}">
              <div class="col-12" style="display: none;" id="nuevoInput">
                <label for="correo" class="form-label">Correo</label>
                <div class="col-12">
                  <input name="correo" type="text" class="form-control" id="correo" required>
                </div>
              </div>
              <br><br><br>

              <div class="text-center" id="nuevoBoton" style="display: none;">
                <button type="submit" class="btn btn-danger" >Enviar Correo</button>
              </div>
            </form>

            <script>
              function validateFormAdminsitrativo() {
                var dni = document.getElementById("dni").value;
                var correo = document.getElementById("correo").value;

                // Validar completar todos los campos
                if (dni === "" || correo === "") {
                  var errorMessage = document.getElementById("error-message");
                  errorMessage.style.display = "block";
                  errorMessage.innerHTML = "Debe completar todos los campos";
                  return false;
                }

                // Validar formato de correo electrónico
                var emailRegex = /^[\w-]+(\.[\w-]+)*@([\w-]+\.)+[a-zA-Z]{2,7}$/;
                if (!emailRegex.test(correo)) {
                  var errorMessage = document.getElementById("error-message");
                  errorMessage.style.display = "block";
                  errorMessage.innerHTML = "El campo correo debe tener un formato de dirección de correo electrónico válido";
                  return false;
                }

                // Validar DNI como número de 8 dígitos
                var dniRegex = /^\d{8}$/;
                if (!dniRegex.test(dni)) {
                  var errorMessage = document.getElementById("error-message");
                  errorMessage.style.display = "block";
                  errorMessage.innerHTML = "El campo DNI debe contener exactamente 8 dígitos numéricos";
                  return false;
                }

                return true;
              }

              function enviarSolicitud(){
                document.getElementById("mensaje").style.display = "none";
                document.getElementById("mensaje_incorrecto").style.display = "none";


                document.getElementById("nuevoInput").style.display = "none";
                document.getElementById("nuevoBoton").style.display = "none";

                var nombre = document.getElementById("nombres").value;
                var dni = document.getElementById("dni").value;
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/administrativo/consultaReniec", true);
                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

                // Configurar el manejo de la respuesta
                xhr.onreadystatechange = function () {

                  if (xhr.readyState == XMLHttpRequest.DONE) {
                    if (xhr.status == 200) {
                      // Mostrar mensaje de éxito
                      alert("Búsqueda realizada");



                      var mensajeElement = document.getElementById("mensaje");


                      if (xhr.responseText.trim() === "Validación correcta") {
                        mensajeElement.innerHTML = xhr.responseText;
                        mensajeElement.style.display = "block";
                        // Mostrar el nuevo input y el nuevo botón
                        document.getElementById("nuevoInput").style.display = "block";
                        document.getElementById("nuevoBoton").style.display = "block";
                      } else if (xhr.responseText.trim() === "Validación incorrecta") {
                        mensajeElement.innerHTML = xhr.responseText;
                        // Realizar otras acciones si es necesario
                      }

                      // window.location.replace("/superadmin/listaform");
                      // location.reload();



                    } else {
                      // Mostrar mensaje de error
                      alert("Búsqueda realizada");
                      var mensajeElement = document.getElementById("mensaje_incorrecto");
                      mensajeElement.innerHTML = xhr.responseText;
                      mensajeElement.style.display = "block";
                    }
                  }
                };

                // Enviar la solicitud con los datos necesarios



                xhr.send("nombre="+nombre+"&dni=" +
                        dni);
              }
            </script>

          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </section>










</main><!-- End #main -->
<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  <div class="copyright">
    &copy; Copyright <strong><span>ClinicaLAFE</span></strong>. Todos los derechos reservados
  </div>
  <div class="credits">
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
    Diseñado por <a style="font-weight: bolder; color:#4154F1 ">Grupo 1</a>
  </div>
</footer><!-- End Footer -->



<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<script th:src="@{'/assets/vendor/apexcharts/apexcharts.min.js'}"></script>
<script th:src="@{'/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'}"></script>
<script th:src="@{'/assets/vendor/chart.js/chart.min.js'}"></script>
<script th:src="@{'/assets/vendor/echarts/echarts.min.js'}"></script>
<script th:src="@{'/assets/vendor/quill/quill.min.js'}"></script>
<script th:src="@{'/assets/vendor/simple-datatables/simple-datatables.js'}"></script>
<script th:src="@{'/assets/vendor/tinymce/tinymce.min.js'}"></script>
<script th:src="@{'/assets/vendor/php-email-form/validate.js'}"></script>

<!-- Template Main JS File -->
<script th:src="@{'/assets/js/main.js'}"></script>

</body>

</html>

