<html lang="en" xmlns="http://www.w3.org/1999/html">
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head th:insert="fragments/administrativo/librerias.html :: cabecera (titulo = 'Perfil')">

</head>

<body>

<!-- ======= Header ======= -->
<header th:replace="fragments/administrativo/header.html :: header(num_not = '3', num_form = '2 ', por_canc = '1',  nombre = ${session.usuario.nombres} + ' ' + ${session.usuario.apellidos} + ' ' + '(' + ${session.usuario.tipodeusuario.nombre.toUpperCase()} + ')', num_men = '2', especialidad = |${session.usuario.especialidad.nombre}|)">
</header>
<!-- End Header -->
<!-- ======= Sidebar ======= -->
<aside th:replace="fragments/administrativo/aside.html :: sidebar (active = 'perfil')">
</aside>

<!-- End Sidebar-->
<div th:replace="fragments/administrativo/modalCerrarSesion.html::modal">

</div>
<!-- End Modal-->

<body>
<section class="section">
  <div class="row">
    <div class="col-lg-20">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Mensajes Recibidos</h5>


          <!-- Default Table -->
          <table class="table table-borderless datatable">
            <thead>
            <tr>
              <th style="text-align: center" scope="col">De</th>
              <th style="text-align: center" scope="col">Asunto</th>
              <th style="text-align: center" scope="col">Descripcion</th>
              <th style="text-align: center" scope="col">Fecha</th>
              <th style="text-align: center" scope="col">Mensaje</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each=" mensaje : ${listamensajes}">
              <td style="text-align: center" th:text="|${mensaje.getUsuarioOrigen().getNombres()} ${mensaje.getUsuarioOrigen().getApellidos()} ${mensaje.getUsuarioOrigen().getTipodeusuario().getNombre()}|"></td>
              <td style="text-align: center" th:text="${mensaje.getAsunto()}"></td>
              <td style="text-align: center" th:text="${mensaje.getDescripcion()}"></td>
              <!-- deriva al historial del paciente th:href="@{'/administrador/chat'}" -->
              <td style="text-align: center" th:text="|${mensaje.getFecha()} ${mensaje.getHora()}|"></td>
              <td style="text-align: center" th:if="${mensaje.getUsuarioOrigen().getTipodeusuario().getIdtipodeusuario() eq 3}">
                <a th:href="@{'/administrativo/mensajeria/respondermensaje'+'?asunto=' + ${mensaje.getAsunto()} +'$idM'+ ${mensaje.getIdMensaje()}}" class="btn btn-danger">Responder</a></td>
              <td style="text-align: center" th:unless="${mensaje.getUsuarioOrigen().getTipodeusuario().getIdtipodeusuario() eq 3}">
                <a th:href="@{'/administrativo/mensajeria/vermensaje'+'?idM=' + ${mensaje.getIdMensaje()}}" class="btn btn-danger">Visualizar</a></td>
            </tr>

            </tbody>
          </table>
          <!-- End Default Table Example -->


        </div>
      </div>
    </div>


  </div>
  </div>
  </div>
</section>
</body>
</html>