<!DOCTYPE html>
<html lang="en">

<head th:insert="fragments/administrativo/librerias.html :: cabecera (titulo = 'Perfil')">

</head>

<body>

<!-- ======= Header ======= -->
<header th:replace="fragments/administrativo/header.html :: header(num_not = '3', num_form = '2 ', por_canc = '1',  nombre = ${session.usuario.nombres} + ' ' + ${session.usuario.apellidos} + ' ' + '(' + ${session.usuario.tipodeusuario.nombre.toUpperCase()} + ')', num_men = '2', especialidad = |${session.usuario.especialidad.nombre}|)">
</header>
<!-- End Header -->
<!-- ======= Sidebar ======= -->
<aside th:replace="fragments/administrativo/aside.html :: sidebar (active = 'perfil')">
</aside>

<!-- End Sidebar-->
<div th:replace="fragments/administrativo/modalCerrarSesion.html::modal">

</div>
<!-- End Modal-->

<main id="main" class="main">

  <div class="pagetitle">
    <h1>Profile</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{'/administrativo/dashboard'}">Home</a></li>
        <li class="breadcrumb-item active">Perfil</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section profile">
    <div class="row">
      <div class="col-xl-4">

        <div class="card">
          <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

            <img th:src="@{/assets/img/profile-img.jpg}" alt="Profile" class="rounded-circle">
            <h2><span th:text="${session.usuario.nombres} + ' ' + ${session.usuario.apellidos}"></span></h2>
            <h3><span th:text="${#strings.capitalize(session.usuario.tipodeusuario.nombre)}"></span></h3>
            <div th:if="${psw1!=null}" th:text="${psw1}" class="alert alert-success" role="alert"></div>
            <div th:if="${psw2!=null}" th:text="${psw2}" class="alert alert-danger" role="alert"></div>
          </div>
        </div>

      </div>

      <div class="col-xl-8">

        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">

              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Vista Previa</button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Editar Perfil</button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Cambiar Contraseña</button>
              </li>

            </ul>
            <div class="tab-content pt-2">

              <div class="tab-pane fade show active profile-overview" id="profile-overview">

                <h5 class="card-title">Detalles del Perfil</h5>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label ">Nombre Completo</div>
                  <div class="col-lg-9 col-md-8"><span th:text="${session.usuario.nombres} + ' ' + ${session.usuario.apellidos}"></span></div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">DNI</div>
                  <div class="col-lg-9 col-md-8"><span th:text="${session.usuario.dni}"></span></div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Correo</div>
                  <div class="col-lg-9 col-md-8"><span th:text="${session.usuario.correo}"></span> </div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Celular</div>
                  <div class="col-lg-9 col-md-8"><span th:text="${session.usuario.celular}"></span></div>
                </div>


                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Edad</div>
                  <div class="col-lg-9 col-md-8"><span th:text="${session.usuario.edad}"></span></div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Género</div>
                  <div class="col-lg-9 col-md-8"><span th:text="${session.usuario.genero}"></span></div>
                </div>



              </div>

              <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                <!-- Profile Edit Form -->
                <form method="post" th:action="@{'/administrativo/editarperfil'}">
                  <div class="row mb-3">
                    <label for="profile-edit" class="col-md-4 col-lg-3 col-form-label">Imagen de Perfil</label>
                    <div class="col-md-8 col-lg-9">
                      <img th:src="@{/assets/img/profile-img.jpg}" alt="Profile">
                      <div class="pt-2">
                        <a href="#" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-upload"></i></a>
                        <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>
                      </div>
                    </div>
                  </div>
                  <input th:value="${session.usuario.getIdusuario()}" name="id" type="hidden">
                  <input th:value="${session.usuario.getIdusuario()}" name="idusuario" type="hidden">
                  <div class="row mb-3">
                    <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Nombres</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="nombres" type="text" class="form-control" id="fullName" th:value="${session.usuario.getNombres()}">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="fullName2" class="col-md-4 col-lg-3 col-form-label">Apellidos</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="apellidos" type="text" class="form-control" id="fullName2" th:value="${session.usuario.getApellidos()}">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="correo" class="col-md-4 col-lg-3 col-form-label">Correo</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="correo" type="text" class="form-control" id="correo" th:value="${session.usuario.getCorreo()}">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="celular" class="col-md-4 col-lg-3 col-form-label">Celular</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="celular" type="text" class="form-control" id="celular" th:value="${session.usuario.getCelular()}">
                    </div>
                  </div>
                  <!-- <div class="row mb-3">
                       <label for="sede" class="col-md-4 col-lg-3 col-form-label">Sede</label>
                       <div class="col-md-8 col-lg-9">
                           <input name="sedee" type="text" class="form-control" id="sede" value="San Miguel">
                       </div>
                   </div>-->

                  <div class="text-center">
                    <button type="submit" class="btn btn-warning">Guardar Cambios</button>
                  </div>
                </form><!-- End ProfileEditForm-->

              </div>

              <div class="tab-pane fade pt-3" id="profile-change-password">


                <!-- Cambio de contraseña Form -->
                <form method="post" th:action="@{'/administrativo/changepassword'}" onsubmit="return validateForm()">
                  <input th:value="${session.usuario.getIdusuario()}" name="id" type="hidden">
                  <div class="row mb-3">
                    <label for="contrasena" class="col-md-4 col-lg-3 col-form-label">Contraseña Actual</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="contrasena" type="password" class="form-control" id="contrasena">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="newPassword" class="col-md-4 col-lg-3 col-form-label" >Nueva Contraseña</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="newpassword" type="password" class="form-control" id="newPassword">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Confirmar nueva contraseña</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-warning">Cambiar Contraseña</button>
                  </div>
                  <div id="error-message" class="alert alert-danger mt-3" style="display: none;"></div>
                </form><!-- End Change Password Form -->

                <!-- Funcion para validar -->
                <script>
                  function validateForm() {
                    var password = document.getElementById("contrasena").value;
                    var newPassword = document.getElementById("newPassword").value;
                    var renewPassword = document.getElementById("renewPassword").value;

                    if (password === "" || newPassword === "" || renewPassword === "") {
                      var errorMessage = document.getElementById("error-message");
                      errorMessage.style.display = "block";
                      errorMessage.innerHTML = "Debe completar todos los campos";
                      return false;
                    }
                    if (password === newPassword ) {
                      var errorMessage = document.getElementById("error-message");
                      errorMessage.style.display = "block";
                      errorMessage.innerHTML = "La nueva contraseña no puede ser igual a la anterior";
                      return false;
                    }
                    if (renewPassword != newPassword ) {
                      var errorMessage = document.getElementById("error-message");
                      errorMessage.style.display = "block";
                      errorMessage.innerHTML = "No coinciden las contraseñas";
                      return false;
                    }


                    return true;
                  }
                </script>
                <!-- FIN Funcion para validar -->

              </div>





            </div><!-- End Bordered Tabs -->

          </div>
        </div>

      </div>
    </div>
  </section>

</main><!-- End #main -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/vendor/chart.js/chart.min.js}"></script>
<script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
<script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
<script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{/assets/js/main.js}"></script>


</body>

</html>