<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="superadmin/fragments/librerias.html :: cabecera (titulo = 'editarform')">
</head>

<body>

<!-- ======= Header ======= -->
<header th:replace="superadmin/fragments/header.html :: header(num_not = '3', num_form = '2 ', por_canc = '1', nombre = 'A. Jauregui', num_men = '3')">
</header>
<!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside th:replace="superadmin/fragments/aside.html :: sidebar (active = 'editarform')">
</aside>
<!-- End Sidebar-->

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Nuevo Formulario</h1>

    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-6">


                <div class="container">
                    <form>
                        <div class="mb-3">
                            <label for="tabla-titulo" class="form-label">Nombre Formulario</label>
                            <input type="text" class="form-control" id="tabla-titulo" name="tabla-titulo">
                        </div>

                        <div class="row mb-3">
                            <label  class="col-md-4 col-lg-3 col-form-label">Campo 1</label>
                            <div class="col-md-8 col-lg-9">
                                <input name="fullName" type="text" class="form-control" >
                                <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>

                            </div>

                        </div>

                        <div class="row mb-3">
                            <label class="col-md-4 col-lg-3 col-form-label">Campo 2</label>
                            <div class="col-md-8 col-lg-9">
                                <input name="fullName" type="text" class="form-control">
                                <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>

                            </div>

                        </div>



                        <div>
                            <button type="submit" class="btn btn-primary"><a style="color: #fdfdfd" th:href="@{'/superadmin/editarforms'}" >Añadir Campo</a></button>

                        </div>
                        <div>
                            <button type="submit" class="btn btn-dark"><a style="color: #fdfdfd" th:href="@{'/superadmin/listaform'}" >Guardar cambios </a></button>

                            <button type="button" class="btn btn-secondary"><a style="color: white" th:href="@{'/superadmin/listaform'}" >Cancelar</a></button>

                        </div>

                    </form>
                </div>

                <!-- Bootstrap JS -->
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>


    </section>




</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>Clinica LA FE</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{'/assets/vendor/apexcharts/apexcharts.min.js'}"></script>
<script th:src="@{'/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'}"></script>
<script th:src="@{'/assets/vendor/chart.js/chart.min.js'}"></script>
<script th:src="@{'/assets/vendor/echarts/echarts.min.js'}"></script>
<script th:src="@{'/assets/vendor/quill/quill.min.js'}"></script>
<script th:src="@{'/assets/vendor/simple-datatables/simple-datatables.js'}"></script>
<script th:src="@{'/assets/vendor/tinymce/tinymce.min.js'}"></script>
<script th:src="@{'/assets/vendor/php-email-form/validate.js'}"></script>

<!-- Template Main JS File -->
<script th:src="@{'/assets/js/main.js'}"></script>

</body>

</html>