<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/librerias.html :: cabecera (titulo = ' Agendar Cita')">
</head>
<body>

<!-- ======= Header ======= -->
<header th:replace="fragments/header.html :: header(num_not = '3', num_form = '2 ', por_canc = '1', nombre = |${pacientelog.usuario.nombres} ${pacientelog.usuario.apllidos}|, num_men = '3')">
</header>
<!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside th:replace="fragments/aside.html :: sidebar (active = 'agendar_cita')">
</aside>
<!-- End Sidebar-->
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Agendar Cita</h1>
  </div>

  <!-- End Page Title -->

  <section class="section">
    <div class="justify-content-md-center">
      <div class="col-md-6 offset-md-3">

        <div class="card">

          <div class="card-body">
            <h5 ></h5>


            <!-- General Form Elements -->
            <form method="post" th:action="@{'/paciente/pruebascita'}">
              <hr>
              <div class="row mb-3">

                <label class="col-sm-2 col-form-label">Sede</label>
                <div class="col-sm-10">
                  <select class="form-select" id="idsede" name="idsede">
                    <option selected disabled>Seleccione sede</option>
                    <option th:each="sede:${sedesparacitas}" th:text="${sede.nombre}" th:value="${sede.idsede}"></option>
                  </select>
                </div>
              </div>

              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Doctor</label>
                <div class="col-sm-10">
                  <select class="form-select" id="iddoctor" name="iddoctor">
                    <option selected disabled>Seleccione doctor</option>
                    <option th:each="doctor:${doctores}" th:text="|${doctor.usuario.nombres} ${doctor.usuario.apllidos}|" th:value="${doctor.iddoctor}"></option>
                  </select>
                </div>
              </div>

              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Especialidad</label>
                <div class="col-sm-10">
                  <select class="form-select" id="especialidadid" name="especialidadid">
                    <option selected disabled>Seleccione especialidad</option>
                    <option th:each="esp:${especialidades}" th:text="${esp.nombre}" th:value="${esp.idespecialidad}"></option>
                  </select>
                </div>
              </div>



              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">DNI</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" th:value="${pacientelog.usuario.dni}" disabled>
                </div>
              </div>

              <div class="row mb-3">
                <label for="fecha" class="col-sm-2 col-form-label">Date</label>
                <div class="col-sm-10">
                  <input type="date" class="form-control" name="fecha" id="fecha">
                </div>
              </div>

              <div class="row mb-3">
                <label for="hora" class="col-sm-2 col-form-label">Time</label>
                <div class="col-sm-10">
                  <input type="time" class="form-control" name="hora" id="hora">
                </div>
              </div>

              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Tipo</label>
                <div class="col-sm-10">
                  <select class="form-select" name="idtipocita" id="idtipocita">
                    <option selected disabled>Seleccione tipo de cita</option>
                    <option th:each="t:${tipocita}" th:text="${t.nombre}" th:value="${t.idtipocita}"></option>
                  </select>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Seguro</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" th:value="${pacientelog.seguro.nombre}" disabled>
                </div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="idseguro" th:value="${pacientelog.seguro.idseguro}" hidden>
                </div>
              </div>

              <div class="text-center">

                <div class="col-sm-10">
                  <div th:if="${msg!=null}" th:text="${msg}" class="alert alert-danger" role="alert"></div>
                  <button type="submit" class="btn btn-success">Agendar Cita</button>
                </div>
              </div>

            </form><!-- End General Form Elements -->

          </div>
        </div>

      </div>

    </div>
  </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

  <div class="credits">
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
    Diseñado por <a href="#">Grupo 1</a>
  </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/vendor/chart.js/chart.min.js}"></script>
<script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
<script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
<script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{/assets/js/main.js}"></script>

</body>

</html>