<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragmentsPacientes/librerias.html :: cabecera (titulo = ' Agendar Cita')">
</head>
<body>

<!-- ======= Header ======= -->
<header th:replace="fragmentsPacientes/header.html :: header(num_not = '3', num_form = '2 ', por_canc = '1', nombre = |${session.usuario.nombres} ${session.usuario.apellidos}|, num_men = '3')">
</header>
<!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside th:replace="fragmentsPacientes/aside.html :: sidebar (active = 'agendar_cita')">
</aside>
<!-- End Sidebar-->

<!--Modal Cerrar Sesion-->
<div th:replace="fragmentsPacientes/modalCerrarSesion.html::modal">

</div>
<!-- End Modal-->
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Agendar Cita</h1>
  </div>

  <!-- End Page Title -->

  <section class="section">
    <div class="justify-content-md-center">
      <div class="col-md-6 offset-md-3">

        <div class="card">

          <div class="card-body">
            <h5 ></h5>


            <!-- General Form Elements -->
            <form method="post" th:action="@{'/paciente/pruebascita'}" onsubmit="return validateForm()">
              <br>
              <div class="row mb-3">

                <label class="col-sm-3 col-form-label" style="font-weight: bold">Sede</label>
                <div class="col-sm-9">
                  <select class="form-select" id="idsede" name="idsede" >
                    <option value="vacio" selected disabled>Seleccione sede</option>
                    <option th:each="sede:${sedesparacitas}" th:text="${sede.nombre}" th:value="${sede.idsede}"></option>
                  </select>
                </div>
              </div>

              <div class="row mb-3">
                <label class="col-sm-3 col-form-label"style="font-weight: bold">Especialidad</label>
                <div class="col-sm-9">
                  <select class="form-select" id="especialidadid" name="especialidadid" required>
                    <option value="vacio" selected disabled>Seleccione especialidad</option>
                    <option th:each="esp:${especialidades}" th:text="${esp.nombre}" th:value="${esp.idespecialidad}"></option>
                  </select>
                </div>
              </div>

              <div class="row mb-3">
                <label class="col-sm-3 col-form-label"style="font-weight: bold">Doctor</label>
                <div class="col-sm-9">
                  <select class="form-select" id="iddoctor" name="iddoctor" required>
                    <option value="vacio" selected disabled>Seleccione doctor</option>
                    <option th:each="doctor:${doctores}" th:text="|${doctor.usuario.nombres} ${doctor.usuario.apellidos}|" th:value="${doctor.iddoctor}"></option>
                  </select>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-3 col-form-label"style="font-weight: bold">DNI</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" th:value="${session.usuario.dni}" disabled required>
                </div>
              </div>

              <div class="row mb-3">
                <label for="fecha" class="col-sm-3 col-form-label"style="font-weight: bold">Fecha</label>
                <div class="col-sm-9">
                  <select class="form-select" name="fecha" id="fecha" required>
                    <option value="vacio" selected disabled>Seleccione fecha</option>
                    <option th:each="e:${caldisponible}" th:text="|${e.fecha} (${e.doctor.usuario.nombres} ${e.doctor.usuario.apellidos})|" th:value="${e.fecha}"></option>
                  </select>
                </div>
              </div>

              <div class="row mb-3">
                <label for="hora" class="col-sm-3 col-form-label"style="font-weight: bold">Hora</label>
                <div class="col-sm-9">
                  <select class="form-select" name="hora" id="hora" required>
                    <option value="vacio" selected disabled>Seleccione Hora</option>
                    <option th:each="e:${caldisponible}" th:text="|${e.horainicio}-${e.horafinal} (${e.doctor.usuario.nombres} ${e.doctor.usuario.apellidos})|" th:value="${e.horainicio}"></option>
                  </select>
                </div>
              </div>

              <div class="row mb-3">
                <label class="col-sm-3 col-form-label"style="font-weight: bold">Tipo</label>
                <div class="col-sm-9">
                  <select class="form-select" name="idtipocita" id="idtipocita" required>
                    <option value="vacio" selected disabled>Seleccione tipo de cita</option>
                    <option th:each="t:${tipocita}" th:text="${t.nombre}" th:value="${t.idtipocita}"></option>
                  </select>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-3 col-form-label"style="font-weight: bold">Seguro</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" th:value="${pacientelog.seguro.nombre}" disabled required>
                </div>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="idseguro" th:value="${pacientelog.seguro.idseguro}" hidden required>
                </div>
              </div>
              <h1 th:text="${session.usuario.idusuario}"></h1>
              <h2 th:text="${pacientelog.direccion}"></h2>
              <div class="text-center">
                <div class="text-center">
                  <button type="submit" class="btn btn-warning">Agendar Cita</button>
                </div>
              </div>

              <div th:if="${msg!=null}" th:text="${msg}" class="alert alert-danger" role="alert"></div>

              <div id="error-message" class="alert alert-danger mt-3" style="display: none;"></div>

            </form><!-- End General Form Elements -->

            <script>
              function validateForm() {
                // Get form fields
                var sede = document.getElementById("idsede");
                var especialidad = document.getElementById("especialidadid");
                var doctor = document.getElementById("iddoctor");
                var fecha = document.getElementById("fecha");
                var hora = document.getElementById("hora");
                var tipoCita = document.getElementById("idtipocita");

                // Check if all fields are completed
                if (
                        sede.value === "vacio" ||
                        especialidad.value === "vacio" ||
                        doctor.value === "vacio" ||
                        fecha.value === "vacio" ||
                        hora.value === "vacio" ||
                        tipoCita.value === "vacio"
                ) {
                  var errorMessage = document.getElementById("error-message");
                  errorMessage.style.display = "block";
                  errorMessage.innerHTML = "Complete todos los campos";
                  return false;
                }

                return true; // Allow form submission
              }
            </script>

          </div>
        </div>

      </div>

    </div>
  </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

  <div class="credits">
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
    Diseñado por <a href="#">Grupo 1</a>
  </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/vendor/chart.js/chart.min.js}"></script>
<script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
<script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
<script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{/assets/js/main.js}"></script>

</body>

</html>