<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/doctor/librerias.html :: cabecera (titulo = ' Cuestionario')">
</head>
<body>
<!-- ======= Header ======= -->
<header th:replace="fragmentsPacientes/header.html :: header(num_not = '3', num_form = '2 ', por_canc = '1', nombre = |${session.usuario.nombres} ${session.usuario.apellidos} (${session.usuario.tipodeusuario.nombre.toUpperCase()})|, num_men = '3', id=${pacientelog.usuario.idusuario})">
</header>
<!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside th:replace="fragmentsPacientes/aside.html :: sidebar (active = 'Cuestionarios')">
</aside>
<!-- End Sidebar-->

<!--Modal Cerrar Sesion-->
<div th:replace="fragmentsPacientes/modalCerrarSesion.html::modal">

</div>
<!-- End Modal-->

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Cuestionario</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Cuestionarios</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section ">
        <div class="row">

            <!-- Right side columns -->
            <div class="col-lg">
                <!-- Bitacora -->
                <div class="card recent-sales overflow-auto">
                    <div class="card-body">
                        <form id="cuestionario_en_form">
                            <div id="contenedorDivs">
                                <!--                        <h5 class="card-title" th:text="|Cuestionario Médico - ${datos.cita.especialidad.nombre}|">Cuestionario Médico</h5>-->
                                <div class="row mb-3" th:each="pregunta,indice:${listapreguntascuestionario}">
                                    <input type="hidden" th:value="${id_cuest}" name="idcuest" id="idcuest"/>
                                    <input type="hidden" th:value="${idcita}" name="idcita" id="idcita"/>
                                    <label class="card-title" th:text="|Pregunta ${indice.index+1}:|"></label>
                                    <label class="col-md-4 col-lg-3 col-form-label" th:text="${pregunta}"></label>
                                    <input type="text" th:name="'respuesta' + ${indice.index}" class="form-control"/>
                                </div>
                                <br>
                                <div class="text-center">
                                    <button class="btn btn-primary" id="boton_envio" onclick="EnviarForm()"
                                            type="submit">Enviar
                                    </button>

                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</main><!-- End #main -->




<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<!-- Vendor JS Files -->
<script th:src="@{'/assets/vendor/apexcharts/apexcharts.min.js'}"></script>
    <script th:src="@{'/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'}"></script>
    <script th:src="@{'/assets/vendor/chart.js/chart.min.js'}"></script>
    <script th:src="@{'/assets/vendor/echarts/echarts.min.js'}"></script>
    <script th:src="@{'/assets/vendor/quill/quill.min.js'}"></script>
    <script th:src="@{'/assets/vendor/simple-datatables/simple-datatables.js'}"></script>
    <script th:src="@{'/assets/vendor/tinymce/tinymce.min.js'}"></script>
    <script th:src="@{'/assets/vendor/php-email-form/validate.js'}"></script>

    <!-- Template Main JS File -->
    <script th:src="@{'/assets/js/main.js'}"></script>


    <script>

        function EnviarForm() {

            console.log("ingresa");

            //id modelo
            const idcuest = document.getElementById("idcuest").value

            const idcita = document.getElementById("idcita").value

            console.log(idcuest);


            //id div - contenedor
            var inputs = document.getElementById("contenedorDivs").querySelectorAll("input.form-control");
            var valores = [];


            valores.push(idcuest)
            valores.push(idcita)

            for (var i = 0; i < inputs.length; i++) {
                var valor = inputs[i].value;
                valores.push(valor);
            }


            console.log(valores);


            // const crearModal = bootstrap.Modal.getOrCreateInstance('#createModal');
            // crearModal.hide();


            var xmlhttp_2 = new XMLHttpRequest();
            var url = "/paciente/llenarCuestionario?valores=" + encodeURIComponent(valores);
            xmlhttp_2.open("POST", url, true);
            xmlhttp_2.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xmlhttp_2.onreadystatechange = function () {

                if (xmlhttp_2.readyState == XMLHttpRequest.DONE) {
                    if (xmlhttp_2.status == 200) {
                        // Mostrar
                        // mensaje
                        // de
                        // éxito
                        // alert("Cuestionario completado correctamente");
                        // location.reload();

                        // alert("Cuestionario completado correctamente");
                        // // Redireccionar a la página de cuestionarios
                        // window.location.href = "/paciente/cuestionarios";


                        var xmlhttp_3 = new XMLHttpRequest();
                        var url = "/paciente/cuestionarios?mensaje_url=completado";
                        xmlhttp_3.open("GET", url, true);
                        xmlhttp_3.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                        xmlhttp_3.onreadystatechange = function () {
                        };
                        xmlhttp_3.send();



                    } else {
                        // Mostrar mensaje de error
                        alert("Ha ocurrido un error al actualizar la plantilla");
                    }
                }
            };

            xmlhttp_2.send();


        };


    </script>


</body>


</html>
