<!DOCTYPE html>
<html lang="en">

<head th:insert="fragmentsPacientes/librerias.html :: cabecera (titulo = 'Perfil')">
</head>

<body>

<!-- ======= Header ======= -->
<header th:replace="fragmentsPacientes/header.html :: header(num_not = '3', num_form = '2 ', por_canc = '1', nombre = |${session.usuario.nombres} ${session.usuario.apellidos} (${session.usuario.tipodeusuario.nombre.toUpperCase()})|, num_men = '3', id=${pacientelog.usuario.idusuario})">
</header>
<!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside th:replace="fragmentsPacientes/aside.html :: sidebar (active = 'perfil')">
</aside>
<!-- End Sidebar-->

<!--Modal Cerrar Sesion-->
<div th:replace="fragmentsPacientes/modalCerrarSesion.html::modal">

</div>
<!-- End Modal-->

<main id="main" class="main">

  <div class="pagetitle">
    <h1>Perfil</h1>
    <nav>

    </nav>
  </div><!-- End Page Title -->

  <section class="section profile">
    <div class="row">
      <div class="col-xl-4">

        <div class="card">
          <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">


            <img th:src="@{'/gcp/imagenEvento?id=' + ${pacientelog.usuario.idusuario}}" alt="Profile" class="rounded-circle">
            <h2 th:text="|${pacientelog.usuario.nombres} ${pacientelog.usuario.apellidos}|"></h2>
            <div th:if="${psw1!=null}" th:text="${psw1}" class="alert alert-success" role="alert"></div>
            <div th:if="${psw2!=null}" th:text="${psw2}" class="alert alert-danger" role="alert"></div>

          </div>
        </div>

      </div>

      <div class="col-xl-8">

        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">

              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Perfil</button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Editar Perfil</button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Añadir Alergias</button>
              </li>

              <li class="nav-item">
                <button class=" nav-link"  data-bs-toggle="tab" href="#profile-change-password" data-bs-target="#profile-change-password" >Cambiar Contraseñas</button>
              </li>

            </ul>
            <div class="tab-content pt-2">

              <div class="tab-pane fade show active profile-overview" id="profile-overview">

                <h5 class="card-title">Detalles</h5>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label ">Nombre Completo</div>
                  <div class="col-lg-9 col-md-8" th:text="|${pacientelog.usuario.nombres} ${pacientelog.usuario.apellidos}|"></div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">DNI</div>
                  <div class="col-lg-9 col-md-8"th:text="${pacientelog.usuario.dni}"></div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Seguro</div>
                  <div class="col-lg-9 col-md-8"th:text="${pacientelog.seguro.nombre}"></div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Edad</div>
                  <div class="col-lg-9 col-md-8"th:text="${pacientelog.usuario.edad}"></div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Dirección</div>
                  <div class="col-lg-9 col-md-8"th:text="${pacientelog.direccion}"></div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Celular</div>
                  <div class="col-lg-9 col-md-8"th:text="${pacientelog.usuario.celular}"></div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Correo</div>
                  <div class="col-lg-9 col-md-8"th:text="${pacientelog.usuario.correo}"></div>
                </div>

                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Alergias</h5>
                    <div th:if="${msg1!=null}" th:text="${msg1}" class="alert alert-danger" role="alert"></div>
                    <div th:if="${msg2!=null}" th:text="${msg2}" class="alert alert-success" role="alert"></div>
                    <!-- Default List group -->

                    <table class="table">
                      <thead>
                      <tr>
                      </tr>

                      </thead>
                      <tbody>
                      <tr>
                        <td>
                          <ul class="list-group">
                            <li th:each="alergia : ${#strings.arraySplit(pacientelog.alergias, ',')}" th:text="${#strings.capitalize(alergia)}"></li>
                          </ul>
                        </td>
                      </tr>
                      </tbody>
                    </table>



                  </div>
                </div>
              </div>

              <div class="tab-pane fade profile-edit pt-3" id="profile-edit">


                <!-- Profile Edit Form -->

                  <div class="row mb-3">
                    <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Imagen de Perfil</label>
                    <div class="col-md-8 col-lg-9">
                      <img th:src="@{'/gcp/imagenEvento?id=' + ${pacientelog.usuario.idusuario}}" alt="Profile" class="rounded-circle">
                      <br><br>
                      <label>FOTO</label>
                      <form method="post" th:action="@{'/imagen/guardarImagen?id='+ ${pacientelog.usuario.idusuario}}" enctype="multipart/form-data">
                        <div class="form-group">
                          <input type="file" name="file" accept="image/*" class="form-control-file">
                        </div>
                        <br>
                        <button type="submit" class="btn btn-warning">Subir foto</button>&nbsp<span style="font-size: small; color: gray">De preferencia la imagen debe pesar menos de 64 KB</span>
                      </form>
                    </div>
                  </div>

                  <div class="row mb-3">

                        <div class="row mb-3">
                          <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Ingresar Poliza de Seguro</label>
                          <div class="col-md-8 col-lg-9">

                            <div class="row mb-3">
                              <div for="po" class="col-md-8 col-lg-9">
                                <input type="text" class="form-control" id="nuevoSeguro" value="5467892036" required>
                              </div>
                            </div>

                          </div>
                        </div>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-outline-warning"  >Guardar Cambios</button>
                  </div>


              </div>

              <div class="tab-pane fade pt-3" id="profile-settings">

                <!-- Alergias Form -->
                <form method="post" th:action="@{/paciente/alergia}" onsubmit="return validateForm2()">
                  <div class="row mb-3">
                    <label for="alergias" class="col-md-4 col-lg-3 col-form-label">Ingresar alergia</label>
                    <div class="col-md-8 col-lg-9">
                      <div class="row mb-3">
                        <div class="col-md-8 col-lg-9">
                          <input name="idpaciente" type="hidden" class="form-control" id="idpaciente" th:value="${pacientelog.idpaciente}">
                          <input name="alergias" type="text" class="form-control" id="alergias">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-outline-warning">Añadir</button>
                  </div>
                  <div id="error-message2" class="alert alert-danger mt-3" style="display: none;"></div>

                </form><!-- End settings Form -->

                <!-- Funcion para validar -->

                <script>
                  function validateForm2() {
                    var alergias = document.getElementById("alergias").value.trim();

                    if (alergias === "") {
                      var errorMessage = document.getElementById("error-message2");
                      errorMessage.style.display = "block";
                      errorMessage.innerHTML = "Complete el campo requerido";
                      return false;
                    }

                    var palabras = alergias.split(" ").filter(function (palabra) {
                      return palabra !== "";
                    });

                    if (palabras.length !== new Set(palabras).size) {
                      var errorMessage = document.getElementById("error-message2");
                      errorMessage.style.display = "block";
                      errorMessage.innerHTML = "La palabra está repetida";
                      return false;
                    }

                    return true;
                  }
                </script>
                <!-- FIN Funcion para validar -->

              </div>

              <div class="tab-pane fade pt-3" id="profile-change-password">


                <!-- Cambio de contraseña Form -->
                <form method="post" th:action="@{'/paciente/changepassword'}" onsubmit="return validateForm()">

                  <div class="row mb-3">
                    <label for="contrasena" class="col-md-4 col-lg-3 col-form-label">Contraseña Actual</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="contrasena" type="password" class="form-control" id="contrasena">

                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="newPassword" class="col-md-4 col-lg-3 col-form-label" >Nueva Contraseña</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="newpassword" type="password" class="form-control" id="newPassword">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Confirmar Nueva Contraseña</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                    </div>
                  </div>


                  <div class="text-center">
                    <button type="submit" class="btn btn-outline-warning">Cambiar Contraseña</button>
                  </div>
                  <div id="error-message" class="alert alert-danger mt-3" style="display: none;"></div>
                  <div id="flash-psw2" th:if="${psw2!=null}" class="alert alert-danger mt-3" style="display: none;"></div>


                </form><!-- End Change Password Form -->

                <!-- Funcion para validar -->
                <script>
                  function validateForm() {
                    var password = document.getElementById("contrasena").value;
                    var newPassword = document.getElementById("newPassword").value;
                    var renewPassword = document.getElementById("renewPassword").value;
                    var flashPsw2 = document.getElementById("flash-psw2");


                    if (password === "" || newPassword === "" || renewPassword === "") {
                      var errorMessage = document.getElementById("error-message");
                      errorMessage.style.display = "block";
                      errorMessage.innerHTML = "Debe completar todos los campos";
                      return false;
                    }
                    if (password === newPassword ) {
                      var errorMessage = document.getElementById("error-message");
                      errorMessage.style.display = "block";
                      errorMessage.innerHTML = "La nueva contraseña no puede ser igual a la anterior";
                      return false;
                    }
                    if (renewPassword != newPassword ) {
                      var errorMessage = document.getElementById("error-message");
                      errorMessage.style.display = "block";
                      errorMessage.innerHTML = "No coinciden las contraseñas";
                      return false;
                    }
                    if (flashPsw2 && flashPsw2.value === "true") {
                      var errorMessage = document.getElementById("error-message");
                      errorMessage.style.display = "block";
                      errorMessage.innerHTML = "La contraseña es incorrecta";
                      return false;
                    }



                    return true;
                  }
                </script>
                <!-- FIN Funcion para validar -->

              </div>

            </div><!-- End Bordered Tabs -->

          </div>
        </div>

      </div>
    </div>
  </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

  <div class="credits">
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
    Diseñado por <a href="#">Grupo 1</a>
  </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/vendor/chart.js/chart.min.js}"></script>
<script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
<script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
<script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{/assets/js/main.js}"></script>

</body>

</html>