<!DOCTYPE html>
<html lang="en">

<head th:insert="fragments/librerias.html :: cabecera (titulo = 'Perfil')">
</head>

<body>

<!-- ======= Header ======= -->
<header th:replace="fragments/header.html :: header(num_not = '3', num_form = '2 ', por_canc = '1', nombre = 'L. Anderson', num_men = '3')">
</header>
<!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside th:replace="fragments/aside.html :: sidebar (active = 'perfil')">
</aside>
<!-- End Sidebar-->

<main id="main" class="main">

  <div class="pagetitle">
    <h1>Perfil</h1>
    <nav>

    </nav>
  </div><!-- End Page Title -->

  <section class="section profile">
    <div class="row">
      <div class="col-xl-4">

        <div class="card">
          <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

            <img th:src="@{/assets/img/profile-img.jpg}" alt="Profile" class="rounded-circle">
            <h2>Kevin Anderson</h2>

          </div>
        </div>

      </div>

      <div class="col-xl-8">

        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">

              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Perfil</button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Editar Perfil</button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Añadir Alergias</button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Cambiar Contraseñas</button>
              </li>

            </ul>
            <div class="tab-content pt-2">

              <div class="tab-pane fade show active profile-overview" id="profile-overview">

                <h5 class="card-title">Detalles</h5>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label ">Nombre Completo</div>
                  <div class="col-lg-9 col-md-8">Kevin Anderson</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">DNI</div>
                  <div class="col-lg-9 col-md-8">71409872</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Seguro</div>
                  <div class="col-lg-9 col-md-8">Rimac Seguros</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Nacionalidad</div>
                  <div class="col-lg-9 col-md-8">Peruana</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Dirección</div>
                  <div class="col-lg-9 col-md-8">A108 Adam Street, New York, NY 535022</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Teléfono</div>
                  <div class="col-lg-9 col-md-8">(436) 486-3538</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Correo</div>
                  <div class="col-lg-9 col-md-8">k.anderson@example.com</div>
                </div>

                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Alergias</h5>

                    <!-- Default List group -->
                    <ul class="list-group">
                      <li class="list-group-item">Polvo</li>
                      <li class="list-group-item">Polen</li>
                      <li class="list-group-item">Pelusa</li>
                      <li class="list-group-item">Perros</li>
                    </ul><!-- End Default List group -->

                  </div>
                </div>
              </div>

              <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                <!-- Profile Edit Form -->
                <form>
                  <div class="row mb-3">
                    <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Imagen de Perfil</label>
                    <div class="col-md-8 col-lg-9">
                      <img th:src="@{assets/img/profile-img.jpg}" alt="Profile" class="rounded-circle">
                      <div class="pt-2">
                        <a href="#" class="btn btn-primary btn-sm" title="Subir nueva foto de perfil"><i class="bi bi-upload"></i></a>
                        <a href="#" class="btn btn-danger btn-sm" title="Borrar foto de perfil"><i class="bi bi-trash"></i></a>
                      </div>
                    </div>
                  </div>

                  <div class="row mb-3">

                        <div class="row mb-3">
                          <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Ingresar Poliza de seguro</label>
                          <div class="col-md-8 col-lg-9">

                            <div class="row mb-3">
                              <div for="po" class="col-md-8 col-lg-9">
                                <input type="text" class="form-control" id="nuevoSeguro" value="5467892036" required>
                              </div>
                            </div>

                          </div>
                        </div>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-outline-warning"  >Guardar Cambios</button>
                  </div>
                </form><!-- End Profile Edit Form -->

              </div>

              <div class="tab-pane fade pt-3" id="profile-settings">

                <!-- Alergias Form -->
                <form>

                  <div class="row mb-3">
                    <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Ingresar alergia</label>
                    <div class="col-md-8 col-lg-9">

                      <div class="row mb-3">
                        <div class="col-md-8 col-lg-9">
                          <input name="alergia" type="text" class="form-control" id="nuevaAlergia">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-outline-warning">Añadir</button>
                  </div>
                </form><!-- End settings Form -->

              </div>

              <div class="tab-pane fade pt-3" id="profile-change-password">
                <!-- Cambio de contraseña Form -->
                <form>

                  <div class="row mb-3">
                    <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Contraseña Actual</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="password" type="password" class="form-control" id="currentPassword">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="newPassword" class="col-md-4 col-lg-3 col-form-label" >Nueva Contraseña</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="newpassword" type="password" class="form-control" id="newPassword">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Confirmar nueva contraseña</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-outline-warning">Cambiar Contraseña</button>
                  </div>
                </form><!-- End Change Password Form -->

              </div>

            </div><!-- End Bordered Tabs -->

          </div>
        </div>

      </div>
    </div>
  </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

  <div class="credits">
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
    Diseñado por <a href="#">Grupo 1</a>
  </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/vendor/chart.js/chart.min.js}"></script>
<script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
<script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
<script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{/assets/js/main.js}"></script>

</body>

</html>