<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragmentsPacientes/librerias.html :: cabecera (titulo = ' Agendar Cita')">
</head>
<body>
<!-- ======= Header ======= -->
<header th:replace="fragmentsPacientes/header.html :: header(num_not = '3', num_form = '2 ', por_canc = '1', nombre = |${session.usuario.nombres} ${session.usuario.apellidos} (${session.usuario.tipodeusuario.nombre.toUpperCase()})|, num_men = '3')">
</header>
<!-- End Header -->
<!-- ======= Sidebar ======= -->
<aside th:replace="fragmentsPacientes/aside.html :: sidebar (active = 'dashboard')">
</aside>
<!-- End Sidebar-->

<!--Modal Cerrar Sesion-->
<div th:replace="fragmentsPacientes/modalCerrarSesion.html::modal">

</div>
<!-- End Modal-->
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Seleccione horario</h1>
  </div>
  <section class="section profile">
    <div class="card d-flex justify-content-center">


      <div class="card-body pb-0">
        <h5 class="card-title">Lunes</h5>
        <div class="table-responsive">
          <table class="table  table-bordered">
            <thead>
            <tr>
              <th class="text-center">Hora</th>
              <th class="text-center">Disponibilidad</th>
            </tr>
            </thead>
            <tbody class="text-center">
            <tr th:each="p,idx:${lunes}">
              <td th:text="|${p.horainicio} - ${p.horafinal}|"></td>
              <td>
                <button type="button"   class="btn btn-warning" data-toggle="modal" th:data-target="'#exampleModalCenter-' +${p.ideventocalendariodoctor}" th:text="Disponible">
                </button>



                <!-- Modal -->
                <div class="modal fade" th:id="'exampleModalCenter-' + ${p.ideventocalendariodoctor}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div style="background-color: #ffd966" class="modal-header">
                        <h5 class="modal-title " style="font-weight: bold" id="exampleModalLongTitle"></h5>

                        <div class="d-flex align-items-center">
                          <i class="bi bi-geo-alt-fill"></i>
                          <p class="ml-3 mb-0" th:text="${p.doctor.sede.nombre}"></p>
                        </div>
                      </div>
                      <div class="modal-body">

                        <div class="d-flex align-items-center">
                          <div class="col-lg-8">
                            <table>
                              <tr>
                                <td>
                                  <p  class="ml-3 mb-0" >Doctor:</p>
                                </td>
                                <td>
                                  <p  class="ml-3 mb-0"  th:text="|${p.doctor.usuario.nombres} ${p.doctor.usuario.apellidos}|"></p>
                                </td>

                              </tr>
                            </table>

                          </div>
                        </div>
                      </div>
                      <div class="d-inline-block w-auto mx-auto">
                        <div class="card bg-light d-flex align-items-center">
                          <h2 th:text="${p.fecha}"></h2>
                          <div class="card-body">
                            <div class="row">
                              <div class="col">
                                <div class="p-3">
                                  Duración
                                </div>
                                <div class="p-3">
                                  <p th:text="|${p.duracion} hora(s)|"></p>
                                </div>
                              </div>
                              <div class="col">
                                <div class="p-3">
                                  Inicio:
                                </div>
                                <div class="p-3">
                                  <p th:text="${p.horainicio}"></p>
                                </div>
                              </div>
                              <div class="col">
                                <div class="p-3">
                                  Fin:
                                </div>
                                <div class="p-3">
                                  <p th:text="${p.horafinal}"></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <br>
                      <div class="modal-footer d-flex justify-content-center">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    <!-- End Website Traffic -->





      <!-- inicio-->

      <div class="card-body pb-0">
        <h5 class="card-title">Martes</h5>
        <div class="table-responsive">
          <table class="table  table-bordered">
            <thead>
            <tr>
              <th class="text-center">Hora</th>
              <th class="text-center">Disponibilidad</th>
            </tr>
            </thead>
            <tbody class="text-center">
            <tr th:each="p,idx:${martes}">
              <td th:text="|${p.horainicio} - ${p.horafinal}|"></td>
              <td>
                <button type="button"   class="btn btn-warning" data-toggle="modal" th:data-target="'#exampleModalCenter-' +${p.ideventocalendariodoctor}" th:text="Disponible">
                </button>

               <!-- Modal-->
      <div class="modal fade" th:id="'exampleModalCenter-' + ${p.ideventocalendariodoctor}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div style="background-color: #ffd966" class="modal-header">
              <h5 class="modal-title " style="font-weight: bold" id="exampleModalLongTitle"></h5>

              <div class="d-flex align-items-center">
                <i class="bi bi-geo-alt-fill"></i>
                <p class="ml-3 mb-0" th:text="${p.doctor.sede.nombre}"></p>
              </div>
            </div>
            <div class="modal-body">

              <div class="d-flex align-items-center">
                <div class="col-lg-8">
                  <table>
                    <tr>
                      <td>
                        <p  class="ml-3 mb-0" >Doctor:</p>
                      </td>
                      <td>
                        <p  class="ml-3 mb-0"  th:text="|${p.doctor.usuario.nombres} ${p.doctor.usuario.apellidos}|"></p>
                      </td>

                    </tr>
                  </table>

                </div>
              </div>
            </div>
            <div class="d-inline-block w-auto mx-auto">
              <div class="card bg-light d-flex align-items-center">
                <h2 th:text="${p.fecha}"></h2>
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <div class="p-3">
                        Duración
                      </div>
                      <div class="p-3">
                        <p th:text="|${p.duracion} hora(s)|"></p>
                      </div>
                    </div>
                    <div class="col">
                      <div class="p-3">
                        Inicio:
                      </div>
                      <div class="p-3">
                        <p th:text="${p.horainicio}"></p>
                      </div>
                    </div>
                    <div class="col">
                      <div class="p-3">
                        Fin:
                      </div>
                      <div class="p-3">
                        <p th:text="${p.horafinal}"></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="modal-footer d-flex justify-content-center">
              <button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
      </td>
      </tr>
      </tbody>
      </table>
    </div>
    </div>

      <!--final-->






      <!-- inicio-->

      <div class="card-body pb-0">
        <h5 class="card-title">Miercoles</h5>
        <div class="table-responsive">
          <table class="table  table-bordered">
            <thead>
            <tr>
              <th class="text-center">Hora</th>
              <th class="text-center">Disponibilidad</th>
            </tr>
            </thead>
            <tbody class="text-center">
            <tr th:each="p,idx:${miercoles}">
              <td th:text="|${p.horainicio} - ${p.horafinal}|"></td>
              <td>
                <button type="button"   class="btn btn-warning" data-toggle="modal" th:data-target="'#exampleModalCenter-' +${p.ideventocalendariodoctor}" th:text="Disponible">
                </button>

                <!-- Modal-->
                <div class="modal fade" th:id="'exampleModalCenter-' + ${p.ideventocalendariodoctor}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div style="background-color: #ffd966" class="modal-header">
                        <h5 class="modal-title " style="font-weight: bold" id="exampleModalLongTitle"></h5>

                        <div class="d-flex align-items-center">
                          <i class="bi bi-geo-alt-fill"></i>
                          <p class="ml-3 mb-0" th:text="${p.doctor.sede.nombre}"></p>
                        </div>
                      </div>
                      <div class="modal-body">

                        <div class="d-flex align-items-center">
                          <div class="col-lg-8">
                            <table>
                              <tr>
                                <td>
                                  <p  class="ml-3 mb-0" >Doctor:</p>
                                </td>
                                <td>
                                  <p  class="ml-3 mb-0"  th:text="|${p.doctor.usuario.nombres} ${p.doctor.usuario.apellidos}|"></p>
                                </td>

                              </tr>
                            </table>

                          </div>
                        </div>
                      </div>
                      <div class="d-inline-block w-auto mx-auto">
                        <div class="card bg-light d-flex align-items-center">
                          <h2 th:text="${p.fecha}"></h2>
                          <div class="card-body">
                            <div class="row">
                              <div class="col">
                                <div class="p-3">
                                  Duración
                                </div>
                                <div class="p-3">
                                  <p th:text="|${p.duracion} hora(s)|"></p>
                                </div>
                              </div>
                              <div class="col">
                                <div class="p-3">
                                  Inicio:
                                </div>
                                <div class="p-3">
                                  <p th:text="${p.horainicio}"></p>
                                </div>
                              </div>
                              <div class="col">
                                <div class="p-3">
                                  Fin:
                                </div>
                                <div class="p-3">
                                  <p th:text="${p.horafinal}"></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <br>
                      <div class="modal-footer d-flex justify-content-center">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!--final-->



      <!-- inicio-->

      <div class="card-body pb-0">
        <h5 class="card-title">Jueves</h5>
        <div class="table-responsive">
          <table class="table  table-bordered">
            <thead>
            <tr>
              <th class="text-center">Hora</th>
              <th class="text-center">Disponibilidad</th>
            </tr>
            </thead>
            <tbody class="text-center">
            <tr th:each="p,idx:${jueves}">
              <td th:text="|${p.horainicio} - ${p.horafinal}|"></td>
              <td>
                <button type="button"   class="btn btn-warning" data-toggle="modal" th:data-target="'#exampleModalCenter-' +${p.ideventocalendariodoctor}" th:text="Disponible">
                </button>

                <!-- Modal-->
                <div class="modal fade" th:id="'exampleModalCenter-' + ${p.ideventocalendariodoctor}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div style="background-color: #ffd966" class="modal-header">
                        <h5 class="modal-title " style="font-weight: bold" id="exampleModalLongTitle"></h5>

                        <div class="d-flex align-items-center">
                          <i class="bi bi-geo-alt-fill"></i>
                          <p class="ml-3 mb-0" th:text="${p.doctor.sede.nombre}"></p>
                        </div>
                      </div>
                      <div class="modal-body">

                        <div class="d-flex align-items-center">
                          <div class="col-lg-8">
                            <table>
                              <tr>
                                <td>
                                  <p  class="ml-3 mb-0" >Doctor:</p>
                                </td>
                                <td>
                                  <p  class="ml-3 mb-0"  th:text="|${p.doctor.usuario.nombres} ${p.doctor.usuario.apellidos}|"></p>
                                </td>

                              </tr>
                            </table>

                          </div>
                        </div>
                      </div>
                      <div class="d-inline-block w-auto mx-auto">
                        <div class="card bg-light d-flex align-items-center">
                          <h2 th:text="${p.fecha}"></h2>
                          <div class="card-body">
                            <div class="row">
                              <div class="col">
                                <div class="p-3">
                                  Duración
                                </div>
                                <div class="p-3">
                                  <p th:text="|${p.duracion} hora(s)|"></p>
                                </div>
                              </div>
                              <div class="col">
                                <div class="p-3">
                                  Inicio:
                                </div>
                                <div class="p-3">
                                  <p th:text="${p.horainicio}"></p>
                                </div>
                              </div>
                              <div class="col">
                                <div class="p-3">
                                  Fin:
                                </div>
                                <div class="p-3">
                                  <p th:text="${p.horafinal}"></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <br>
                      <div class="modal-footer d-flex justify-content-center">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!--final-->






      <!-- inicio-->

      <div class="card-body pb-0">
        <h5 class="card-title">Viernes</h5>
        <div class="table-responsive">
          <table class="table  table-bordered">
            <thead>
            <tr>
              <th class="text-center">Hora</th>
              <th class="text-center">Disponibilidad</th>
            </tr>
            </thead>
            <tbody class="text-center">
            <tr th:each="p,idx:${viernes}">
              <td th:text="|${p.horainicio} - ${p.horafinal}|"></td>
              <td>
                <button type="button"   class="btn btn-warning" data-toggle="modal" th:data-target="'#exampleModalCenter-' +${p.ideventocalendariodoctor}" th:text="Disponible">
                </button>

                <!-- Modal-->
                <div class="modal fade" th:id="'exampleModalCenter-' + ${p.ideventocalendariodoctor}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div style="background-color: #ffd966" class="modal-header">
                        <h5 class="modal-title " style="font-weight: bold" id="exampleModalLongTitle"></h5>

                        <div class="d-flex align-items-center">
                          <i class="bi bi-geo-alt-fill"></i>
                          <p class="ml-3 mb-0" th:text="${p.doctor.sede.nombre}"></p>
                        </div>
                      </div>
                      <div class="modal-body">

                        <div class="d-flex align-items-center">
                          <div class="col-lg-8">
                            <table>
                              <tr>
                                <td>
                                  <p  class="ml-3 mb-0" >Doctor:</p>
                                </td>
                                <td>
                                  <p  class="ml-3 mb-0"  th:text="|${p.doctor.usuario.nombres} ${p.doctor.usuario.apellidos}|"></p>
                                </td>

                              </tr>
                            </table>

                          </div>
                        </div>
                      </div>
                      <div class="d-inline-block w-auto mx-auto">
                        <div class="card bg-light d-flex align-items-center">
                          <h2 th:text="${p.fecha}"></h2>
                          <div class="card-body">
                            <div class="row">
                              <div class="col">
                                <div class="p-3">
                                  Duración
                                </div>
                                <div class="p-3">
                                  <p th:text="|${p.duracion} hora(s)|"></p>
                                </div>
                              </div>
                              <div class="col">
                                <div class="p-3">
                                  Inicio:
                                </div>
                                <div class="p-3">
                                  <p th:text="${p.horainicio}"></p>
                                </div>
                              </div>
                              <div class="col">
                                <div class="p-3">
                                  Fin:
                                </div>
                                <div class="p-3">
                                  <p th:text="${p.horafinal}"></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <br>
                      <div class="modal-footer d-flex justify-content-center">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!--final-->





      <!-- inicio-->

      <div class="card-body pb-0">
        <h5 class="card-title">Sabado</h5>
        <div class="table-responsive">
          <table class="table  table-bordered">
            <thead>
            <tr>
              <th class="text-center">Hora</th>
              <th class="text-center">Disponibilidad</th>
            </tr>
            </thead>
            <tbody class="text-center">
            <tr th:each="p,idx:${sabado}">
              <td th:text="|${p.horainicio} - ${p.horafinal}|"></td>
              <td>
                <button type="button"   class="btn btn-warning" data-toggle="modal" th:data-target="'#exampleModalCenter-' +${p.ideventocalendariodoctor}" th:text="Disponible">
                </button>

                <!-- Modal-->
                <div class="modal fade" th:id="'exampleModalCenter-' + ${p.ideventocalendariodoctor}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div style="background-color: #ffd966" class="modal-header">
                        <h5 class="modal-title " style="font-weight: bold" id="exampleModalLongTitle"></h5>

                        <div class="d-flex align-items-center">
                          <i class="bi bi-geo-alt-fill"></i>
                          <p class="ml-3 mb-0" th:text="${p.doctor.sede.nombre}"></p>
                        </div>
                      </div>
                      <div class="modal-body">

                        <div class="d-flex align-items-center">
                          <div class="col-lg-8">
                            <table>
                              <tr>
                                <td>
                                  <p  class="ml-3 mb-0" >Doctor:</p>
                                </td>
                                <td>
                                  <p  class="ml-3 mb-0"  th:text="|${p.doctor.usuario.nombres} ${p.doctor.usuario.apellidos}|"></p>
                                </td>

                              </tr>
                            </table>

                          </div>
                        </div>
                      </div>
                      <div class="d-inline-block w-auto mx-auto">
                        <div class="card bg-light d-flex align-items-center">
                          <h2 th:text="${p.fecha}"></h2>
                          <div class="card-body">
                            <div class="row">
                              <div class="col">
                                <div class="p-3">
                                  Duración
                                </div>
                                <div class="p-3">
                                  <p th:text="|${p.duracion} hora(s)|"></p>
                                </div>
                              </div>
                              <div class="col">
                                <div class="p-3">
                                  Inicio:
                                </div>
                                <div class="p-3">
                                  <p th:text="${p.horainicio}"></p>
                                </div>
                              </div>
                              <div class="col">
                                <div class="p-3">
                                  Fin:
                                </div>
                                <div class="p-3">
                                  <p th:text="${p.horafinal}"></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <br>
                      <div class="modal-footer d-flex justify-content-center">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!--final-->


    </div>
  </section>

</main><!-- End #main -->







<script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/vendor/chart.js/chart.min.js}"></script>
<script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
<script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
<script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{/assets/js/main.js}"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>