<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/doctor/librerias.html :: cabecera (titulo = 'Añadir Calendario')">
</head>
<body>
<!-- ======= Header ======= -->
<header th:replace="fragments/doctor/header.html :: header(num_not = '3', num_form = '2 ', por_canc = '1',  nombre = |${doctor.usuario.nombres} ${doctor.usuario.apellidos} (${doctor.usuario.tipodeusuario.nombre.toUpperCase()})|, num_men = '2', id=${session.usuario.idusuario})">

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var horaInicioSelect = document.getElementById('horainicio');
      var horaFinalSelect = document.getElementById('horafinal');

      horaInicioSelect.addEventListener('change', function() {
        var horaInicio = horaInicioSelect.value;

        // Valida que la hora de inicio sea menor que la hora final
        if (horaFinalSelect.value !== '' && horaInicio >= horaFinalSelect.value) {
          alert('La hora de inicio debe ser menor que la hora final');
          horaFinalSelect.value = '';
        }

        // Actualiza las opciones de hora final
        actualizarHorasFinales(horaInicio);
      });

      function actualizarHorasFinales(horaInicio) {
        var xhr = new XMLHttpRequest();
        xhr.open('POST', 'http://localhost:8082/doctor/calendario/agregar', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onreadystatechange = function() {
          if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
            var horasFinalesDisponibles = JSON.parse(xhr.responseText);
            // Restablece las opciones de hora final
            horaFinalSelect.innerHTML = '';

            // Crea las opciones de hora final y las agrega al select
            horasFinalesDisponibles.forEach(function(horaFinal) {
              var option = document.createElement('option');
              option.value = horaFinal;
              option.textContent = horaFinal;
              horaFinalSelect.appendChild(option);
            });
          }
        };
        var data = JSON.stringify({ horaInicio: horaInicio });
        xhr.send(data);
      }
    });
  </script>

</header>
<!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside th:replace="fragments/doctor/aside.html :: sidebar (active = 'calendario')">
</aside><!-- End Sidebar-->

<!--Modal Cerrar Sesion-->
<div th:replace="fragments/doctor/modalCerrarSesion.html::modal">

</div>
<!-- End Modal-->

<main id="main" class="main">

  <div class="pagetitle">
    <h1>Calendario</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">Calendario General</li>
        <div th:if="${msg!=null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section profile">
    <div class="row">
      <div class="col-xl-4">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Calendario Tabla</h5>
              <table class="table">
                <thead class="table-light">
                <tr>
                  <th style="text-align: center" scope="col">Fecha</th>
                  <th style="text-align: center" scope="col">Hora</th>
                  <th style="text-align: center" scope="col">Descripcion</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each=" evento :${eventos}">
                  <td style="text-align: center" th:text="${#temporals.format(fecha, 'dd-MM-yyyy')}"></td>
                  <td style="text-align: center" th:text="|${evento.getHorainicio()} - ${evento.getHorafinal()}|"></td>
                  <td style="text-align: center" th:text="${evento.getTipohoracalendariodoctor().getNombre()}"></td>
                </tr>

                </tbody>
              </table>
            </div>
          </div>

      </div>

      <div class="col-xl-8">

        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">

              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Turno Mañana</button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Refrigerio</button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Turno Tarde</button>
              </li>


            </ul>
            <div class="tab-content pt-2">

              <div class="tab-pane fade show active profile-overview" id="profile-overview">

                <!-- General Form Elements -->
                <form method="post" th:action="@{'/doctor/calendario/guardar1'}"  onsubmit="return validateForm1()" >
                  <br>

                  <input th:value="${doctor.getIddoctor()}" name="iddoctor" type="hidden" />

                  <div class="mb-3 row">
                    <label for="fecha" class="col-sm-3 col-form-label"  style="font-weight: bold">Fecha</label>
                    <div class="col-sm-9">
                      <input type="text" name="fecha" class="form-control" id="fecha"
                             th:value="${fecha}" readonly>
                      <!--  th:value="${#temporals.format(fecha, 'dd-MM-yyyy')}" -->
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="horainicio" class="col-sm-3 col-form-label" style="font-weight: bold">Hora Inicio</label>
                    <div class="col-sm-9">
                      <select class="form-select" name="horainicio" id="horainicio" required>
                        <option value="vacio" selected disabled>Seleccione Hora</option>
                        <option th:each="h: ${horasDisponiblesInicioTurnoM}" th:text="${h}" th:value="${h}"> </option>
                      </select>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="horafinal" class="col-sm-3 col-form-label"style="font-weight: bold">Hora Final</label>
                    <div class="col-sm-9">
                      <select class="form-select" name="horafinal" id="horafinal" required>
                        <option value="vacio" selected disabled>Seleccione Hora</option>
                        <option th:each="h: ${horasDisponiblesFinalTurnoM}" th:text="${h}" th:value="${h}"> </option>
                      </select>
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label for="descripcion" class="col-sm-3 col-form-label"  style="font-weight: bold">Descripcion</label>
                    <div class="col-sm-9">
                      <input type="text" name="descripcion" class="form-control" id="descripcion">
                    </div>
                  </div>

                  <div class="text-center">
                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Agregar</button>
                      <div id="error-message1" class="alert alert-danger mt-3" style="display: none;"></div>
                    </div>
                  </div>
                </form>
              </div>

              <div class="tab-pane fade pt-3" id="profile-settings">

                <!-- General Form Elements -->
                <form method="post" th:action="@{'/doctor/calendario/guardar2'}"  onsubmit="return validateForm2()" >
                  <input th:value="${doctor.getIddoctor()}" name="iddoctor" type="hidden" />

                  <div class="mb-3 row">
                    <label for="fecha" class="col-sm-3 col-form-label"  style="font-weight: bold">Fecha</label>
                    <div class="col-sm-9">
                      <input type="text" name="fecha" class="form-control" id="fecha2"
                             th:value="${fecha}" readonly>
                      <!--  th:value="${#temporals.format(fecha, 'dd-MM-yyyy')}" -->
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="horainicio" class="col-sm-3 col-form-label" style="font-weight: bold">Hora Inicio</label>
                    <div class="col-sm-9">
                      <select class="form-select" name="horainicio" id="horainicio2" required>
                        <option value="vacio" selected disabled>Seleccione Hora</option>
                        <option th:each="h: ${horasDisponiblesInicioRefrigerio}" th:text="${h}" th:value="${h}"> </option>
                      </select>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="horafinal" class="col-sm-3 col-form-label"style="font-weight: bold">Hora Final</label>
                    <div class="col-sm-9">
                      <select class="form-select" name="horafinal" id="horafinal2" required>
                        <option value="vacio" selected disabled>Seleccione Hora</option>
                        <option th:each="h: ${horasDisponiblesFinalRefrigerio}" th:text="${h}" th:value="${h}"> </option>
                      </select>
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label for="descripcion" class="col-sm-3 col-form-label"  style="font-weight: bold">Descripcion</label>
                    <div class="col-sm-9">
                      <input type="text" name="descripcion" class="form-control" id="descripcion2">
                    </div>
                  </div>

                  <div class="text-center">
                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Agregar</button>
                      <div id="error-message2" class="alert alert-danger mt-3" style="display: none;"></div>
                    </div>
                  </div>
                </form>
              </div>

              <div class="tab-pane fade pt-3" id="profile-change-password">
                <form method="post" th:action="@{'/doctor/calendario/guardar1'}"  onsubmit="return validateForm1()" >
                  <input th:value="${doctor.getIddoctor()}" name="iddoctor" type="hidden" />

                  <div class="mb-3 row">
                    <label for="fecha" class="col-sm-3 col-form-label"  style="font-weight: bold">Fecha</label>
                    <div class="col-sm-9">
                      <input type="text" name="fecha" class="form-control" id="fecha3"
                             th:value="${fecha}" readonly>
                      <!--  th:value="${#temporals.format(fecha, 'dd-MM-yyyy')}" -->
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="horainicio" class="col-sm-3 col-form-label" style="font-weight: bold">Hora Inicio</label>
                    <div class="col-sm-9">
                      <select class="form-select" name="horainicio" id="horainicio3" required>
                        <option value="vacio" selected disabled>Seleccione Hora</option>
                        <option th:each="h: ${horasDisponiblesInicioTurnoT}" th:text="${h}" th:value="${h}"> </option>
                      </select>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="horafinal" class="col-sm-3 col-form-label"style="font-weight: bold">Hora Final</label>
                    <div class="col-sm-9">
                      <select class="form-select" name="horafinal" id="horafinal3" required>
                        <option value="vacio" selected disabled>Seleccione Hora</option>
                        <option th:each="h: ${horasDisponiblesFinalTurnoT}" th:text="${h}" th:value="${h}"> </option>
                      </select>
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label for="descripcion" class="col-sm-3 col-form-label"  style="font-weight: bold">Descripcion</label>
                    <div class="col-sm-9">
                      <input type="text" name="descripcion" class="form-control" id="descripcion3">
                    </div>
                  </div>

                  <div class="text-center">
                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Agregar</button>
                     <div id="error-message3" class="alert alert-danger mt-3" style="display: none;"></div>
                    </div>
                  </div>
                </form>
              </div>

            </div><!-- End Bordered Tabs -->

          </div>
        </div>
        </div>
      </div>
    </div>
    <!-- Funcion para validar -->
    <script>
      function validateForm2() {
        var horainicio = document.getElementById("horainicio").value;
        var horafinal = document.getElementById("horafinal").value;
        var descripcion = document.getElementById("descripcion").value.trim();
        var idtipocalendario = document.getElementById("idtipocalendario").value;

        if (horainicio === "" || horafinal === "" || descripcion === "" || idtipocalendario === "" ) {
          var errorMessage = document.getElementById("error-message2");
          errorMessage.style.display = "block";
          errorMessage.innerHTML = "Complete todos los campos requeridos";
          return false;
        }
        else if (horainicio !== "" && horafinal !== "" && idtipocalendario == '1') {
          var tiempo1 = parseInt(horainicio.split(":")[0]);
          var tiempo2 = parseInt(horafinal.split(":")[0]);
          var diferencia = Math.abs(tiempo1 - tiempo2);

          if (diferencia > 1) {
            var errorMessage = document.getElementById("error-message2");
            errorMessage.style.display = "block";
            errorMessage.innerHTML = "No debe exceder de 1 hora para sus citas";
            return false;
          }
        }
        else if (horainicio !== "" && horafinal !== "" && idtipocalendario == '2') {
          var tiempo1 = parseInt(horainicio.split(":")[0]);
          var tiempo2 = parseInt(horafinal.split(":")[0]);
          var diferencia = Math.abs(tiempo1 - tiempo2);

          if (diferencia > 2) {
            var errorMessage = document.getElementById("error-message2");
            errorMessage.style.display = "block";
            errorMessage.innerHTML = "No debe exceder de 2 horas para su refrigerio";
            return false;
          }
        }
        else if (descripcion.length >= 30 || /^\s+$/.test(descripcion))
        {
          var errorMessage = document.getElementById("error-message2");
          errorMessage.style.display = "block";
          errorMessage.innerHTML = "El campo excede el número de caracteres permitidos";
          return false;
        }

        else if (descripcion.length <= 2 || /^\s+$/.test(descripcion))
        {
          var errorMessage = document.getElementById("error-message2");
          errorMessage.style.display = "block";
          errorMessage.innerHTML = "El campo debe tener como mínimo 3 caracteres";
          return false;
        }
        return true;
      }
    </script>
    <script>
      function validateForm1() {
        var horainicio = document.getElementById("horainicio").value;
        var horafinal = document.getElementById("horafinal").value;
        var descripcion = document.getElementById("descripcion").value.trim();
        var idtipocalendario = document.getElementById("idtipocalendario").value;

        if (horainicio === "" || horafinal === "" || descripcion === "" || idtipocalendario === "" ) {
          var errorMessage = document.getElementById("error-message2");
          errorMessage.style.display = "block";
          errorMessage.innerHTML = "Complete todos los campos requeridos";
          return false;
        }
        else if (horainicio !== "" && horafinal !== "" && idtipocalendario == '1') {
          var tiempo1 = parseInt(horainicio.split(":")[0]);
          var tiempo2 = parseInt(horafinal.split(":")[0]);
          var diferencia = Math.abs(tiempo1 - tiempo2);

          if (diferencia > 1) {
            var errorMessage = document.getElementById("error-message1");
            errorMessage.style.display = "block";
            errorMessage.innerHTML = "No debe exceder de 1 hora para sus citas";
            return false;
          }
        }
        else if (horainicio !== "" && horafinal !== "" && idtipocalendario == '2') {
          var tiempo1 = parseInt(horainicio.split(":")[0]);
          var tiempo2 = parseInt(horafinal.split(":")[0]);
          var diferencia = Math.abs(tiempo1 - tiempo2);

          if (diferencia > 2) {
            var errorMessage = document.getElementById("error-message2");
            errorMessage.style.display = "block";
            errorMessage.innerHTML = "No debe exceder de 2 horas para su refrigerio";
            return false;
          }
        }
        else if (descripcion.length >= 30 || /^\s+$/.test(descripcion))
        {
          var errorMessage = document.getElementById("error-message2");
          errorMessage.style.display = "block";
          errorMessage.innerHTML = "El campo excede el número de caracteres permitidos";
          return false;
        }

        else if (descripcion.length <= 2 || /^\s+$/.test(descripcion))
        {
          var errorMessage = document.getElementById("error-message2");
          errorMessage.style.display = "block";
          errorMessage.innerHTML = "El campo debe tener como mínimo 3 caracteres";
          return false;
        }
        return true;
      }
    </script>
  </section>
  <div class="text-center">
    <button type="button" class="btn btn-danger"><a style="color: white" th:href="@{'/doctor/calendario'}" >Cancelar</a></button>
  </div>
  <!--
  <section class="section">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Opciones disponibles a escoger</h5>
            <a class="btn btn-success" style="--bs-btn-padding-y: .60rem; --bs-btn-padding-x: 0.2cm;
                                --bs-btn-font-size: .75rem;"></a><span class="card-text"> Disponibilidad</span><br>
            <a class="btn btn-info" style="--bs-btn-padding-y: .60rem; --bs-btn-padding-x: 0.2cm;
                                --bs-btn-font-size: .75rem;"></a><span class="card-text"> Refrigerio</span> <br><br>
            <div class="justify-content-md-center">
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <form method="post" th:action="@{'/doctor/calendario/guardar'}"  onsubmit="return validateForm2()" >
              <br>
              <input th:value="${doctor.getIddoctor()}" name="iddoctor" type="hidden" />

              <div class="mb-3 row">
                <label for="fecha" class="col-sm-3 col-form-label"  style="font-weight: bold">Fecha</label>
                <div class="col-sm-9">
                  <input type="text" name="fecha" class="form-control" id="fecha"
                         th:value="${fecha}" readonly>
                  <th:value="${#temporals.format(fecha, 'dd-MM-yyyy')}" -
                </div>
              </div>

              <div class="row mb-3">
                <label for="horainicio" class="col-sm-3 col-form-label" style="font-weight: bold">Hora Inicio</label>
                <div class="col-sm-9">
                  <select class="form-select" name="horainicio" id="horainicio" required>
                    <option value="vacio" selected disabled>Seleccione Hora</option>
                    <option th:each="h: ${horasDisponiblesInicio}" th:text="${h}" th:value="${h}"> </option>
                  </select>
                </div>
              </div>

              <div class="row mb-3">
                <label for="horafinal" class="col-sm-3 col-form-label"style="font-weight: bold">Hora Final</label>
                <div class="col-sm-9">
                  <select class="form-select" name="horafinal" id="horafinal" required>
                    <option value="vacio" selected disabled>Seleccione Hora</option>
                    <option th:each="h: ${horasDisponiblesFinal}" th:text="${h}" th:value="${h}"> </option>
                  </select>
                </div>
              </div>
              <div class="mb-3 row">
                <label for="descripcion" class="col-sm-3 col-form-label"  style="font-weight: bold">Descripcion</label>
                <div class="col-sm-9">
                  <input type="text" name="descripcion" class="form-control" id="descripcion">
                </div>
              </div>

              <div class="row mb-3">
                <label for="idtipocalendario" class="col-sm-3 col-form-label"style="font-weight: bold">Opciones</label>
                <div class="col-sm-9">
                  <select class="form-select" name="idtipocalendario" id="idtipocalendario" required>
                    <option value="vacio" selected disabled>Seleccione</option>
                    <option th:each="t:${tipocita}" th:text="${t.nombre}" th:value="${t.idtipohoracalendariodoctor}"></option>
                  </select>
                </div>
              </div>


              <div class="text-center">
                <div class="text-center">
                  <button type="submit" class="btn btn-warning">Añadir Opcion</button>
                  <button type="button" class="btn btn-danger"><a style="color: white" th:href="@{'/doctor/calendario'}" >Cancelar</a></button>
                  <div id="error-message2" class="alert alert-danger mt-3" style="display: none;"></div>
                </div>
              </div>
            </form>

            <script>
              function validateForm2() {
                var horainicio = document.getElementById("horainicio").value;
                var horafinal = document.getElementById("horafinal").value;
                var descripcion = document.getElementById("descripcion").value.trim();
                var idtipocalendario = document.getElementById("idtipocalendario").value;

                if (horainicio === "" || horafinal === "" || descripcion === "" || idtipocalendario === "" ) {
                  var errorMessage = document.getElementById("error-message2");
                  errorMessage.style.display = "block";
                  errorMessage.innerHTML = "Complete todos los campos requeridos";
                  return false;
                }
                else if (horainicio !== "" && horafinal !== "" && idtipocalendario == '1') {
                  var tiempo1 = parseInt(horainicio.split(":")[0]);
                  var tiempo2 = parseInt(horafinal.split(":")[0]);
                  var diferencia = Math.abs(tiempo1 - tiempo2);

                  if (diferencia > 1) {
                    var errorMessage = document.getElementById("error-message2");
                    errorMessage.style.display = "block";
                    errorMessage.innerHTML = "No debe exceder de 1 hora para sus citas";
                    return false;
                  }
                }
                else if (horainicio !== "" && horafinal !== "" && idtipocalendario == '2') {
                  var tiempo1 = parseInt(horainicio.split(":")[0]);
                  var tiempo2 = parseInt(horafinal.split(":")[0]);
                  var diferencia = Math.abs(tiempo1 - tiempo2);

                  if (diferencia > 2) {
                    var errorMessage = document.getElementById("error-message2");
                    errorMessage.style.display = "block";
                    errorMessage.innerHTML = "No debe exceder de 2 horas para su refrigerio";
                    return false;
                  }
                }
                else if (descripcion.length >= 30 || /^\s+$/.test(descripcion))
                {
                  var errorMessage = document.getElementById("error-message2");
                  errorMessage.style.display = "block";
                  errorMessage.innerHTML = "El campo excede el número de caracteres permitidos";
                  return false;
                }

                else if (descripcion.length <= 2 || /^\s+$/.test(descripcion))
                {
                  var errorMessage = document.getElementById("error-message2");
                  errorMessage.style.display = "block";
                  errorMessage.innerHTML = "El campo debe tener como mínimo 3 caracteres";
                  return false;
                }
                return true;
              }
            </script>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </section> -->
</main>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{'/assets/vendor/apexcharts/apexcharts.min.js'}"></script>
<script th:src="@{'/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'}"></script>
<script th:src="@{'/assets/vendor/chart.js/chart.min.js'}"></script>
<script th:src="@{'/assets/vendor/echarts/echarts.min.js'}"></script>
<script th:src="@{'/assets/vendor/quill/quill.min.js'}"></script>
<script th:src="@{'/assets/vendor/simple-datatables/simple-datatables.js'}"></script>
<script th:src="@{'/assets/vendor/tinymce/tinymce.min.js'}"></script>
<script th:src="@{'/assets/vendor/php-email-form/validate.js'}"></script>

<!-- Template Main JS File -->
<script th:src="@{'/assets/js/main.js'}"></script>

</body>

</html>