<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/doctor/librerias.html :: cabecera (titulo = 'Calendario')">
</head>
<body>
<!-- ======= Header ======= -->
<header th:replace="fragments/doctor/header.html :: header(num_not = '3', num_form = '2 ', por_canc = '1',  nombre = |${doctor.usuario.nombres} ${doctor.usuario.apellidos}|, num_men = '2')">
</header>
<!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside th:replace="fragments/doctor/aside.html :: sidebar (active = 'calendario')">
</aside><!-- End Sidebar-->

<!--Modal Cerrar Sesion-->
<div th:replace="fragments/doctor/modalCerrarSesion.html::modal">

</div>
<!-- End Modal-->

<main id="main" class="main">

  <div class="pagetitle">
    <h1>Calendario</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">Calendario General</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Opciones</h5>
            <a class="btn btn-warning" style="--bs-btn-padding-y: .60rem; --bs-btn-padding-x: 0.2cm;
                                --bs-btn-font-size: .75rem;"></a><span class="card-text"> Citas</span><br>
            <a class="btn btn-success" style="--bs-btn-padding-y: .60rem; --bs-btn-padding-x: 0.2cm;
                                --bs-btn-font-size: .75rem;"></a><span class="card-text"> Disponibilidad</span><br>
            <a class="btn btn-info" style="--bs-btn-padding-y: .60rem; --bs-btn-padding-x: 0.2cm;
                                --bs-btn-font-size: .75rem;"></a><span class="card-text"> Refrigerio</span> <br><br>
            <div class="justify-content-md-center">
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <!-- General Form Elements -->
            <form method="post" th:action="@{'/paciente/pruebascita'}" onsubmit="return validateForm()">
              <br>
              <div class="row mb-3">

                <label class="col-sm-3 col-form-label" style="font-weight: bold">Sede</label>
                <div class="col-sm-9">
                  <select class="form-select" id="idsede" name="idsede" >
                    <option value="vacio" selected disabled>Seleccione sede</option>
                    <option th:each="sede:${sedesparacitas}" th:text="${sede.nombre}" th:value="${sede.idsede}"></option>
                  </select>
                </div>
              </div>

              <div class="row mb-3">
                <label class="col-sm-3 col-form-label"style="font-weight: bold">Especialidad</label>
                <div class="col-sm-9">
                  <select class="form-select" id="especialidadid" name="especialidadid" required>
                    <option value="vacio" selected disabled>Seleccione especialidad</option>
                    <option th:each="esp:${especialidades}" th:text="${esp.nombre}" th:value="${esp.idespecialidad}"></option>
                  </select>
                </div>
              </div>

              <div class="row mb-3">
                <label class="col-sm-3 col-form-label"style="font-weight: bold">Doctor</label>
                <div class="col-sm-9">
                  <select class="form-select" id="iddoctor" name="iddoctor" required>
                    <option value="vacio" selected disabled>Seleccione doctor</option>
                    <option th:each="doctor:${doctores}" th:text="|${doctor.usuario.nombres} ${doctor.usuario.apellidos}|" th:value="${doctor.iddoctor}"></option>
                  </select>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-3 col-form-label"style="font-weight: bold">DNI</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" th:value="${session.usuario.dni}" disabled required>
                </div>
              </div>

              <div class="row mb-3">
                <label for="fecha" class="col-sm-3 col-form-label"style="font-weight: bold">Fecha</label>
                <div class="col-sm-9">
                  <select class="form-select" name="fecha" id="fecha" required>
                    <option value="vacio" selected disabled>Seleccione fecha</option>
                    <option th:each="e:${caldisponible}" th:text="|${e.fecha} (${e.doctor.usuario.nombres} ${e.doctor.usuario.apellidos})|" th:value="${e.fecha}"></option>
                  </select>
                </div>
              </div>

              <div class="row mb-3">
                <label for="hora" class="col-sm-3 col-form-label"style="font-weight: bold">Hora</label>
                <div class="col-sm-9">
                  <select class="form-select" name="hora" id="hora" required>
                    <option value="vacio" selected disabled>Seleccione Hora</option>
                    <option th:each="e:${caldisponible}" th:text="|${e.horainicio}-${e.horafinal} (${e.doctor.usuario.nombres} ${e.doctor.usuario.apellidos})|" th:value="${e.horainicio}"></option>
                  </select>
                </div>
              </div>

              <div class="row mb-3">
                <label class="col-sm-3 col-form-label"style="font-weight: bold">Tipo</label>
                <div class="col-sm-9">
                  <select class="form-select" name="idtipocita" id="idtipocita" required>
                    <option value="vacio" selected disabled>Seleccione tipo de cita</option>
                    <option th:each="t:${tipocita}" th:text="${t.nombre}" th:value="${t.idtipocita}"></option>
                  </select>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-3 col-form-label"style="font-weight: bold">Seguro</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" th:value="${pacientelog.seguro.nombre}" disabled required>
                </div>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="idseguro" th:value="${pacientelog.seguro.idseguro}" hidden required>

                </div>
              </div>

              <div class="row mb-3">
                <label class="col-sm-3 col-form-label"style="font-weight: bold"></label>
                <div class="col-sm-9">
                  <span th:text="|La comision que se paga con este seguro es ${pacientelog.seguro.getCoaseguro()}|"></span>
                </div>

              </div>

              <div class="text-center">
                <div class="text-center">
                  <button type="submit" class="btn btn-warning">Agendar Cita</button>
                </div>
              </div>

              <div th:if="${msg!=null}" th:text="${msg}" class="alert alert-danger" role="alert"></div>

              <div id="error-message" class="alert alert-danger mt-3" style="display: none;"></div>

            </form><!-- End General Form Elements -->
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </section>
</main>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{'/assets/vendor/apexcharts/apexcharts.min.js'}"></script>
<script th:src="@{'/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'}"></script>
<script th:src="@{'/assets/vendor/chart.js/chart.min.js'}"></script>
<script th:src="@{'/assets/vendor/echarts/echarts.min.js'}"></script>
<script th:src="@{'/assets/vendor/quill/quill.min.js'}"></script>
<script th:src="@{'/assets/vendor/simple-datatables/simple-datatables.js'}"></script>
<script th:src="@{'/assets/vendor/tinymce/tinymce.min.js'}"></script>
<script th:src="@{'/assets/vendor/php-email-form/validate.js'}"></script>

<!-- Template Main JS File -->
<script th:src="@{'/assets/js/main.js'}"></script>

</body>

</html>