<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:insert="fragments/doctor/librerias.html :: cabecera (titulo = 'Boleta')">
    </head>
    <body>
    <!-- ======= Header ======= -->
    <header th:replace="fragments/doctor/header.html :: header(num_not = '3', num_form = '2 ', por_canc = '1',
    nombre = |${doctor.usuario.nombres} ${doctor.usuario.apellidos} (${doctor.usuario.tipodeusuario.nombre.toUpperCase()})|, num_men = '2', id=${session.usuario.idusuario})">
    </header>
    <!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside th:replace="fragments/doctor/aside.html :: sidebar (active = 'pacientesAtendidos')">
    </aside><!-- End Sidebar-->

    <!--Modal Cerrar Sesion-->
    <div th:replace="fragments/doctor/modalCerrarSesion.html::modal">

    </div>
    <!-- End Modal-->

    <main id="main" class="main">

            <div class="pagetitle">
                <div class="row">
                    <div class="col">
                        <h1>Boletas Citas</h1>
                        <nav>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a th:href="@{'/doctor/pacientesatendidos'+ '?id=' + ${doctor.iddoctor}}">Pacientes Atendidos</a></li>
                                <li class="breadcrumb-item"><a th:href="@{'/doctor/pacientesatendidos/verhistorial'+ '?id=' + ${cita.getPaciente().getIdpaciente()}}">Historial Clínico</a></li>
                                <li class="breadcrumb-item active">Boleta</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col">
                            <button  class="btn-primary btn" id="boletaPdf"><i class="bi bi-printer-fill"></i>Descargar</button>
                    </div>
                </div>
            </div><!-- End Page Title -->

            <section class="section" style="padding-left: 2.5%; padding-right: 2.5%">
                <!-- Left side columns -->
                <div class="col-lg">
                    <div class="row">
                        <div class="col">
                            <div id="boletaDoctor" class="card info-card customers-card">
                                <div class="card-body">
                                    <br>
                                        <div class="row" >
                                            <div class="col">
                                                <h5><p>Boleta - Doctor</p></h5>
                                            </div>
                                             <div class="col">
                                                <a  class="logo d-flex align-items-right"><img th:src="@{/assets/img/logo.png}" alt="" style="width: 15%">
                                                   <h5 style="color: black"><p>Clínica LA FE</p></h5>
                                                </a>
                                             </div>
                                        </div>
                                    <br>
                                    <div style=" background-color: #2F68BA" class="text-center" >
                                        <p  class="text-center " style="font-size: 24px;  color: white; font-weight: bolder; font-family: Tahoma; height: 44px" >Información Cita</p>
                                    </div>
                                    <div class="col-lg">
                                        <div class="row">
                                            <div class="col">
                                                        <table>
                                                            <tr>
                                                                <th style="text-align: left;width: 200px;" >Paciente:</th>
                                                                <td style="width: 300px;"  th:text="|${boletadoctor.getPaciente().getUsuario().getNombres()} ${boletadoctor.getPaciente().getUsuario().getApellidos()}|"></td>
                                                            </tr>
                                                            <tr>
                                                                <th style="text-align: left;width: 200px;">Seguro:</th>
                                                                <td style="width: 300px;" th:text="${boletadoctor.getPaciente().getSeguro().getNombre()}"></td>
                                                            </tr>
                                                            <tr>
                                                                <th style="text-align: left;width: 200px;" >Motivo:</th>
                                                                <td style="width: 300px;" th:text="${boletadoctor.getPaciente().getCondicionenfermedad()}"></td>
                                                            </tr>
                                                        </table>
                                            </div>
                                            <br>
                                            <!-- End Left side columns -->
                                            <div class="col">
                                                        <table>
                                                            <tr>
                                                                <th style="text-align: left;width: 200px;" >Doctor(a):</th>
                                                                <td style="width: 300px;" th:text="|${boletadoctor.getDoctor().getUsuario().getNombres()} ${boletadoctor.getDoctor().getUsuario().getApellidos()}|"></td>
                                                            </tr>
                                                            <tr>
                                                                <th style="text-align: left;width: 200px;">Tipo de Cita:</th>
                                                                <td style="width: 300px;" th:text="${boletadoctor.getCita().getTipoCita().getNombre()}"></td>
                                                            </tr>
                                                            <tr>
                                                                <th style="text-align: left;width: 200px;" >Fecha:</th>
                                                                <td style="width: 300px;" th:text="${boletadoctor.getCita().getFecha()}"></td>
                                                            </tr>
                                                        </table>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                    <div style="background-color: #2F68BA">
                                        <p class="text-right" style="color: white; font-weight: bolder" th:text="|MONTO RECIBIDO: S/. ${boletadoctor.getMonto()}|"></p>
                                    </div>



                                        <script>
                                            const generarPdf = () => {
                                                // Obtener la sección del historial clínico
                                                const boletaDoc = document.querySelector('#boletaDoctor');

                                                // Configurar opciones de PDF
                                                const pdfOptions = {
                                                    margin: [0, 0, 0, 0],
                                                    filename: 'boleta-doctor.pdf',
                                                    image: { type: 'jpeg', quality: 0.98 },
                                                    html2canvas: { scale: 2 },
                                                    jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
                                                };

                                                // Crear PDF a partir del contenido de la sección
                                                html2pdf().set(pdfOptions).from(boletaDoc).save();
                                            }

                                            // Agregar controlador de eventos de clic al botón "PDF Historial Clínico"
                                            const boletaDocPdfBtn = document.querySelector('#boletaPdf');
                                            boletaDocPdfBtn.addEventListener('click', generarPdf);
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div><!-- End Left side columns -->
                    </div>
                </div>
            </section>
        </main><!-- End #main -->



        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

        <!-- Vendor JS Files -->
        <script th:src="@{'/assets/vendor/apexcharts/apexcharts.min.js'}"></script>
        <script th:src="@{'/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'}"></script>
        <script th:src="@{'/assets/vendor/chart.js/chart.min.js'}"></script>
        <script th:src="@{'/assets/vendor/echarts/echarts.min.js'}"></script>
        <script th:src="@{'/assets/vendor/quill/quill.min.js'}"></script>
        <script th:src="@{'/assets/vendor/simple-datatables/simple-datatables.js'}"></script>
        <script th:src="@{'/assets/vendor/tinymce/tinymce.min.js'}"></script>
        <script th:src="@{'/assets/vendor/php-email-form/validate.js'}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>


        <!-- Template Main JS File -->
        <script th:src="@{'/assets/js/main.js'}"></script>

    </body>

</html>