 <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/doctor/librerias.html :: cabecera (titulo = 'Calendario')">
</head>
<body>
<!-- ======= Header ======= -->
<header th:replace="fragments/doctor/header.html :: header(num_not = '3', num_form = '2 ', por_canc = '1',  nombre = |${doctor.usuario.nombres} ${doctor.usuario.apellidos} (${doctor.usuario.tipodeusuario.nombre.toUpperCase()})|, num_men = '2')">
</header>
<!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside th:replace="fragments/doctor/aside.html :: sidebar (active = 'calendario')">
</aside><!-- End Sidebar-->

<!--Modal Cerrar Sesion-->
<div th:replace="fragments/doctor/modalCerrarSesion.html::modal">

</div>
<!-- End Modal-->

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Calendario</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Calendario General</li>
            </ol>
        </nav>
        <div th:if="${msg!=null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">

                        <h5 class="card-title">Opciones</h5>
                        <a class="btn btn-warning" style="--bs-btn-padding-y: .60rem; --bs-btn-padding-x: 0.2cm;
                                --bs-btn-font-size: .75rem;"></a><span class="card-text"> Citas</span><br>
                        <a class="btn btn-success" style="--bs-btn-padding-y: .60rem; --bs-btn-padding-x: 0.2cm;
                                --bs-btn-font-size: .75rem;"></a><span class="card-text"> Disponibilidad</span><br>
                        <a class="btn btn-info" style="--bs-btn-padding-y: .60rem; --bs-btn-padding-x: 0.2cm;
                                --bs-btn-font-size: .75rem;"></a><span class="card-text"> Refrigerio</span> <br><br>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Añadir Calendario</h5>
                        <form method="post" th:action="@{'/doctor/calendario/agregar'}" onsubmit="return validateForm2()" >
                            <div class="mb-3 row">
                                <input th:value="${doctor.getIddoctor()}" name="iddoctor" type="hidden" />
                                <label for="fecha" class="col-sm-3 col-form-label"  style="font-weight: bold">Fecha</label>
                                <div class="col-sm-9">
                                    <input type="date" name="fecha" class="form-control" id="fecha">
                                </div>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Continuar</button>
                                <div id="error-message2" class="alert alert-danger mt-3" style="display: none;"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Funcion para validar -->
            <script>
                function validateForm2() {
                    var fecha = document.getElementById("fecha").value.trim();

                    if (fecha === "" ) {
                        var errorMessage = document.getElementById("error-message2");
                        errorMessage.style.display = "block";
                        errorMessage.innerHTML = "Complete el campo requerido";
                        return false;
                    }
                    return true;
                }
            </script>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Calendario Tabla</h5>
                    <table class="table table-borderless datatable">
                        <thead>
                        <tr>
                            <th style="text-align: center" scope="col">Fecha</th>
                            <th style="text-align: center" scope="col">Hora</th>
                            <th style="text-align: center" scope="col">Descripcion</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each=" evento :${eventos}">
                            <td style="text-align: center" th:text="${#temporals.format(evento.getFecha(), 'dd-MM-yyyy')}"></td>
                            <td style="text-align: center" th:text="|${evento.getHorainicio()} - ${evento.getHorafinal()}|"></td>
                            <td style="text-align: center" th:text="${evento.getTipohoracalendariodoctor().getNombre()}"></td>
                            </tr>

                        </tbody>
                    </table>
                    </div>
                </div>
            </div>

            </div>
        </div>
        </div>
        </div>
    </section>
</main>

        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

        <!-- Vendor JS Files -->
        <script th:src="@{'/assets/vendor/apexcharts/apexcharts.min.js'}"></script>
        <script th:src="@{'/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'}"></script>
        <script th:src="@{'/assets/vendor/chart.js/chart.min.js'}"></script>
        <script th:src="@{'/assets/vendor/echarts/echarts.min.js'}"></script>
        <script th:src="@{'/assets/vendor/quill/quill.min.js'}"></script>
        <script th:src="@{'/assets/vendor/simple-datatables/simple-datatables.js'}"></script>
        <script th:src="@{'/assets/vendor/tinymce/tinymce.min.js'}"></script>
        <script th:src="@{'/assets/vendor/php-email-form/validate.js'}"></script>

        <!-- Template Main JS File -->
        <script th:src="@{'/assets/js/main.js'}"></script>

    </body>

</html>