<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/librerias.html :: cabecera (titulo = ' Cuestionario')">
</head>
<body>
<!-- ======= Header ======= -->
<header th:replace="fragments/header.html :: header(num_not = '3', num_form = '2 ', por_canc = '1', nombre = 'Abigail Ramirez', num_men = '2')">
</header><!-- End Header -->
<!-- ======= Sidebar ======= -->
<aside th:replace="fragments/aside.html :: sidebar (active = 'cuestionario')">
</aside><!-- End Sidebar-->
<!-- Cerrar Sesion-->
<div class="modal fade" id="cerrar" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">¿Seguro que deseas Salir?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal"><a style="color: white" href="pages-login.html" >Salir</button>
                <button type="button" class="btn btn-secondary"><a style="color: white" th:href="@{'/doctor/cuestionario'}" >Cancelar</a></button>
            </div>
        </div>
    </div>
</div><!-- End Cerrar Sesion-->
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Cuestionario</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{'/doctor/dashboard'}">Dashboard</a></li>
                <li class="breadcrumb-item active">Cuestionarios</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section ">
        <div class="row">

            <!-- Right side columns -->
            <div class="col-lg">
                <!-- Bitacora -->
                <div class="card recent-sales overflow-auto">
                    <div class="card-body">
                        <h5 class="card-title">Datos del Cuestionario</h5>
                        <form class="row g-3">
                            <div class="col-md-6">
                                <label for="nombre" class="form-label">Nombre del Paciente</label>
                                <input type="text" class="form-control" id="nombre" value="Julia Amanda Garriazo" disabled readonly >
                            </div>

                            <div class="col-md-6">
                                <label for="correo" class="form-label">Correo</label>
                                <input type="text" class="form-control" id="correo" value="amanda.garriazo@gmail.com" disabled readonly>
                            </div>
                            <div class="col-md-6">
                                <label for="especialidad" class="form-label">Especialidad</label>
                                <select class="form-select" id="especialidad" required>
                                    <option selected disabled value="">Seleccione</option>
                                    <option>Traumatologia</option>
                                    <option>Dermatologia</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="ingresoplataforma" class="form-label">Apenas Ingrese a la Plataforma</label>
                                <select class="form-select" id="ingresoplataforma" required>
                                    <option selected disabled value="">Seleccione</option>
                                    <option>Sí</option>
                                    <option>No</option>
                                </select>
                            </div>
                            <div class="d-grid gap d-md-flex justify-content-md-center">
                                <button class="btn btn-primary" type="submit">Enviar form</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</main><!-- End #main -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<!-- Vendor JS Files -->
<script th:src="@{'/assets/vendor/apexcharts/apexcharts.min.js'}"></script>
<script th:src="@{'/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'}"></script>
<script th:src="@{'/assets/vendor/chart.js/chart.min.js'}"></script>
<script th:src="@{'/assets/vendor/echarts/echarts.min.js'}"></script>
<script th:src="@{'/assets/vendor/quill/quill.min.js'}"></script>
<script th:src="@{'/assets/vendor/simple-datatables/simple-datatables.js'}"></script>
<script th:src="@{'/assets/vendor/tinymce/tinymce.min.js'}"></script>
<script th:src="@{'/assets/vendor/php-email-form/validate.js'}"></script>

<!-- Template Main JS File -->
<script th:src="@{'/assets/js/main.js'}"></script>

</body>


</html>
