<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/doctor/librerias.html :: cabecera (titulo = 'Informacion Cita')">
</head>
<body>
<!-- ======= Header ======= -->
<header th:replace="fragments/doctor/header.html :: header(num_not = '3', num_form = '2 ', por_canc = '1',
 nombre = |${doctor.usuario.nombres} ${doctor.usuario.apellidos}|, num_men = '2', id=${session.usuario.idusuario})">
</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside th:replace="fragments/doctor/aside.html :: sidebar (active = 'dashboard')">
</aside>
<!-- End Sidebar-->

<!--Modal Cerrar Sesion-->
<div th:replace="fragments/doctor/modalCerrarSesion.html::modal">

</div>
<!-- End Modal-->




<main id="main" class="main">

  <div class="pagetitle">
    <h1>Informacion de la Cita</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{'/doctor/dashboard'}">Dashboard</a></li>
        <li class="breadcrumb-item active"> Mas Información</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <div th:if="${msg7!=null}" th:text="${msg7}" class="alert alert-success" role="alert"></div>
  <div th:if="${msg6!=null}" th:text="${msg6}" class="alert alert-success" role="alert"></div>
    <div th:if="${msg8!=null}" th:text="${msg8}" class="alert alert-success" role="alert"></div>


  <section class="section ">
    <div class="row">
      <div class="col-lg">
        <div class="col-12">
          <!--Estado de Cita -->
          <div class="card info-card customers-card">
            <div class="card-body">
              <h5 class="card-title">Estado de Cita</h5>
              <div class="ps-3">
                <div>
                  <div class="d-grid gap-3 d-md-flex justify-content-md-center">

                    <form method="post" th:action="@{'/doctor/pacientesatendidos/verhistorial/vercita/actualizarestadocita'}" >
                      <input name="id" th:value="${cita.getIdcita()}" class="form-control" type="hidden">
                      <input name="idestadocita" th:value="${estadoscita.get(2).getIdestadocita()}" class="form-control" type="hidden">
                      <!--<button  th:if="${(cita.getEstadoCita().getIdestadocita()==4) and (cita.getEstadoCita().getIdestadocita()!=1 or cita.getEstadoCita().getIdestadocita()!=2)}" type="submit" class="btn btn-outline-warning"><i class="bi bi-pause-circle me-1"></i> Pausar</button>
                      <button  th:if="${(cita.getEstadoCita().getIdestadocita()==3) and (cita.getEstadoCita().getIdestadocita()!=1 or cita.getEstadoCita().getIdestadocita()!=2)}" type="submit" class="btn btn-outline-warning" disabled><i class="bi bi-pause-circle me-1"></i> Pausar</button> -->
                    </form>

                    <form method="post" th:action="@{'/doctor/pacientesatendidos/verhistorial/vercita/actualizarestadocita'}" >
                      <input name="id" th:value="${cita.getIdcita()}" class="form-control" type="hidden">
                      <input name="idestadocita" th:value="${estadoscita.get(3).getIdestadocita()}" class="form-control" type="hidden">
                      <button th:if="${(cita.getEstadoCita().getIdestadocita()==1)}" type="submit" class="btn btn-outline-success" disabled><i class="bi bi-skip-end-circle me-1" ></i> Iniciar</button>
                      <button th:if="${(cita.getEstadoCita().getIdestadocita()==3) or (cita.getEstadoCita().getIdestadocita()==2)}" type="submit" class="btn btn-success"><i class="bi bi-skip-end-circle me-1"></i> Iniciar</button>
                      <!--<button th:if="${(cita.getEstadoCita().getIdestadocita()==3 or cita.getEstadoCita().getIdestadocita()==4) and (cita.getEstadoCita().getIdestadocita()!=1 or cita.getEstadoCita().getIdestadocita()!=2)}" type="submit" class="btn btn-outline-success"><i class="bi bi-skip-end-circle me-1"></i> Continuar</button>-->
                    </form>

                    <form method="post" th:action="@{'/doctor/pacientesatendidos/verhistorial/vercita/actualizarestadocita'}" >
                      <input name="id" th:value="${cita.getIdcita()}" class="form-control" type="hidden">
                      <input name="idestadocita" th:value="${estadoscita.get(5).getIdestadocita()}" class="form-control" type="hidden">
                      <button  th:if="${(cita.getEstadoCita().getIdestadocita()==4) and (cita.getEstadoCita().getIdestadocita()!=1 or cita.getEstadoCita().getIdestadocita()!=2)}" type="submit" class="btn btn-danger"><i class="bi bi-pause-circle me-1"></i> Finalizar</button>
                      <!--<button  th:if="${(cita.getEstadoCita().getIdestadocita()==3) and (cita.getEstadoCita().getIdestadocita()!=1 or cita.getEstadoCita().getIdestadocita()!=2)}" type="submit" class="btn btn-outline-danger" disabled><i class="bi bi-pause-circle me-1"></i> Finalizar</button> -->
                    </form>
                  </div>

                  <!--<a th:href="@{'/doctor/pacientesatendidos/verhistorial/vercita'+ '?id=' + ${cita.getIdcita()}+'&estadocita=3'+'&msg6=Cita_Pausada'}" class="btn btn-primary">Pausar Cita</a>
              <a th:href="@{'/doctor/pacientesatendidos/verhistorial/vercita'+ '?id=' + ${cita.getIdcita()}+'&estadocita=4'+'&msg6=CitaEnConsulta'}" class="btn btn-success">Continuar Cita</a>
              <a th:href="@{'/doctor/pacientesatendidos/verhistorial/vercita'+ '?id=' + ${cita.getIdcita()}+'&estadocita=6'+'&msg6=Cita_Finalizada'}" class="btn btn-danger">Finalizar Cita</a> -->
                </div>
              </div>
            </div>
          </div> <!--End  -->
        </div>
        <div class="row">
          <div class="col-xxl-12 ">
            <div class="card info-card customers-card">
              <div class="card-body">
                    <h5 class="card-title">Informacion de la Cita</h5>
                    <div class="ps-3">
                      <li>Paciente: <span th:text="|${cita.getPaciente().getUsuario().getNombres()} ${cita.getPaciente().getUsuario().getApellidos()}|"></span></li>
                      <li>Edad: <span th:text="${cita.getPaciente().getUsuario().getEdad()}"></span> años</li>
                      <li>Motivo: <span th:text="${cita.getPaciente().getCondicionenfermedad()}"></span></li>
                      <li>Alergias: <span th:text="${cita.getPaciente().getAlergias()}"></span></li>
                      <li>Seguro: <span th:text="${cita.getSeguro().getNombre()}"></span></li>
                      <li>Modalidad: <span th:text="${cita.getTipoCita().getNombre()}"></span></li>
                      <li>Estado Cita: <span th:text="${cita.getEstadoCita().getNombre()}"></span></li>
                      <li>Estado Pago:
                        <span style="font-weight: bolder; color: red" th:if="${cita.getEstadoCita().getIdestadocita()  == 1 }"> Pendiente</span>
                        <span style="font-weight: bolder; color: royalblue" th:if="${cita.getEstadoCita().getIdestadocita()  == 2 }"> Pagado</span>
                        <span style="font-weight: bolder; color: royalblue" th:if="${cita.getEstadoCita().getIdestadocita()  == 3 }"> Pagado</span>
                        <span style="font-weight: bolder; color: royalblue" th:if="${cita.getEstadoCita().getIdestadocita()  == 4 }"> Pagado</span>
                        <span style="font-weight: bolder; color: royalblue" th:if="${cita.getEstadoCita().getIdestadocita()  == 5 }"> Pagado</span>
                        <span style="font-weight: bolder; color: royalblue" th:if="${cita.getEstadoCita().getIdestadocita()  == 6 }"> Pagado</span>
                      </li>

                    </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xxl-12 ">
            <div class="card info-card customers-card">
              <div class="card-body">
                <h5 class="card-title" >Receta Médica</h5>
                <div th:if="${msg!=null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
                <div th:if="${msg2!=null}" th:text="${msg2}" class="alert alert-danger" role="alert"></div>
                <div th:if="${msg3!=null}" th:text="${msg3}" class="alert alert-success" role="alert"></div>
                <table class="table">
                  <thead class="table-light">
                  <tr>
                    <th style="text-align: center" scope="col">#</th>
                    <th style="text-align: center" scope="col">Medicamento</th>
                    <th style="text-align: center" scope="col">Dosis</th>
                    <th style="text-align: center" scope="col">Descripción</th>
                    <!--<th style="text-align: center" scope="col">Opción</th> -->
                      <div th:if="${cita.getFlagreceta()==0}">
                    <th  style="text-align: center" scope="col">Editar</th>
                    </div>
                      <div th:if="${cita.getFlagreceta()==0}">
                    <th style="text-align: center" scope="col">Borrar</th>
                      </div>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each=" receta,indice : ${recetamedica}">
                    <th style="text-align: center" th:text="${indice.index+1}" scope="row"></th>
                    <td style="text-align: center" th:text="${receta.getMedicamento()}"></td>
                    <td style="text-align: center" th:text="${receta.getDosis()}"></td>
                    <td style="text-align: center" th:text="${receta.getDescripcion()}"></td>
                    <!-- <td style="text-align: center" th:text="${receta.getIdRecetaMedica()}"></td> -->
                      <div th:if="${cita.getFlagreceta()==0}">
                    <td style="text-align: center" > <a class="bi bi-pencil-square" th:href="@{'/doctor/dashboard/info/editarreceta?idReceta='+ ${receta.getIdRecetaMedica()} + '&id=' + ${cita.getIdcita()}}"></a></td>
                      </div>
                      <div th:if="${cita.getFlagreceta()==0}">
                    <td style="text-align: center" ><a class="bi bi-trash" th:href="@{'/doctor/dashboard/info/borrarreceta?idR='+${receta.getIdRecetaMedica()}}"></a></td>
                      </div>
                  </tr>

                  </tbody>
                </table>
                <!-- Añadir Receta-->
                <div class="d-grid gap-2 d-md-flex justify-content-md-center" >
                    <button th:if="${(cita.getEstadoCita().getIdestadocita()==1) or (cita.getEstadoCita().getIdestadocita()==2) or (cita.getEstadoCita().getIdestadocita()==3)}" type="button" class="btn btn-outline-primary" disabled>
                        No disponible hasta Inicio de Cita
                    </button>
                    <a th:if="${(cita.getEstadoCita().getIdestadocita()==4) and (cita.getFlagreceta()==0)}" id="boton1" type="button" class="btn btn-outline-primary" th:href="@{'/doctor/dashboard/info/anadir?id=' + ${cita.getIdcita()}}">
                      Añadir Receta
                    </a>
                    <br>
                  <!-- <button th:if="${(cita.getTipoCita().getIdtipocita() eq 1) and (recetaMedicaRepository.numRecetas(cita.getIdcita())>=1)}" type="button" th:href="@{'/doctor/dashboard/info/boletaMedicamento?idCita=' + ${cita.getIdcita()} + '&idPaciente=' + ${cita.getPaciente().getIdpaciente()}}" class="btn btn-outline-primary" >Generar Boleta Farmacia
                  </button> -->
                    <!--<a th:unless="${cita.getTipoCita().getIdtipocita() eq 1}" type="button" th:href="@{'/doctor/pacientesatendidos/verhistorial/vercita/boletaMedicamentoDelivery?idCita=' + ${cita.getIdcita()} + '&idPaciente=' + ${cita.getPaciente().getIdpaciente()}}" class="btn btn-outline-primary" >
                        Enviar Por Delivery
                    </a>-->
                  <div th:if="${(recetaMedicaRepository.numRecetas(cita.getIdcita())>=1) and (cita.getFlagreceta()==0)}">
                    <form method="post" th:action="@{'/doctor/dashboard/info/confirmareceta'}">
                      <input th:value="${cita.getIdcita()}" name="idCita" class="form-control" type="hidden">
                      <input th:value="${cita.getPaciente().getIdpaciente()}" name="idPaciente" class="form-control" type="hidden">
                      <!--<input th:value="${1}" name="flagReceta" class="form-control" type="hidden">-->
                      <button th:if="${cita.getEstadoCita().getIdestadocita()==4}" type="submit" class="btn btn-outline-primary">Confirmar Receta</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <!-- Bitacobra -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Cuestionario Médico</h5>
            <!--div class="card">

              <div class="card-body">
                < div th:unless="${iddatosjson==null}" >

                  <div th:each="inciso,indice:${cuestionariolleno}">
                    <label class="card-title" th:text="|Pregunta ${indice.index+1}:|"></label>
                    <label for="nombre3" class="col-md-12 col-form-label"
                           th:text="${inciso.getCampo()}"></label>
                    <input name="nombre" type="text" class="form-control" id="nombre3" th:value="${inciso.getRespuesta()}"
                           disabled>
                  </div
                  <input th:value="${paciente.getUsuario().getIdusuario()}" class="form-control"
                         type="hidden">
                  <br>
                </div>

                </div -->

            <div th:if="${cuestionarios.isEmpty()}" class="text-center">
              <div class="text-center">
                <a th:href="@{'/doctor/dashboard/info/enviarcuestionario' + '?idcuest=' + ${34}+'&id=' + ${cita.getIdcita()}}" class="btn btn-danger">Enviar </a>
              </div>
            </div>
            <div th:unless="${cuestionarios.isEmpty()}">
              <div  th:each="cuest:${cuestionarios}">
                <div class="text-center">
                    <a class="btn btn-success" th:href="@{'/doctor/dashboard/info/vercuestionario'+ '?idcuest=' + ${cuest}+'&id=' + ${cita.getIdcita()}}">Ver Cuestionario</a>
                </div>
              </div>
            </div>
            <br>
          </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Informe Médico</h5>
              <div th:if="${(cita.getEstadoCita().getIdestadocita()==4) and idatosjson==null}" class="text-center">
                <button th:href="@{'/doctor/dashboard/info/llenarinforme'+'?id=' + ${cita.getIdcita()}}" class="btn btn-danger">Llenar Informe</button>
              </div>
              <div th:if="${cita.getEstadoCita().getIdestadocita()==3 or cita.getEstadoCita().getIdestadocita()==2 or cita.getEstadoCita().getIdestadocita()==1}" class="text-center">
                <button class="btn btn-outline-danger" disabled>No disponible hasta Inicio de Cita</button>
              </div>
              <div th:if="${(cita.getEstadoCita().getIdestadocita()==3 or cita.getEstadoCita().getIdestadocita()==4) and idatosjson!=null}" class="text-center">
                <button th:href="@{'/doctor/dashboard/info/llenarinforme'+'?id=' + ${cita.getIdcita()}}" class="btn btn-success">Ver Informe</button>
              </div>
               <!-- <div th:if="$idatosjson!=null >
                   <td th:text="${informe.getID()}" id="id_modelo" hidden></td>
                    <button type="button" class="btn btn-secondary button-edit" th:data-id="${informe.getID()}"
                            onclick="mostrarModal(this)"><i
                            class="bi bi-pencil-square"></i> Editar Informe</button>
                </div> -->
              <br>
            </div>
          </div>
          <div class="card ">
            <div class="card-body">
              <h5 class="card-title">Examen Medico</h5>
              <h6>Si el paciente requiere realizar unos exámenes, entonces envíele un mensaje</h6>
              <br>
              <div class="d-grid gap-1 d-md-flex justify-content-md-center" >
                  <button th:if="${(cita.getEstadoCita().getIdestadocita()==1) or (cita.getEstadoCita().getIdestadocita()==2) or (cita.getEstadoCita().getIdestadocita()==3)}" class="btn btn-outline-primary" disabled >No disponible hasta Inicio de Cita</button>
                <a th:if="${(cita.getEstadoCita().getIdestadocita()==4)}" th:href="@{'/doctor/mensajeria/enviarmensaje/examenes'+ '?idp=' + ${paciente.getUsuario().getIdusuario()}}" class="btn btn-primary">Mensaje</a>
              </div>
            </div>
        </div>
        </div>
      </div>
    </div>
      </div>
      <div class="d-grid gap d-md-flex justify-content-md-center">
        <a th:href="@{'/doctor/dashboard'}" class="btn btn-danger">Regresar</a>
      </div>
  </section>

</main><!-- End #main -->


<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{'/assets/vendor/apexcharts/apexcharts.min.js'}"></script>
<script th:src="@{'/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'}"></script>
<script th:src="@{'/assets/vendor/chart.js/chart.min.js'}"></script>
<script th:src="@{'/assets/vendor/echarts/echarts.min.js'}"></script>
<script th:src="@{'/assets/vendor/quill/quill.min.js'}"></script>
<script th:src="@{'/assets/vendor/simple-datatables/simple-datatables.js'}"></script>
<script th:src="@{'/assets/vendor/tinymce/tinymce.min.js'}"></script>
<script th:src="@{'/assets/vendor/php-email-form/validate.js'}"></script>

<!-- Template Main JS File -->
<script th:src="@{'/assets/js/main.js'}"></script>


    <!--<script th:inline="javascript">
        var mostrarBoton = true;

        function eliminarBoton() {
            mostrarBoton = false;
            document.getElementById('boton1').style.display = 'none';
        }
    </script> -->

<script>
        function mostrarModal(button) {

            const id = button.dataset.id;

            //const nombrePlantilla = document.querySelector("#fila-" + id + " td:nth-child(2)").textContent;

            const id_de_modelo_plantilla = document.querySelector("#fila-" + id + " td:nth-child(2)").textContent;




            // const nombreEspecialidad = document.querySelector("#fila-"+id+" td:nth-child(3)").textContent;


            //console.log(nombrePlantilla);

            // console.log(nombreEspecialidad);

            const crearModal = bootstrap.Modal.getOrCreateInstance('#createModal');
            crearModal.show();





            //document.getElementById("nombre_plantilla").value = nombrePlantilla;
            document.getElementById("id_de_modelo_plantilla").value = id_de_modelo_plantilla;





            console.log(id_de_modelo_plantilla);







            document.getElementById("id_fila").value = id;
            // document.getElementById("id_fila").value = id;
            // document.getElementById("especialidad_name").value = nombreEspecialidad;


            //   // Obtener los datos de la fila seleccionada
            //   const id = button.dataset.id;
            //   const nombre = button.dataset.nombre;
            //
            //   // Agregar los datos al modal
            //   modalId.innerHTML = id;
            //   modalNombre.innerHTML = nombre;
            //
            //   // Mostrar el modal
            //   modal.style.display = "block";
            // }
            //
            // // Función para cerrar el modal
            // span.onclick = function () {
            //   modal.style.display = "none";
            // };
            //
            // // Cuando el usuario hace clic fuera del modal, cerrarlo
            // window.onclick = function (event) {
            //   if (event.target == modal) {
            //     modal.style.display = "none";
            //   }
            // };



            var xmlhttp = new XMLHttpRequest();
            //hacer metodo get para traer los titulos del datos json
            //agregar en security config la ruta
            //y crear DTO
            var url = "/superadmin/listarTitulos?id_de_modelo_plantilla=" + encodeURIComponent(id_de_modelo_plantilla);
            xmlhttp.open("GET", url, true);
            xmlhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xmlhttp.onreadystatechange = function () {

                if (xmlhttp.readyState == XMLHttpRequest.DONE) {
                    if (xmlhttp.status == 200) {

                        // Obtener la respuesta del controlador
                        var response = xmlhttp.responseText;
                        // Parsear la respuesta JSON a una lista
                        var lista = JSON.parse(response);
                        // Obtener el contenedor donde se mostrarán los inputs y labels
                        var contenedor = document.getElementById("contenedorDivs");

                        // Limpiar el contenedor antes de agregar los nuevos elementos
                        contenedor.innerHTML = "";

                        // Iterar sobre la lista y crear los inputs y labels correspondientes
                        for (var i = 0; i < lista.length; i++) {
                            // Crear un nuevo label
                            var label = document.createElement("label");
                            // Asignar las clases de Bootstrap al label
                            label.classList.add("col-form-label");
                            // Asignar el texto del label con el título de la pregunta
                            label.textContent = "Pregunta " + (i+1);
                            // Agregar el label al contenedor
                            contenedor.appendChild(label);

                            // Crear un nuevo input
                            var input = document.createElement("input");
                            // Asignar las clases de Bootstrap al input
                            input.classList.add("form-control");
                            // Asignar el valor del input con el elemento de la lista
                            input.value = lista[i];
                            // Agregar un atributo name al input para identificarlo en el formulario
                            input.setAttribute("id", "elemento_" + i);
                            // Agregar el input al contenedor
                            contenedor.appendChild(input);
                        }


                        // Mostrar mensaje de éxito
                        // alert("Plantilla actualizada correctamente");
                        // location.reload();


                    } else {
                        // Mostrar mensaje de error
                        alert("Ha ocurrido un error al actualizar la plantilla");
                    }
                }
            };

            xmlhttp.send();

            // xmlhttp.send("id_de_modelo_plantilla="+id_de_modelo_plantilla);


            // var params = "id_de_modelo_plantilla=" + encodeURIComponent(id_de_modelo_plantilla);
            // xmlhttp.send(params);


        };

        function ModificarForm() {

            //id modelo
            const id_de_modelo_plantilla_2 = document.getElementById("id_de_modelo_plantilla").value

            console.log(id_de_modelo_plantilla_2);


            //id div - contenedor
            var inputs = document.getElementById("contenedorDivs").querySelectorAll("input.form-control");
            var valores = [];


            valores.push(id_de_modelo_plantilla_2)

            for (var i = 0; i < inputs.length; i++) {
                var valor = inputs[i].value;
                valores.push(valor);
            }



            console.log(valores);



            // const crearModal = bootstrap.Modal.getOrCreateInstance('#createModal');
            // crearModal.hide();


            var xmlhttp = new XMLHttpRequest();
            var url = "/superadmin/modificarPlantilla?valores=" + encodeURIComponent(valores);
            xmlhttp.open("POST", url, true);
            xmlhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xmlhttp.onreadystatechange = function () {

                if (xmlhttp.readyState == XMLHttpRequest.DONE) {
                    if (xmlhttp.status == 200) {
                        // Mostrar mensaje de éxito
                        alert("Plantilla editada correctamente");
                        location.reload();


                    } else {
                        // Mostrar mensaje de error
                        alert("Ha ocurrido un error al actualizar la plantilla");
                    }
                }
            };

            xmlhttp.send();






            // xmlhttp.send(datos);

        };
    </script>
</body>

</html>