<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/doctor/librerias.html :: cabecera (titulo = 'Informacion Cita')">
</head>
<body>
<!-- ======= Header ======= -->
<header th:replace="fragments/doctor/header.html :: header(num_not = '3', num_form = '2 ', por_canc = '1',
 nombre = |${doctor.usuario.nombres} ${doctor.usuario.apellidos}|, num_men = '2', id=${session.usuario.idusuario})">
</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside th:replace="fragments/doctor/aside.html :: sidebar (active = 'dashboard')">
</aside>
<!-- End Sidebar-->

<!--Modal Cerrar Sesion-->
<div th:replace="fragments/doctor/modalCerrarSesion.html::modal">

</div>
<!-- End Modal-->




<main id="main" class="main">

  <div class="pagetitle">
    <h1>Informacion de la Cita</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{'/doctor/dashboard'}">Dashboard</a></li>
        <li class="breadcrumb-item active"> Mas Informacion</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <div th:if="${msg7!=null}" th:text="${msg7}" class="alert alert-success" role="alert"></div>
  <div th:if="${msg6!=null}" th:text="${msg6}" class="alert alert-success" role="alert"></div>


  <section class="section ">
    <div class="row">
      <div class="col-lg">
        <div class="col-12">
          <!--Estado de Cita -->
          <div class="card info-card customers-card">
            <div class="card-body">
              <h5 class="card-title">Estado de Cita</h5>
              <div class="ps-3">
                <div>
                  <div class="d-grid gap-3 d-md-flex justify-content-md-center">

                    <form method="post" th:action="@{'/doctor/pacientesatendidos/verhistorial/vercita/actualizarestadocita'}" >
                      <input name="id" th:value="${cita.getIdcita()}" class="form-control" type="hidden">
                      <input name="idestadocita" th:value="${estadoscita.get(2).getIdestadocita()}" class="form-control" type="hidden">
                      <button  th:if="${(cita.getEstadoCita().getIdestadocita()==4) and (cita.getEstadoCita().getIdestadocita()!=1 or cita.getEstadoCita().getIdestadocita()!=2)}" type="submit" class="btn btn-outline-warning"><i class="bi bi-pause-circle me-1"></i> Pausar</button>
                      <button  th:if="${(cita.getEstadoCita().getIdestadocita()==3) and (cita.getEstadoCita().getIdestadocita()!=1 or cita.getEstadoCita().getIdestadocita()!=2)}" type="submit" class="btn btn-outline-warning" disabled><i class="bi bi-pause-circle me-1"></i> Pausar</button>
                    </form>

                    <form method="post" th:action="@{'/doctor/pacientesatendidos/verhistorial/vercita/actualizarestadocita'}" >
                      <input name="id" th:value="${cita.getIdcita()}" class="form-control" type="hidden">
                      <input name="idestadocita" th:value="${estadoscita.get(3).getIdestadocita()}" class="form-control" type="hidden">
                      <button th:if="${(cita.getEstadoCita().getIdestadocita()==1)}" type="submit" class="btn btn-outline-success"disabled><i class="bi bi-skip-end-circle me-1" ></i> Iniciar</button>
                      <button th:if="${(cita.getEstadoCita().getIdestadocita()==2)}" type="submit" class="btn btn-outline-success"><i class="bi bi-skip-end-circle me-1"></i> Iniciar</button>
                      <button th:if="${(cita.getEstadoCita().getIdestadocita()==3 or cita.getEstadoCita().getIdestadocita()==4) and (cita.getEstadoCita().getIdestadocita()!=1 or cita.getEstadoCita().getIdestadocita()!=2)}" type="submit" class="btn btn-outline-success"><i class="bi bi-skip-end-circle me-1"></i> Continuar</button>
                    </form>

                    <form method="post" th:action="@{'/doctor/pacientesatendidos/verhistorial/vercita/actualizarestadocita'}" >
                      <input name="id" th:value="${cita.getIdcita()}" class="form-control" type="hidden">
                      <input name="idestadocita" th:value="${estadoscita.get(5).getIdestadocita()}" class="form-control" type="hidden">
                      <button  th:if="${(cita.getEstadoCita().getIdestadocita()==4) and (cita.getEstadoCita().getIdestadocita()!=1 or cita.getEstadoCita().getIdestadocita()!=2)}" type="submit" class="btn btn-outline-danger"><i class="bi bi-pause-circle me-1"></i> Finalizar</button>
                      <button  th:if="${(cita.getEstadoCita().getIdestadocita()==3) and (cita.getEstadoCita().getIdestadocita()!=1 or cita.getEstadoCita().getIdestadocita()!=2)}" type="submit" class="btn btn-outline-danger" disabled><i class="bi bi-pause-circle me-1"></i> Finalizar</button>
                    </form>
                  </div>

                  <!--<a th:href="@{'/doctor/pacientesatendidos/verhistorial/vercita'+ '?id=' + ${cita.getIdcita()}+'&estadocita=3'+'&msg6=Cita_Pausada'}" class="btn btn-primary">Pausar Cita</a>
              <a th:href="@{'/doctor/pacientesatendidos/verhistorial/vercita'+ '?id=' + ${cita.getIdcita()}+'&estadocita=4'+'&msg6=CitaEnConsulta'}" class="btn btn-success">Continuar Cita</a>
              <a th:href="@{'/doctor/pacientesatendidos/verhistorial/vercita'+ '?id=' + ${cita.getIdcita()}+'&estadocita=6'+'&msg6=Cita_Finalizada'}" class="btn btn-danger">Finalizar Cita</a> -->
                </div>
              </div>
            </div>
          </div> <!--End  -->
        </div>
        <div class="row">
          <div class="col-xxl-12 ">
            <div class="card info-card customers-card">
              <div class="card-body">
                    <h5 class="card-title">Informacion de la Cita</h5>
                    <div class="ps-3">
                      <li>Paciente: <span th:text="|${cita.getPaciente().getUsuario().getNombres()} ${cita.getPaciente().getUsuario().getApellidos()}|"></span></li>
                      <li>Edad: <span th:text="${cita.getPaciente().getUsuario().getEdad()}"></span> años</li>
                      <li>Motivo: <span th:text="${cita.getPaciente().getCondicionenfermedad()}"></span></li>
                      <li>Alergias: <span th:text="${cita.getPaciente().getAlergias()}"></span></li>
                      <li>Seguro: <span th:text="${cita.getSeguro().getNombre()}"></span></li>
                      <li>Modalidad: <span th:text="${cita.getTipoCita().getNombre()}"></span></li>
                      <li>Estado Cita: <span th:text="${cita.getEstadoCita().getNombre()}"></span></li>
                      <li>Estado Pago:
                        <span th:if="${cita.getEstadoCita().getIdestadocita()  == 1 }"> Pendiente</span>
                        <span th:if="${cita.getEstadoCita().getIdestadocita()  == 2 }"> Pagado</span>
                        <span th:if="${cita.getEstadoCita().getIdestadocita()  == 3 }"> Pagado</span>
                        <span th:if="${cita.getEstadoCita().getIdestadocita()  == 4 }"> Pagado</span>
                        <span th:if="${cita.getEstadoCita().getIdestadocita()  == 5 }"> Pagado</span>
                        <span th:if="${cita.getEstadoCita().getIdestadocita()  == 6 }"> Pagado</span>
                      </li>

                    </div>
              </div>
            </div>
        </div>
        <!-- Revenue Card
        <div class="col-xxl-4">
          <div class="card info-card revenue-card">
            <div class="card-body">
              <h5 class="card-title">Perfil <span></span></h5>

              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="bi bi-currency-dollar"></i>
                </div>
                <div class="ps-3">
                  <h6>$3,264</h6>
                  <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
      </div>
      <div class="col-lg-5">
        <!-- Bitacobra -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Cuestionario Médico</h5>
            <!--div class="card">

              <div class="card-body">
                < div th:unless="${iddatosjson==null}" >

                  <div th:each="inciso,indice:${cuestionariolleno}">
                    <label class="card-title" th:text="|Pregunta ${indice.index+1}:|"></label>
                    <label for="nombre3" class="col-md-12 col-form-label"
                           th:text="${inciso.getCampo()}"></label>
                    <input name="nombre" type="text" class="form-control" id="nombre3" th:value="${inciso.getRespuesta()}"
                           disabled>
                  </div
                  <input th:value="${paciente.getUsuario().getIdusuario()}" class="form-control"
                         type="hidden">
                  <br>
                </div>

                </div -->

            <div th:if="${cuestionarios.isEmpty()}" class="text-center">
              <div class="text-center">
                <a th:href="@{'/doctor/dashboard/info/enviarcuestionario' + '?idcuest=' + ${34}+'&id=' + ${cita.getIdcita()}}" class="btn btn-danger">Enviar </a>
              </div>
            </div>
            <br>

            <div th:unless="${cuestionarios.isEmpty()}">
              <div  th:each="cuest:${cuestionarios}">
                <div class="text-center">
                    <a class="btn btn-success" th:href="@{'/doctor/dashboard/info/vercuestionario'+ '?idcuest=' + ${cuest}+'&id=' + ${cita.getIdcita()}}"
                    ><i class="bi bi-journal-text me-2"></i>Ver Cuestionario</a>
                </div>
              </div>
            </div>
          </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Informe Médico</h5>
              <div th:if="${(cita.getEstadoCita().getIdestadocita()==3 or cita.getEstadoCita().getIdestadocita()==4) and idatosjson==null}" class="text-center">
                <a th:href="@{'/doctor/dashboard/info/llenarinforme'+'?id=' + ${cita.getIdcita()}}" class="btn btn-danger">Llenar Informe</a>
              </div>
              <div th:unless="${cita.getEstadoCita().getIdestadocita()==3 or cita.getEstadoCita().getIdestadocita()==4}" class="text-center">
                <a class="btn btn-danger">No Disponible hasta Inicio de Cita</a>
              </div>
              <div th:if="${(cita.getEstadoCita().getIdestadocita()==3 or cita.getEstadoCita().getIdestadocita()==4) and idatosjson!=null}" class="text-center">
                <a th:href="@{'/doctor/dashboard/info/llenarinforme'+'?id=' + ${cita.getIdcita()}}" class="btn btn-success">Ver Informe</a>
              </div>
              <br>
            </div>
          </div>
          <div class="card ">
            <div class="card-body">
              <h5 class="card-title">Examen Medico</h5>
              <h6>Si el paciente requiere realizar unos exámenes, entonces envíele un mensaje</h6>
              <br>
              <div class="d-grid gap-1 d-md-flex justify-content-md-center" >
                <a th:href="@{'/doctor/mensajeria/enviarmensaje/examenes'+ '?idp=' + ${paciente.getUsuario().getIdusuario()}}" class="btn btn-primary">Mensaje</a>
              </div>
            </div>
        </div>
        </div>
      </div>
    </div>
      </div>
      <div class="d-grid gap d-md-flex justify-content-md-center">
        <a th:href="@{'/doctor/dashboard'}" class="btn btn-danger">Regresar</a>
      </div>
  </section>

</main><!-- End #main -->


<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{'/assets/vendor/apexcharts/apexcharts.min.js'}"></script>
<script th:src="@{'/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'}"></script>
<script th:src="@{'/assets/vendor/chart.js/chart.min.js'}"></script>
<script th:src="@{'/assets/vendor/echarts/echarts.min.js'}"></script>
<script th:src="@{'/assets/vendor/quill/quill.min.js'}"></script>
<script th:src="@{'/assets/vendor/simple-datatables/simple-datatables.js'}"></script>
<script th:src="@{'/assets/vendor/tinymce/tinymce.min.js'}"></script>
<script th:src="@{'/assets/vendor/php-email-form/validate.js'}"></script>

<!-- Template Main JS File -->
<script th:src="@{'/assets/js/main.js'}"></script>

</body>

</html>