<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:insert="fragments/doctor/librerias.html :: cabecera (titulo = 'Respuesta Mensaje')">
    </head>
    <body>
    <!-- ======= Header ======= -->
    <header th:replace="fragments/doctor/header.html :: header(num_not = '3', num_form = '2 ', por_canc = '1',  nombre = |${doctor.usuario.nombres} ${doctor.usuario.apellidos}|, num_men = '2')">
    </header>
    <!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside th:replace="fragments/doctor/aside.html :: sidebar (active = 'pacientesAtendidos')">
    </aside><!-- End Sidebar-->

    <!--Modal Cerrar Sesion-->
    <div th:replace="fragments/doctor/modalCerrarSesion.html::modal">

    </div>
    <!-- End Modal-->



    <main id="main" class="main">

            <div class="pagetitle">
                <h1>Mensajería</h1>
                <nav>
                    <!--<ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{'/doctor/pacientesatendidos'}">Pacientes Atendidos</a></li>
                        <li class="breadcrumb-item active">Historial Clínico</li>
                    </ol>-->
                </nav>
            </div>
            <!-- End Page Title -->

            <section class="section">
                <div class="row">
                    <div class="col-lg-20">

                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Historial Mensajes</h5>

                                <!-- Default Table -->
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center" scope="col">De:</th>
                                            <th style="text-align: center" scope="col">Asunto</th>
                                            <th style="text-align: center" scope="col">Descripcion</th>
                                            <th style="text-align: center" scope="col">Fecha y Hora</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each=" mensaje : ${historialmensajes}">
                                            <td style="text-align: center" th:text="|${mensaje.getUsuarioOrigen().getNombres()} ${mensaje.getUsuarioOrigen().getApellidos()} ${mensaje.getUsuarioOrigen().getTipodeusuario().getNombre()}|"></td>
                                            <td style="text-align: center" th:text="${mensaje.getAsunto()}"></td>
                                            <td style="text-align: center" th:text="${mensaje.getDescripcion()}"></td>
                                            <!-- deriva al historial del paciente th:href="@{'/administrador/chat'}" -->
                                            <td style="text-align: center" th:text="|${mensaje.getFecha()} ${mensaje.getHora()}|"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- End Default Table Example -->

                                <form method="post" th:action="@{'/doctor/mensajeria/enviarmensaje/envio'}" class="row g-3">

                                    <!--<input th:value="${usuario.getIdUsuario()}" name="idUsuario" type="hidden" >
                                    <input th:value="${mensaje.getIdMensaje()}" name="idM" type="hidden" />-->

                                    <div class="col-md-6">
                                        <label for="email" class="form-label">Correo Destino</label>
                                        <input th:value="${usuariorigen.getCorreo()}" type="text" name="correodestino" class="form-control" id="email"  >
                                    </div>

                                    <div class="col-md-6">
                                        <label for="asunt" class="form-label">Asunto</label>
                                        <input th:value="${asunto}" type="text" name="asunto" class="form-control" id="asunt" >
                                    </div>

                                    <div class="col-md-6">
                                        <label for="description" class="form-label">Descripcion</label>
                                        <input type="text" name="descripcion" class="form-control" id="description" >
                                    </div>

                                    <input type="hidden" th:value="${usuariorigen.idusuario}" name="idusuariodestino" class="form-control" >

                                    <input type="hidden" th:value="${session.usuario.idusuario}" name="idusuarioorigen" class="form-control" >



                                    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                                        <button class="btn btn-primary" type="submit">Enviar</button>
                                        <a th:href="@{'/doctor/mensajeria'}" class="btn btn-danger">Regresar</a>
                                    </div>
                                </form>
                            </div>

                            </div>
                        </div>
                    </div>


                </div>
                </div>
                </div>
            </section>
        </main><!-- End #main -->



        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

        <!-- Vendor JS Files -->
        <script th:src="@{'/assets/vendor/apexcharts/apexcharts.min.js'}"></script>
        <script th:src="@{'/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'}"></script>
        <script th:src="@{'/assets/vendor/chart.js/chart.min.js'}"></script>
        <script th:src="@{'/assets/vendor/echarts/echarts.min.js'}"></script>
        <script th:src="@{'/assets/vendor/quill/quill.min.js'}"></script>
        <script th:src="@{'/assets/vendor/simple-datatables/simple-datatables.js'}"></script>
        <script th:src="@{'/assets/vendor/tinymce/tinymce.min.js'}"></script>
        <script th:src="@{'/assets/vendor/php-email-form/validate.js'}"></script>

        <!-- Template Main JS File -->
        <script th:src="@{'/assets/js/main.js'}"></script>

    </body>

</html>