<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/doctor/librerias.html :: cabecera (titulo = 'Historial Cita')">
</head>
<body>
<!-- ======= Header ======= -->
<header th:replace="fragments/doctor/header.html :: header(num_not = '3', num_form = '2 ', por_canc = '1',  nombre = |${doctor.usuario.nombres} ${doctor.usuario.apellidos}|, num_men = '2')">
</header>
<!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside th:replace="fragments/doctor/aside.html :: sidebar (active = 'pacientesAtendidos')">
</aside><!-- End Sidebar-->

<!--Modal Cerrar Sesion-->
<div th:replace="fragments/doctor/modalCerrarSesion.html::modal">

</div>
<!-- End Modal-->

<main id="main" class="main">
    <div class="pagetitle" th:each=" cita,indice : ${cita}">
        <h1>Cita<span th:text="${indice.index+1}" > </span></h1>
        <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{'/doctor/pacientesatendidos'+ '?id=' + ${doctor.iddoctor}}">Pacientes Atendidos</a></li>
            <li class="breadcrumb-item"><a th:href="@{'/doctor/pacientesatendidos/verhistorial'+ '?id=' + ${cita.idcita}}">Historial Clínico</a></li>
            <!-- th:href="@{'/doctor/pacientesatendidos/verhistorial'+ '?id=' + ${cita.idcita}}" -->
            <li class="breadcrumb-item active">Cita 1</li>
        </ol>
        </nav>
    </div>
    <section class="section ">
        <div class="col-lg">
           <div class="row">
           <!-- Informacion Cita -->
               <div class="col">
                   <div class="card info-card customers-card">
                       <div class="card-body">
                           <h5 class="card-title">Informacion de la Cita</h5>
                           <div class="ps-3">
                               <li>Paciente: <span th:text="|${cita.getPaciente().getUsuario().getNombres()} ${cita.getPaciente().getUsuario().getApellidos()}|"></span></li>
                               <li>Edad: <span th:text="${cita.getPaciente().getUsuario().getEdad()}"></span> años</li>
                               <li>Fecha: <span th:text="${cita.getFecha()}"></span></li>
                               <li>Modalidad: <span th:text="${cita.getTipoCita().getNombre()}"></span></li>
                               <li>Especialidad: <span th:text="${cita.getSeguro().getNombre()}"></span></li>
                           </div>
                       </div>
                   </div> <!--End Informacion -->
                   <!-- Receta Medica -->
                   <div class="col-12">
                       <div class="card recent-sales overflow-auto">
                           <div class="card-body">
                               <h5 class="card-title">Receta Médica</h5>

                               <div th:if="${msg!=null}" th:text="${msg}" class="alert alert-success" role="alert"></div>

                               <div th:if="${msg2!=null}" th:text="${msg2}" class="alert alert-danger" role="alert"></div>

                               <div th:if="${msg3!=null}" th:text="${msg3}" class="alert alert-success" role="alert"></div>

                               <table class="table">
                                   <thead class="table-light">
                                   <tr>
                                       <th style="text-align: center" scope="col">#</th>
                                       <th style="text-align: center" scope="col">Medicamento</th>
                                       <th style="text-align: center" scope="col">Dosis</th>
                                       <th style="text-align: center" scope="col">Descripción</th>
                                       <!--<th style="text-align: center" scope="col">Opción</th> -->
                                       <th style="text-align: center" scope="col">Editar</th>
                                       <th style="text-align: center" scope="col">Borrar</th>
                                   </tr>
                                   </thead>
                                   <tbody>
                                   <tr th:each=" receta,indice : ${recetamedica}">
                                       <th style="text-align: center" th:text="${indice.index+1}" scope="row"></th>
                                       <td style="text-align: center" th:text="${receta.getMedicamento()}"></td>
                                       <td style="text-align: center" th:text="${receta.getDosis()}"></td>
                                       <td style="text-align: center" th:text="${receta.getDescripcion()}"></td>
                                       <!-- <td style="text-align: center" th:text="${receta.getIdRecetaMedica()}"></td> -->
                                       <td style="text-align: center" > <a class="bi bi-pencil-square"  th:href="@{'/doctor/pacientesatendidos/verhistorial/vercita/editarreceta?idReceta='+ ${receta.getIdRecetaMedica()} + '&id=' + ${cita.getIdcita()}}"></a></td>
                                       <!-- <td> <input type="button" name="btnEditarS" value="Editar 1" th:text="${receta.getIdRecetaMedica()}"
                                                   class="bi bi-pencil-square" data-bs-toggle="modal" data-bs-target="#modal"></td>-->
                                       <td style="text-align: center" ><a class="bi bi-trash" th:href="@{'/doctor/pacientesatendidos/verhistorial/vercita/borrarreceta?idR='+${receta.getIdRecetaMedica()}}"></a></td>
                                   </tr>
                                   </tbody>
                               </table>

                               <!-- Modal editar -->
                               <div th:each=" recetam : ${recetamedica}" class="modal fade" id="modal" tabindex="-1" aria-hidden="true" >
                                   <div class="modal-dialog modal-dialog-centered">
                                       <div class="modal-content">
                                           <div class="modal-header">
                                               <h5 class="modal-title">Receta Médica</h5>
                                               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                           </div>
                                           <div class="modal-body">
                                               <form method="post" th:action="@{'/doctor/pacientesatendidos/verhistorial/vercita/editarreceta'}">
                                                   <input th:value="${recetam.getIdRecetaMedica()}" name="idReceta" type="hidden">
                                                   <input th:value="${cita.getIdcita()}" name="idCita" type="hidden">

                                                   <div class="row mb-3">
                                                       <label for="medicamento" class="col-md-4 col-lg-3 col-form-label">Medicamento</label>
                                                       <div class="col-md-8 col-lg-9">
                                                           <input name="medicamento" type="text" class="form-control" id="medicamento"
                                                                  th:value="${recetam.medicamento}">
                                                       </div>
                                                   </div>
                                                   <div class="row mb-3">
                                                       <label for="dosis" class="col-md-4 col-lg-3 col-form-label">Dosis</label>
                                                       <div class="col-md-8 col-lg-9">
                                                           <input name="dosis" type="text" class="form-control" id="dosis"
                                                                  th:value="${recetam.dosis}">
                                                       </div>
                                                   </div>
                                                   <div class="row mb-3">
                                                       <label for="descripcion" class="col-md-4 col-lg-3 col-form-label">Descripcion</label>
                                                       <div class="col-md-8 col-lg-9">
                                                           <input name="descripcion" type="text" class="form-control" id="descripcion"
                                                                  th:value="${recetam.descripcion}">
                                                       </div>
                                                   </div>
                                                   <br>
                                                   <!--
                                                   <div class="form-floating">
                                                   <div class="form-check-center">
                                                       <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
                                                       <label class="form-check-label" for="flexCheckDefault2">Generar Boleta Farmacia</label>
                                                   </div>
                                                   <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked3" checked>
                                                        <label class="form-check-label" for="flexCheckChecked3">Mandar Delivery</label>
                                                   </div>
                                                   <br>-->
                                                   <br>
                                                   <div class="d-grid gap d-md-flex justify-content-md-center">
                                                       <button type="submit" class="btn btn-primary">Actualizar</button>
                                                   </div>
                                               </form>
                                           </div>
                                       </div>
                                   </div>
                               </div><!-- End  Modal-->
                               <!--Modal Añadir Receta-->
                               <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                                   <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#verticalycentered">
                                       Añadir Receta
                                   </button>
                                   <br>
                                   <a th:if="${cita.getTipoCita().getIdtipocita() eq 1}"type="button" th:href="@{'/doctor/pacientesatendidos/verhistorial/vercita/boletaMedicamento' + '?idCita=' + ${cita.getIdcita()}}" class="btn btn-outline-primary" >
                                           Generar Boleta Farmacia
                                   </a>
                                   <button th:unless="${cita.getTipoCita().getIdtipocita() eq 1}" type="button" class="btn btn-outline-primary" >
                                       Enviar Por Delivery
                                   </button>
                               </div>
                               <div class="modal fade" id="verticalycentered" tabindex="-1">
                                   <div class="modal-dialog modal-dialog-centered">
                                       <div class="modal-content">
                                           <div class="modal-header">
                                               <h5 class="modal-title">Receta Médica</h5>
                                               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                           </div>
                                           <div class="modal-body">
                                               <form method="post" th:action="@{'/doctor/pacientesatendidos/verhistorial/vercita/guardarreceta'}">
                                                   <input th:each=" recetame : ${recetamedica}" th:value="${recetame.idRecetaMedica}" name="idReceta" type="hidden" />
                                                   <input th:value="${cita.getIdcita()}" name="id" type="hidden" />

                                                   <div class="form-floating">
                                                       <input name="medicamento" class="form-control" type="text" placeholder="Leave a comment here" id="floatingTextarea1">
                                                       <label for="floatingTextarea1">Medicamento</label>
                                                       <br>
                                                   </div >
                                                   <div class="form-floating">
                                                       <input name="dosis" class="form-control" type="text" placeholder="Leave a comment here" id="floatingTextarea2">
                                                       <label for="floatingTextarea2">Dosis</label>
                                                       <br>
                                                   </div >
                                                   <div class="form-floating">
                                                       <input name="descripcion" class="form-control" type="text" placeholder="Leave a comment here" id="floatingTextarea3">
                                                       <label for="floatingTextarea3">Descripcion</label>
                                                       <br>
                                                   </div >
                                                   <!--<div class="form-floating">
                                                       <div class="form-check-center">
                                                           <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                           <label class="form-check-label" for="flexCheckDefault">Generar Boleta Farmacia</label>
                                                       </div>
                                                       <div class="form-check">
                                                           <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                                           <label class="form-check-label" for="flexCheckChecked">Mandar Delivery</label>
                                                       </div>
                                                       <br>
                                                   </div > -->

                                                   <div class="d-grid gap d-md-flex justify-content-md-center">
                                                       <button  type="submit" class="btn btn-primary">Guardar</button>
                                                   </div>
                                               </form>
                                           </div>
                                       </div>
                                   </div>
                               </div><!--End Modal-->
                           </div>
                       </div>
                   </div>
               </div><!-- End Left side columns -->
           </div>
        </div>
    </section>
</main><!-- End #main -->



        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

        <!-- Vendor JS Files -->
        <script th:src="@{'/assets/vendor/apexcharts/apexcharts.min.js'}"></script>
        <script th:src="@{'/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'}"></script>
        <script th:src="@{'/assets/vendor/chart.js/chart.min.js'}"></script>
        <script th:src="@{'/assets/vendor/echarts/echarts.min.js'}"></script>
        <script th:src="@{'/assets/vendor/quill/quill.min.js'}"></script>
        <script th:src="@{'/assets/vendor/simple-datatables/simple-datatables.js'}"></script>
        <script th:src="@{'/assets/vendor/tinymce/tinymce.min.js'}"></script>
        <script th:src="@{'/assets/vendor/php-email-form/validate.js'}"></script>

        <!-- Template Main JS File -->
        <script th:src="@{'/assets/js/main.js'}"></script>

    </body>

</html>