<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/doctor/librerias.html :: cabecera (titulo = 'Historial Cita')">
</head>
<body>
<!-- ======= Header ======= -->
<header th:replace="fragments/doctor/header.html :: header(num_not = '3', num_form = '2 ', por_canc = '1', nombre = 'Abigail Ramirez', num_men = '2')">
</header>
<!-- End Header -->
        <!-- ======= Sidebar ======= -->
        <aside id="sidebar" class="sidebar">
            <ul class="sidebar-nav" id="sidebar-nav">
                <li class="nav-item">
                    <a class="nav-link collapsed" th:href="@{'/doctor/dashboard'}">
                        <i class="bi bi-grid"></i>
                        <span>Dashboard</span>
                    </a>
                </li><!-- End Dashboard -->
                <li class="nav-item"> <!-- Cambiar ref -->
                    <a class="nav-link"  th:href="@{'/doctor/pacientesatendidos'}">
                        <i class="bi bi-menu-button-wide"></i>
                        <span>Pacientes Atendidos</span>
                    </a>
                </li><!-- End Pacientes Atendidos -->
                <li class="nav-item">  <!-- cambia -->
                    <a class="nav-link collapsed"  th:href="@{'/doctor/calendario'}" >
                        <i class="bi bi-calendar3"></i>
                        <span>Calendario</span>
                    </a>
                </li><!-- End Calendario -->
                <li class="nav-item">  <!-- cambia -->
                    <a class="nav-link collapsed" th:href="@{'/doctor/perfil'}" >
                        <i class="bi bi-person"></i>
                        <span>Perfil</span>
                    </a>
                </li><!-- End Perfil -->
                <br><br><br><br>
                <br><br><br><br>
                <br><br><br><br>
                <br><br><br><br>
                <br><br><br>
                <li class="nav-heading"> ----------------------------------------------- </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" th:href="@{'/doctor/configuraciones'}" >
                        <i class="bi bi-gear"></i>
                        <span>Configuracion</span>
                    </a>
                </li><!-- End Configuracion -->
                <li class="nav-item">
                    <a class="nav-link collapsed" type="button" data-bs-toggle="modal" data-bs-target="#cerrar">
                        <i class="bi bi-box-arrow-in-right"></i>
                        <span>Cerrar Sesión</span>
                        <!-- Vertically centered Modal -->
                    </a>
                </li><!-- End Cerrar Sesion -->
            </ul>
        </aside><!-- End Sidebar-->
        <div class="modal fade" id="cerrar" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">¿Seguro que deseas Salir?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal"><a style="color: white" href="pages-login.html" >Salir </button>
                        <button type="button" class="btn btn-secondary"><a style="color: white" th:href="@{'/doctor/pacientesatendidos/verhistorial/vercita'}" >Cancelar</a></button>
                    </div>
                </div>
            </div>
        </div><!-- End Vertically centered Modal-->
        <main id="main" class="main">

            <div class="pagetitle">
                <h1>Cita 1</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{'/doctor/pacientesatendidos'}">Pacientes Atendidos</a></li>
                        <li class="breadcrumb-item"><a th:href="@{'/doctor/pacientesatendidos/verhistorial'}">Historial Clínico</a></li>
                        <li class="breadcrumb-item active">Cita 1</li>
                    </ol>
                </nav>
            </div><!-- End Page Title -->

            <section class="section ">
                <!-- Left side columns -->
                <div class="col-lg">
                    <div class="row">
                        <!-- Informacion Cita -->
                        <!--  <div class="col-xxl-4 col-xl-16"> -->
                        <div class="col">
                            <div class="card info-card customers-card">
                                <div class="card-body">
                                    <h5 class="card-title">Informacion de la Cita</h5>
                                    <div class="ps-3">
                                        <li>Paciente: <span th:text="${cita.getPaciente().getUsuario().getNombres() +cita.getPaciente().getUsuario().getApellidos()}"></span></li>
                                        <li>Edad: <span th:text="${cita.getPaciente().getUsuario().getEdad()}"></span> años</li>
                                        <li>Fecha: <span th:text="${cita.getFecha()}"></span></li>
                                        <li>Modalidad: <span th:text="${cita.getTipoCita().getNombre()}"></span></li>
                                        <li>Especialidad: <span th:text="${cita.getSeguro().getNombre()}"></span></li>
                                    </div>
                                </div>

                            </div> <!--End Informacion -->

                            <!-- Receta Medica -->

                            <div class="col-12">
                                <div class="card recent-sales overflow-auto">
                                    <div class="card-body">
                                        <h5 class="card-title">Receta Médica</h5>
                                        <table class="table">
                                            <thead class="table-light">
                                                <tr>
                                                    <th style="text-align: center" scope="col">Medicamento</th>
                                                    <th style="text-align: center" scope="col">Dosis</th>
                                                    <th style="text-align: center" scope="col">Descripción</th>
                                                    <!--<th style="text-align: center" scope="col">Opción</th> -->
                                                    <th style="text-align: center" scope="col">Editar</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each=" receta:${recetamedica}">
                                                    <td style="text-align: center" th:text="${receta.getMedicamento()}"></td>
                                                    <td style="text-align: center" th:text="${receta.getDosis()}"></td>
                                                    <td style="text-align: center" th:text="${receta.getDescripcion()}"></td>
                                                    <td> <!-- Vertically centered Modal -->
                                                        <div class="d-grid gap d-md-flex justify-content-md-center">
                                                            <a type="button" class="bi bi-pencil-square" data-bs-toggle="modal" data-bs-target="#verticalycentered5"></a>
                                                        </div>
                                                        <div class="modal fade" id="verticalycentered5" tabindex="-1">
                                                            <div class="modal-dialog modal-dialog-centered">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title">Receta Médica</h5>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <form th:action="@{'/doctor/pacientesatendidos/verhistorial/vercita/editarreceta'}">
                                                                            <input th:value="${receta.getIdRecetaMedica()}" name="idR" type="hidden">
                                                                            <input th:value="${cita.getIdcita()}" name="idcita" type="hidden">
                                                                            <div class="row mb-3">
                                                                                <label for="medicamento" class="col-md-4 col-lg-3 col-form-label">Medicamento</label>
                                                                                <div class="col-md-8 col-lg-9">
                                                                                    <input name="medicamento" type="text" class="form-control" id="medicamento" th:value="${receta.getMedicamento()}">
                                                                                </div>
                                                                            </div>

                                                                            <div class="row mb-3">
                                                                                <label for="dosis" class="col-md-4 col-lg-3 col-form-label">Dosis</label>
                                                                                <div class="col-md-8 col-lg-9">
                                                                                    <input name="dosis" type="text" class="form-control" id="dosis" th:value="${receta.getDosis()}">
                                                                                </div>
                                                                            </div>

                                                                            <div class="row mb-3">
                                                                                <label for="descripcion" class="col-md-4 col-lg-3 col-form-label">Descripcion</label>
                                                                                <div class="col-md-8 col-lg-9">
                                                                                    <input name="descripcion" type="text" class="form-control" id="descripcion" th:value="${receta.getDescripcion()}">
                                                                                </div>
                                                                            </div>

                                                                            <br>
                                                                            <!--
                                                                            <div class="form-floating">
                                                                                <div class="form-check-center">
                                                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
                                                                                    <label class="form-check-label" for="flexCheckDefault2">Generar Boleta Farmacia</label>
                                                                                </div>
                                                                                <div class="form-check">
                                                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked3" checked>
                                                                                    <label class="form-check-label" for="flexCheckChecked3">Mandar Delivery</label>
                                                                                </div>
                                                                                <br>
                                                                            </div > -->
                                                                            <br>
                                                                            <div class="d-grid gap d-md-flex justify-content-md-center">
                                                                                <button type="submit" class="btn btn-primary">Actualizar</button>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div><!-- End Vertically centered Modal--></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- Vertically centered Modal -->
                                        <div class="d-grid gap d-md-flex justify-content-md-center">
                                            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#verticalycentered">
                                                Añadir Receta
                                            </button>
                                        </div>
                                        <div class="modal fade" id="verticalycentered" tabindex="-1">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Receta Médica</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form method="post" th:action="@{'/doctor/pacientesatendidos/verhistorial/vercita/guardarreceta'}">

                                                            <input th:value="${cita.getIdcita()}" name="idcita" type="hidden">

                                                            <div class="form-floating">
                                                                <input name="medicamento" class="form-control" placeholder="Leave a comment here" id="floatingTextarea1">
                                                                <label for="floatingTextarea1">Medicamento</label>
                                                                <br>
                                                            </div >
                                                            <div class="form-floating">
                                                                <input name="dosis" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2">
                                                                <label for="floatingTextarea2">Dosis</label>
                                                                <br>
                                                            </div >
                                                            <div class="form-floating">
                                                                <input name="descripcion" class="form-control" placeholder="Leave a comment here" id="floatingTextarea3">
                                                                <label for="floatingTextarea3">Descripcion</label>
                                                                <br>
                                                            </div >
                                                            <!--<div class="form-floating">
                                                                <div class="form-check-center">
                                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                                    <label class="form-check-label" for="flexCheckDefault">Generar Boleta Farmacia</label>
                                                                </div>
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                                                    <label class="form-check-label" for="flexCheckChecked">Mandar Delivery</label>
                                                                </div>
                                                                <br>
                                                            </div > -->

                                                            <div class="d-grid gap d-md-flex justify-content-md-center">
                                                                <button  type="submit" class="btn btn-primary">Guardar</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- End Vertically centered Modal-->

                                        <!-- End Historial -->
                                    </div>
                                </div>
                            </div>
                        </div><!-- End Left side columns -->

                        <!-- Right side columns -->
                        <div class="col-lg-5">
                            <!-- Reporte -->
                            <div class="card recent-sales overflow-auto">
                                <div class="card-body">
                                    <h5 class="card-title">Reporte Médico</h5>
                                    <div class=" col-md-2">
                                        <ul class="nav nav-pills nav-stacked anyClass">

                                        </ul>
                                    </div>
                                    <div class="card">
                                        <!--<div class="card-header">
                                            Dr. Ramirez
                                        </div>-->
                                        <div class="card-body" >
                                            <p class="card-text" th:text="|${reportecita.getDescripcion()}|"></p>
                                        </div>
                                    </div>
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                                        <!-- Vertically centered Modal -->


                                        <div class="d-grid gap d-md-flex justify-content-md-center" th:if="${reportecita.getIdReporteCita() eq 0}">
                                            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#verticalycentered2">Añadir Reporte</button>
                                        </div>
                                        <div class="modal fade" id="verticalycentered2" tabindex="-1">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Reporte Médico</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form method="post" th:action="@{'/doctor/pacientesatendidos/verhistorial/vercita/guardarreporte'}">

                                                            <input th:value="${cita.getIdcita()}" name="id" type="hidden"/>

                                                            <div class="form-floating">
                                                                <input name="descripcion" class="form-control" placeholder="Leave a comment here" id="floatingTextarea4">
                                                                <label for="floatingTextarea1">Comentario</label>
                                                                <br>
                                                            </div >

                                                            <div class="d-grid gap d-md-flex justify-content-md-center">
                                                                <button type="submit" class="btn btn-primary">Guardar</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- End Vertically centered Modal-->
                                        <!-- Vertically centered Modal -->
                                        <div class="d-grid gap d-md-flex justify-content-md-center" th:unless="${reportecita.getIdReporteCita() eq 0}">
                                            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#verticalycentered3">Editar Reporte</button>
                                        </div>
                                        <div class="modal fade" id="verticalycentered3" tabindex="-1">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Reporte Médico</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form method="post" th:action="@{'/doctor/pacientesatendidos/verhistorial/vercita/guardarreporte'}">
                                                            <p><label for="floatingTextarea5">Dr(a) Ramirez:</label></p>
                                                            <input th:value="${cita.getIdcita()}" name="id" type="hidden"/>
                                                            <input th:value="${reportecita.descripcion}" name="descripcion" class="form-control" placeholder="Leave a comment here" id="floatingTextarea5">
                                                            <br>
                                                            <div class="d-grid gap d-md-flex justify-content-md-center">
                                                                <button type="submit" class="btn btn-primary">Actualizar</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- End Vertically centered Modal-->
                                    </div>

                                </div>
                            </div>
                            <!-- Fin Bitacora-->

                        </div>
                    </div>
                </div>
                </div><!-- End Left side columns -->
                </div>
                </div>
            </section>
        </main><!-- End #main -->



        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

        <!-- Vendor JS Files -->
        <script th:src="@{'/assets/vendor/apexcharts/apexcharts.min.js'}"></script>
        <script th:src="@{'/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'}"></script>
        <script th:src="@{'/assets/vendor/chart.js/chart.min.js'}"></script>
        <script th:src="@{'/assets/vendor/echarts/echarts.min.js'}"></script>
        <script th:src="@{'/assets/vendor/quill/quill.min.js'}"></script>
        <script th:src="@{'/assets/vendor/simple-datatables/simple-datatables.js'}"></script>
        <script th:src="@{'/assets/vendor/tinymce/tinymce.min.js'}"></script>
        <script th:src="@{'/assets/vendor/php-email-form/validate.js'}"></script>

        <!-- Template Main JS File -->
        <script th:src="@{'/assets/js/main.js'}"></script>

    </body>

</html>