<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>Dashboard - NiceAdmin Bootstrap Template</title>
        <meta content="" name="description">
        <meta content="" name="keywords">

        <!-- Favicons -->
        <link th:href="@{assets/img/favicon.png}" rel="icon">
        <link th:href="@{assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.gstatic.com" rel="preconnect">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


        <!-- Vendor CSS Files -->
        <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
        <link th:href="@{assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
        <link th:href="@{/assets/vendor/quill/quill.snow.css}" rel="stylesheet">
        <link th:href="@{/assets/vendor/quill/quill.bubble.css}" rel="stylesheet">
        <link th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
        <link th:href="@{/assets/vendor/simple-datatables/style.css}" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link th:href="@{/assets/css/style.css}" rel="stylesheet">
    </head>

    <body>

        <!-- ======= Header ======= -->
        <header id="header" class="header fixed-top d-flex align-items-center">

            <div class="d-flex align-items-center justify-content-between">
                <a th:href="@{'/doctor/dashboard'}" class="logo d-flex align-items-center">
                    <img src="../../static/assets/img/logo.png" alt="">
                    <span class="d-none d-lg-block">Clínica La Fe</span>
                </a>
                <i class="bi bi-list toggle-sidebar-btn"></i>
            </div><!-- End Logo -->

            <div class="search-bar">
                <form class="search-form d-flex align-items-center" method="POST" action="#">
                    <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                    <button type="submit" title="Search"><i class="bi bi-search"></i></button>
                </form>
            </div><!-- End Search Bar -->

            <nav class="header-nav ms-auto">
                <ul class="d-flex align-items-center">

                    <li class="nav-item d-block d-lg-none">
                        <a class="nav-link nav-icon search-bar-toggle " href="#">
                            <i class="bi bi-search"></i>
                        </a>
                    </li><!-- End Search Icon-->

                    <li class="nav-item dropdown">

                        <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                            <i class="bi bi-bell"></i>
                            <span class="badge bg-primary badge-number">3</span>
                        </a><!-- End Notification Icon -->

                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                            <li class="dropdown-header">
                                Tienes 4 nuevas notificaciones
                                <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">Ver todas</span></a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li class="notification-item">
                                <i class="bi bi-exclamation-circle text-warning"></i>
                                <div>
                                    <h4>Cita Presencial</h4>
                                    <p>Hora: 10:00 - 11:00 am</p>
                                    <p>Sede: Jesus Maria</p>
                                    <p>Hace 30 min.</p>
                                </div>
                            </li>

                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <!--
                            <li class="notification-item">
                              <i class="bi bi-x-circle text-danger"></i>
                              <div>
                                <h4>Atque rerum nesciunt</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>1 hr. ago</p>
                              </div>
                            </li>
                            <li>
                              <hr class="dropdown-divider">
                            </li>
                            -->

                            <li class="notification-item">
                                <i class="bi bi-check-circle text-success"></i>
                                <div>
                                    <h4>Reporte Añadido</h4>
                                    <p>xxxxxxxxxxxxxxxx</p>
                                    <p>Hace 2 hrs.</p>
                                </div>
                            </li>

                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li class="notification-item">
                                <i class="bi bi-info-circle text-primary"></i>
                                <div>
                                    <h4>xxxxxxxxxx</h4>
                                    <p>xxxxxxxxxxx</p>
                                    <p>Hace 4 hrs.</p>
                                </div>
                            </li>

                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li class="dropdown-footer">
                                <a href="#">Mostrar todas las notificaciones</a>
                            </li>

                        </ul><!-- End Notification Dropdown Items -->

                    </li><!-- End Notification Nav -->

                    <li class="nav-item dropdown">

                        <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                            <i class="bi bi-chat-left-text"></i>
                            <span class="badge bg-success badge-number">2</span>
                        </a><!-- End Messages Icon -->

                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                            <li class="dropdown-header">
                                Tienes 2 nuevas notificaciones
                                <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">Ver todo</span></a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li class="message-item">
                                <a href="#">
                                    <img src="../../static/assets/img/messages-1.jpg" alt="" class="rounded-circle">
                                    <div>
                                        <h4>Maria Hudson</h4>
                                        <p>Doctora buenas tardes, tenia una consulta con respecto ...</p>
                                        <p>Hace 2 hrs.</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li class="message-item">
                                <a href="#">
                                    <img src="../../static/assets/img/messages-2.jpg" alt="" class="rounded-circle">
                                    <div>
                                        <h4>Anna Nelson</h4>
                                        <p> xxxxxxxxxxxxxxxxxxxxxxx </p>
                                        <p>Hace 3 hrs.</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li class="dropdown-footer">
                                <a href="#">Mostrar todos los mensajes</a>
                            </li>

                        </ul><!-- End Messages Dropdown Items -->

                    </li><!-- End Messages Nav -->

                    <li class="nav-item dropdown pe-3">

                        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                            <img src="https://img.freepik.com/foto-gratis/hermosa-joven-doctora-mirando-camara-oficina_1301-7807.jpg?w=2000" alt="Profile" class="rounded-circle">
                            <span class="d-none d-md-block dropdown-toggle ps-2">Abigail Ramirez</span>
                        </a><!-- End Profile Iamge Icon -->

                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                            <li class="dropdown-header">
                                <h6>Abigail Ramirez</h6>
                                <span>Doctor</span>
                            </li>

                        </ul><!-- End Profile Dropdown Items -->
                    </li><!-- End Profile Nav -->

                </ul>
            </nav><!-- End Icons Navigation -->

        </header><!-- End Header -->

        <!-- ======= Sidebar ======= -->
        <aside id="sidebar" class="sidebar">

            <ul class="sidebar-nav" id="sidebar-nav">

                <li class="nav-item">
                    <a class="nav-link collapsed" th:href="@{'/doctor/dashboard'}" >
                        <i class="bi bi-grid"></i>
                        <span>Dashboard</span>
                    </a>
                </li><!-- End Dashboard -->

                <li class="nav-item"> <!-- Cambiar ref -->
                    <a class="nav-link"  th:href="@{'/doctor/pacientesatendidos'}" >
                        <i class="bi bi-menu-button-wide"></i>
                        <span>Pacientes Atendidos</span>
                    </a>
                </li><!-- End Pacientes Atendidos -->


                <li class="nav-item">  <!-- cambia -->
                    <a class="nav-link collapsed"  th:href="@{'/doctor/calendario'}" >
                        <i class="bi bi-calendar3"></i>
                        <span>Calendario</span>
                    </a>
                </li><!-- End Calendario -->

                <li class="nav-item">  <!-- cambia -->
                    <a class="nav-link collapsed" th:href="@{'/doctor/perfil'}"  >
                        <i class="bi bi-person"></i>
                        <span>Perfil</span>
                    </a>
                </li><!-- End Perfil -->

                <br><br><br><br>
                <br><br><br><br>
                <br><br><br><br>
                <br><br><br>
                <br><br>
                <li class="nav-heading"> ----------------------------------------------- </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" th:href="@{'/doctor/configuraciones'}" >
                        <i class="bi bi-gear"></i>
                        <span>Configuracion</span>
                    </a>
                </li><!-- End Configuracion -->


                <li class="nav-item">
                    <a class="nav-link collapsed" type="button" data-bs-toggle="modal" data-bs-target="#verticalycentered">
                        <i class="bi bi-box-arrow-in-right"></i>
                        <span>Cerrar Sesión</span>
                        <!-- Vertically centered Modal -->

                    </a>
                </li><!-- End Cerrar Sesion -->
            </ul>

        </aside><!-- End Sidebar-->
        <div class="modal fade" id="verticalycentered" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">¿Seguro que deseas Salir?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal"><a style="color: white" href="pages-login.html" >Salir</button>
                        <button type="button" class="btn btn-secondary"><a style="color: white" th:href="@{'/doctor/pacientesatendidos/verhistorial'}" >Cancelar</a></button>
                    </div>
                </div>
            </div>
        </div><!-- End Vertically centered Modal-->


        <main id="main" class="main">

            <div class="pagetitle">
                <h1>Historial Clínico</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{'/doctor/dashboard'}" >Home</a></li>
                        <li class="breadcrumb-item"><a th:href="@{'/doctor/pacientesatendidos'}">Pacientes Atendidos</a></li>
                        <li class="breadcrumb-item active">Historial Clínico</li>
                    </ol>
                </nav>
            </div><!-- End Page Title -->

            <section class="section ">
                <!-- Left side columns -->
                <div class="col-lg">
                    <div class="row">
                        <!-- Informacion del Paciente -->
                        <!--  <div class="col-xxl-4 col-xl-16"> -->
                        <div class="col">
                            <div class="card info-card customers-card">
                                <div class="card-body">
                                    <h5 class="card-title">Informacion del Paciente </h5>
                                    <div class="d-flex align-items-center">
                                        <div class="ps-3">
                                            <li>Nombre: <span th:text="${paciente.getUsuario().getNombres() +paciente.getUsuario().getApellidos()}"></span></li>
                                            <li>Edad: <span th:text="${paciente.getUsuario().getEdad()}"></span></li>
                                            <li>Condicion/Enfermedad: <span th:text="${paciente.getCondicionEnfermedad()}"></span></li>
                                            <li>Seguro: <span th:text="${paciente.getSeguro().getNombre()}"></span></li>
                                            <li>Estado Paciente: <span th:text="${paciente.getEstadoPaciente().getNombre()}"></span> </li>
                                            <li>Correo: <span th:text="${paciente.getUsuario().getCorreo()}"></span></li>
                                        </div>
                                    </div>
                                </div>

                            </div> <!--End Informacion -->

                            <!-- Historial de citas -->

                            <div class="col-12">
                                <div class="card recent-sales overflow-auto">
                                    <div class="card-body">
                                        <h5 class="card-title">Historial de Citas</h5>

                                        <table class="table">
                                            <thead class="table-light">
                                                <tr>
                                                    <th style="text-align: center" scope="col"># Cita</th>
                                                    <th style="text-align: center" scope="col">Fecha</th>
                                                    <th style="text-align: center" scope="col">Modalidad</th>
                                                    <th style="text-align: center" scope="col">Boleta</th>
                                                    <th style="text-align: center" scope="col">Ver Más</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each=" cita,indice:${citaspaciente}">
                                                    <th style="text-align: center" th:text="${indice.index+1}" scope="row"></th>
                                                    <td style="text-align: center" th:text="${cita.getFecha()}"></td>
                                                    <td style="text-align: center" th:text="${cita.getTipoCita().getNombre()}"></td>
                                                    <td style="text-align: center"> <a type="button" class="bi bi-printer-fill"></a> </td>
                                                    <td style="text-align: center"> <a type="button" class="bi bi-eye-fill" th:href="@{'/doctor/pacientesatendidos/verhistorial/vercita'+ '?id=' + ${cita.getIdcita()}}"></a> </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- End Historial -->
                                    </div>
                                </div>
                            </div>
                        </div><!-- End Left side columns -->

                        <!-- Right side columns -->
                        <div class="col-lg-5">
                            <!-- Bitacora -->
                            <div class="card recent-sales overflow-auto">
                                <div class="card-body">
                                    <h5 class="card-title">Bitacora de Diagnostico</h5>
                                    <div class=" col-md-2">
                                        <ul class="nav nav-pills nav-stacked anyClass">

                                        </ul>
                                    </div>
                                    <div class="card" th:each="bitacora:${bitacoradiagnostico}">
                                        <div class="card-header">
                                            Dr(a) Abigail Ramirez
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text"><span th:text="${bitacora.getDescripcion()}"></span></p>
                                            <p class="card-text"><span th:text="${bitacora.getFechayhora()}"></span></p>
                                        </div>
                                    </div>
                                    <!--<div class="card">
                                        <div class="card-header">
                                            Dr. Fernandez
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">xxxxxxxxxxxxxxx</p>
                                        </div>
                                    </div>-->
                                    <div class="mb-3">
                                        <h5 class="card-title">Añadir Comentario</h5>
                                        <form method="post" th:action="@{'/pacientesatendidos/verhistorial/guardarbitacora'}">
                                            <div class="form-floating">
                                                <input th:value="${paciente.getIdpaciente()}" name="id" type="hidden"/>
                                                <input name="descripcion" class="form-control" placeholder="Leave a comment here" id="floatingTextarea">
                                                <label for="floatingTextarea">Comentario</label>
                                                <br>
                                            </div >
                                            <div class="d-grid gap d-md-flex justify-content-md-center">
                                                <button  type="submit" class="btn btn-primary">Guardar</button>
                                            </div>

                                        </form>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main><!-- End #main -->



        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

        <!-- Vendor JS Files -->
        <script th:src="@{'/assets/vendor/apexcharts/apexcharts.min.js'}"></script>
        <script th:src="@{'/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'}"></script>
        <script th:src="@{'/assets/vendor/chart.js/chart.min.js'}"></script>
        <script th:src="@{'/assets/vendor/echarts/echarts.min.js'}"></script>
        <script th:src="@{'/assets/vendor/quill/quill.min.js'}"></script>
        <script th:src="@{'/assets/vendor/simple-datatables/simple-datatables.js'}"></script>
        <script th:src="@{'/assets/vendor/tinymce/tinymce.min.js'}"></script>
        <script th:src="@{'/assets/vendor/php-email-form/validate.js'}"></script>

        <!-- Template Main JS File -->
        <script th:src="@{'/assets/js/main.js'}"></script>

    </body>

</html>